{% load wagtailcore_tags wagtailimages_tags %}

<div class="offset-lg-3 col-lg-6">
    <div class="block block--image-cta">
        {% image value.image max-600x200 as image %}
        <a href="{{ value.link }}" class="block--image-cta__img" style="background-image: url({{ image.url }})">
            {% if value.image.copyright %}
                <div class="block--image-cta__copyright copyright">© {{ value.image.copyright }}</div>
            {% endif %}
        </a>
        <div class="block--image-cta__body">
            <h2 class="u-first-heading">{{ value.title }}</h2>
            {{ value.body|richtext }}
            <a href="{{ value.link }}" class="btn btn--primary">{{ value.link_text }}</a>
        </div>
    </div>
</div>
