{% load rules i18n %}
<div class="block block--projects">
    <h2>{{ value.title }}</h2>
    <ul class="l-tiles-4">
        {% for project in value.projects %}
            {% if project and not project.is_private and not project.is_draft %}
                {% include "meinberlin_projects/includes/project_tile.html" with project=project %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="block__actions">
        <a href="{% url 'meinberlin_plans:plan-list' %}" class="btn btn--primary">{% trans 'Show all projects' %}</a>
    </div>
</div>
