{% load i18n static %}

<div class="tile">
    <div class="tile__image">
        <img src="{% static blueprint.image %}" alt="">
    </div>
    <div class="tile__body">
        <h3 class="tile__title">{{ blueprint.title }}</h3>
        <div class="tile__text">
            {{ blueprint.description | linebreaks }}

            <ul>
                {% for phase_content in blueprint.content %}
                    <li><strong>Phase {{ forloop.counter }}</strong>: {{ phase_content.description }}</li>
                {% endfor %}
            </ul>
        </div>

        <a href="{% url 'dashboard-project-create' organisation_slug=view.organisation.slug blueprint_slug=blueprint_slug %}"
           class="button">
            {% trans 'Select'%}
        </a>
    </div>
</div>
