{% load i18n %}

<div
    class="tabpanel active"
    id="tabpanel-project-create-{{ view.organisation.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-create-{{ view.organisation.pk }}-information"
    aria-expanded="true">

    {% for error in form.project.non_field_errors %}
        <span>{{ error }}</span>
    {% endfor %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.name %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.image %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.tile_image %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.description %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.information %}

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.project.is_public %}

    {% if view.object %}
        {% include 'meinberlin_embed/includes/project_embed_code.html' with project=view.object %}
    {% endif %}
</div>
