{% load i18n %}

<div
    class="tabpanel active"
    id="tabpanel-project-create-{{ view.organisation.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-create-{{ view.organisation.pk }}-information"
    aria-expanded="true">

    {% for error in form.project.non_field_errors %}
        <span>{{ error }}</span>
    {% endfor %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.name %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.description %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project.information %}
</div>
