{% load i18n %}

<div
    class="tabpanel"
    id="tabpanel-project-create-{{ view.organisation.pk }}-participation"
    role="tabpanel"
    aria-labelledby="tab-project-create-{{ view.organisation.pk }}-participation"
    aria-expanded="false">


    {% for field in form.module_settings.visible_fields %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=field %}
    {% endfor %}

    {% if form.show_categories_form %}
        <h2>{% trans 'Categories' %} </h2>
        <div class="js-formset"
             data-prefix="{{ form.categories.prefix }}"
             data-initial-id="{{ form.categories.initial_form_count }}">
            {{ form.categories.management_form }}
            {% for category_form in form.categories %}
                <div class="js-form">
                    {% include 'meinberlin_contrib/includes/inline_form_field.html' with field=category_form.name %}
                    {{ category_form.DELETE }}
                    {% for hidden in category_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="js-empty-form">
                <div class="js-form">
                    {% include 'meinberlin_contrib/includes/inline_form_field.html' with field=form.categories.empty_form.name %}
                    {{ form.categories.empty_form.DELETE }}
                    {% for hidden in form.categories.empty_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
            </div>
        <button class="button button--primary js-add-form" type="button">
            <i class="fa fa-plus-square" aria-label="{% trans 'add category' %}"></i>
        </button>
        </div>
    {% endif %}

    <h2>{% trans 'Phases' %} </h2>
    {{ form.phases.management_form }}
    {% for phase_form in form.phases %}
        {% include 'meinberlin_dashboard/includes/phase_form.html' with form=phase_form view=view %}
    {% endfor %}

</div>
