{% load i18n %}

<div
    class="tabpanel active"
    id="tabpanel-project-create-{{ view.organisation.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-create-{{ view.organisation.pk }}-information"
    aria-expanded="true">

    {% for error in form.project.non_field_errors %}
        <span>{{ error }}</span>
    {% endfor %}

    <div class="form-group">
        <label for="{{ form.project.name.id_for_label }}">
            {% trans 'Name'%}
        </label>
        {{ form.project.name }}
        {{ form.project.name.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.project.description.id_for_label }}">
            {% trans 'Description'%}
        </label>
        {{ form.project.description }}
        {{ form.project.description.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.project.information.id_for_label }}">
            {% trans 'Information'%}
        </label>
        {{ form.project.information }}
        {{ form.project.information.errors }}
    </div>
</div>
