{% load i18n %}

<form enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% include 'meinberlin_dashboard/includes/project_form_tablist.html' with form=form view=view %}

    {% include 'meinberlin_dashboard/includes/project_form_tab_info.html' with form=form view=view %}

    {% include 'meinberlin_dashboard/includes/project_form_tab_participate.html' with form=form view=view %}

    {% include 'meinberlin_dashboard/includes/project_form_tab_result.html' with form=form view=view %}

    <input type="submit" class="button button--primary" value="{% trans 'Save' %}" />

</form>
