{% load i18n widget_tweaks %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_forms.management_form }}


    {% include 'a4forms/includes/form_field.html' with field=form.name %}
    {% include 'a4forms/includes/form_field.html' with field=form.description %}
    {% include 'a4forms/includes/form_field.html' with field=form.date %}

    <hr />

    <h3>{% trans 'Downloads' %}</h3>
    {% for upload_form in upload_forms %}
        <div>
            {% include 'a4forms/includes/form_field.html' with field=upload_form.title %}
            {% include 'a4forms/includes/form_field.html' with field=upload_form.document %}

            {% if upload_forms.can_delete %}
                {% include 'a4forms/includes/form_checkbox_field.html' with field=upload_form.DELETE %}
            {% endif %}
        </div>

        {% if forloop.last and forloop.counter < upload_forms.max_num %}
            <p class='form-help-text'>{% trans 'You can add additional files after saving the current file.' %}</p>
        {% endif %}
    {% endfor %}

    <input type="submit" class="btn btn--primary" value="{% trans 'Save'%}" />
    <a href="{{ cancel }}" class="btn btn--light">{% trans 'Cancel'%}</a>
</form>
