{% extends "meinberlin_contrib/item_detail.html" %}
{% load static maps_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'a4maps/map_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block additional_content %}
    {% if object.point %}
        {% map_display_point object.point object.module.settings_instance.polygon %}
    {% endif %}
{% endblock %}
