{% extends "meinberlin_contrib/item_detail.html" %}
{% load static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'a4maps/map_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block additional_content %}
    {% if object.point %}
        <div
                style="height: 300px;"
                data-map="display_point"
                data-baseurl="{{ map_url }}"
                data-point="{{ point }}"
                data-polygon="{{ polygon }}"
        ></div>
    {% endif %}
{% endblock %}
