<div class="list-item list-item--squashed">
    <div class="list-item__stats">
        {% spaceless %}
        <span class="rating">
            <span class="rating-button rating-up is-read-only" title="Positive Ratings">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
                {{ proposal.positive_rating_count }}
            </span>
            <span class="rating-button rating-down is-read-only" title="Negative Ratings">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                {{ proposal.negative_rating_count }}
            </span>
        </span>
        <span title="Comments" class="list-item__comments">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            {{ proposal.comment_count }}
        </span>
        {% endspaceless %}
    </div>
    <h3 class="list-item__title">
        <a href="{% url 'budgeting:proposal-detail' proposal.slug %}">
        {{ proposal.name }}
        </a>
    </h3>
    <span class="list-item__author">
        {{ proposal.creator.username }}
    </span>
    <span class="list-item__date">
        {{ proposal.created | date }}
    </span>
    {% if proposal.category %}
        <span class="category">{{ proposal.category }}</span>
    {% endif %}
    {% include 'meinberlin_moderatorfeedback/includes/moderatorfeedback.html' with item=proposal %}

</div>
