{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block subject %}{% endblock %}</title>
    </head>
    <body style="margin: 0; padding: 0; min-width: 100% !important; line-height: 1.2;">
        <div style="margin: 20px auto; padding: 24px; width: 100%; max-width: 650px; background-color: #fff; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                <tr>
                    {% block logo %}
                    <td style="padding-top: 20px; text-align: center; display: flex; justify-content: center;" align="center">
                        <div style="width: 15%; min-width: 100px; height: auto; margin-left: auto; margin-right: auto; text-align: center;">
                        {% if organisation.logo %}
                            <img src="cid:organisation_logo" alt="Logo" style="width: 100%;">
                        {% else %}
                            <img src="cid:logo" alt="Logo" style="width: 100%;">
                        {% endif %}
                        </div>
                    </td>
                    {% endblock %}
                </tr>
                <tr>
                    <td style="padding-top: 20px; text-align: center; margin-left: auto; margin-right: auto;" align="center">
                        <h2>{% block headline %}{% endblock %}</h2>
                        <h3 style="color: #818181;">
                        {% block sub-headline %}{% endblock %}</h3>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px; text-align: center;" align="center">
                        <p>
                            {% block greeting %}
                            {% translate 'Hello' %},
                            {% endblock %}
                        </p>
                        <p>
                            {% block content_html %}
                                <div style="text-align: left;">{% block newsletter_content %}{% endblock %} </div>
                                {% block content %}{% endblock %}
                                <div style="text-align: left;">{% block content_left_aligned %}{% endblock %}</div>
                            {% endblock %}
                        </p>
                    </td>
                </tr>
                {% block cta %}
                    <tr>
                        <td style="padding-top: 20px; text-align: center;" align="center">
                            <a href="{% block cta_url %}{% endblock %}"
                               style="padding: 0 20px; font-weight: bold; line-height: 40px; margin: 0 auto; color: #fff;
                                    background-color: #253276; border-color: #253276; display: inline-block;
                                    vertical-align: middle; text-decoration: none;">
                                {% block cta_label %}{% endblock %}
                            </a>
                        </td>
                    </tr>
                {% endblock %}
                <tr>
                    <td style="color: #818181; font-size: x-small; padding-top: 20px;">
                        <hr />
                        {% block reason %}
                        {% endblock %}
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 15px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                            <tr>
                                {% if organisation.logo %}
                                    <td style="width: 1%; padding-right: 10px">
                                        <img width="50" src="cid:logo" style="width: 50px;" alt="MeinBerlin" >
                                    </td>
                                {% endif %}
                                <td style="color: #818181; font-size: x-small; vertical-align: top;">
                                    <p>
                                        {% translate 'meinBerlin is a participation platform operated by' %}<br />
                                        Liquid Democracy e.V., Am Sudhaus 2, D-12053 Berlin
                                    </p>
                                    <p>
                                        <a href="{{ email.get_host }}/contact">{% translate 'Contact' %}</a><br />
                                        <a href="{{ email.get_host }}/terms-of-use">{% translate 'Terms of use' %}</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
