{% load menu static %}

<footer class="main-footer">
    <div class="l-wrapper">
        <div class="shariff" data-theme="white"></div>
        <nav class="footer-nav u-spacer-bottom-double">
            {% get_menu "footer-nav" as footer_nav %}
            {% for item in footer_nav %}
                <a class="footer-nav__link" href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
        <div class="footer__logo">
              <img class="beberlin__logo" src="{% static 'images/beberlin.svg' %}" alt="be Berlin" width="127.5" height="30"/>
        <a href="https://www.berlin.de/" class="berlin__logo" rel="home">
            <img src="{% static 'images/berlin_de.png' %}" alt="Zur Homepage von Berlin.de" width="125" height="31"/>
        </a>
        </div>
    </div>
</footer>
