{% load menu userindicator static i18n %}

<header class="main-header">
    <div class="l-wrapper">
        <nav class="main-nav">
            <img class="beberlin-logo" src="{% static 'images/beberlin.svg' %}" height="22" width="90" alt="be Berlin" />
            <a href="/" class="main-nav__logo" rel="home">
                <img src="{% static 'images/LOGO.png' %}" alt="mein.berlin"/>
            </a>
            <button class="button button--light main-nav__toggle" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false" aria-controls="menu-collapse">
                <i class="fa fa-bars" aria-hidden="true"></i>
                {% trans 'Menu' %}
            </button>
            <div class="main-nav__menu-wrapper collapse" id="menu-collapse">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a class="main-nav__link" href="{% url 'project-list' %}">{% trans 'Participation projects' %}</a>
                    </li>
                    {% get_menu "topnav" as topnav %}
                    {% for item in topnav %}
                        <li class="main-nav__item">
                            <a class="main-nav__link" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="main-header__user">
                    {% userindicator %}
                </div>
            </div>
        </nav>
    </div>
    <div class="dialogue-box">
        {# Static markup to allow the blue border with the spike from Berlin's CD #}
        <div class="dialogue-box__left"></div>
        <div class="dialogue-box__center"></div>
        <div class="dialogue-box__right"></div>
    </div>
</header>
