{% load menu userindicator static i18n %}

<header class="main-header">
    <div class="l-wrapper">
        <nav class="main-nav">
            <a href="/" class="main-nav__logo" rel="home">
                <img src="{% static 'images/LOGO.png' %}" alt="mein.berlin"/>
            </a>
            <ul>
                <li>
                    <a class="main-nav__item" href="{% url 'project-list' %}">{% trans 'Participation processes' %}</a>
                </li>
                {% get_menu "topnav" as topnav %}
                {% for item in topnav %}
                    <li>
                        <a class="main-nav__item" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="main-header__user">
            {% userindicator %}
        </div>
    </div>
    <div class="dialogue-box">
        <div class="dialogue-box__left"></div>
        <div class="dialogue-box__center"></div>
        <div class="dialogue-box__right"></div>
    </div>
</header>
