{% load menu userindicator static i18n %}

<header class="main-header">
    <div class="l-wrapper">
        <nav class="main-nav">
            <div class="main-nav__nav-item">
                <button
                    class="btn btn--light main-nav__toggle"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu-collapse"
                    aria-expanded="false"
                    aria-controls="menu-collapse"
                    aria-label="{% trans 'Menu' %}">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
                <div class="main-nav__menu-wrapper collapse" id="menu-collapse">
                    <ul class="main-nav__list">
                        <li class="main-nav__item">
                            <a class="main-nav__link {% if request.path == '/' %}is-active{% else %}not-active{% endif %}" href="/" aria-label="{% trans 'Home' %}"><i class="fas fa-home"></i><span class="main-nav__link-home">{% trans 'Home' %}</span></a>
                        </li>
                        <li class="main-nav__item">
                            {% url 'meinberlin_plans:plan-list' as project_list %}
                            <a class="main-nav__link {% if request.path == project_list %}is-active{% else %}not-active{% endif %}" href="{% url 'meinberlin_plans:plan-list' %}">{% trans 'Project overview' %}</a>
                        </li>
                        {% get_menu "topnav" as topnav %}
                        {% for item in topnav %}
                            <li class="main-nav__item">
                                <a class="main-nav__link {% if request.path == item.url %}is-active{% else %}not-active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="main-nav__logo-item">
                <a href="/" class="main-nav__logo" rel="home">
                    <img src="{% static 'images/LOGO.png' %}" alt="mein.berlin"/>
                </a>
            </div>
            <div class="main-nav__nav-item main-nav__nav-item--right">
                <button
                    class="btn btn--secondary main-nav__toggle"
                    data-bs-toggle="collapse"
                    data-bs-target="#user-menu-collapse"
                    aria-expanded="false"
                    aria-controls="user-menu-collapse"
                    aria-label="{% trans 'User Menu' %}">
                    <i class="fas fa-user"></i>
                </button>
                <div class="main-nav__menu-wrapper collapse" id="user-menu-collapse">
                    <div class="main-header__user">
                        {% userindicator %}
                    </div>
                    <ul class="main-nav__list">
                        {% if settings.meinberlin_cms.HeaderPages.help_page %}
                        <li class="main-nav__item">
                            <a class="main-nav__link {% if request.path == settings.meinberlin_cms.HeaderPages.help_page.get_url %}is-active{% else %}not-active{% endif %}" href="{{ settings.meinberlin_cms.HeaderPages.help_page.get_url }}">{% trans 'Help' %}</a>
                        </li>
                        {% endif %}
                        {% if settings.meinberlin_cms.HeaderPages.feedback_page %}
                        <li class="main-nav__item">
                            <a class="main-nav__link {% if request.path == settings.meinberlin_cms.HeaderPages.feedback_page.get_url %}is-active{% else %}not-active{% endif %}" href="{{ settings.meinberlin_cms.HeaderPages.feedback_page.get_url }}">{% trans 'Give Feedback' %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
