{# curl http://www.berlin.de/politik-verwaltung-buerger/ | grep -A 30 'NAVIGATION BEGIN: portal' #}
{% load i18n %}
<div class="portal-header">
    <div class="l-wrapper">
        <div class="portal-header__red-line"></div>
        <a class="portal-header__logo" href="http://www.berlin.de/">
            <img src="//www.berlin.de/i9f/images/berlin_de.png" alt="Zur Homepage von Berlin.de" />
        </a>

        <nav aria-label="{% trans 'Portal Navigation' %}">
            <ul class="portal-header__nav">
                <li><a href="http://www.berlin.de/politik-verwaltung-buerger/">Politik, Verwaltung, Bürger</a></li>
                <li><a href="http://www.berlin.de/kultur-und-tickets/">Kultur &#38; Ausgehen</a></li>
                <li><a href="http://www.berlin.de/tourismus/">Tourismus</a></li>
                <li><a href="http://www.berlin.de/wirtschaft/">Wirtschaft</a></li>
                <li><a href="http://www.berlin.de/special/">Themen</a></li>
                <li><a href="http://www.berlin.de/adressen/">BerlinFinder</a></li>
                <li><a href="https://www.berlin.de/stadtplan/">Stadtplan</a></li>
            </ul>
        </nav>
    </div>
</div>
