{# curl http://www.berlin.de/politik-verwaltung-buerger/ | grep -A 30 'NAVIGATION BEGIN: portal' #}

<!-- NAVIGATION BEGIN: portal -->

<div class="html5-header portal-header hidden-phone">
    <div class="l-wrapper">
        <div class="red-line"></div>
        <div class="html5-figure main-image">
            <a href="http://www.berlin.de/">
                <img class="portal-logo hide-mobile" src="//www.berlin.de/i9f/images/berlin_de.png" alt="Zur Homepage von Berlin.de" />
            </a>
        </div><!-- /html5-figure -->

        <p class="navSkip hidden-phone osvnp">Navigiere direkt zu:</p>
        <ul class="navSkip hidden-phone">
            <li><a href="#aural_institutionssuche">Suche</a></li>
            <li><a href="#aural_maincontent">Inhalt</a></li>
        </ul>

        <nav aria-label="Portal Navigation">
            <h6 class="aural">Portal Navigation</h6>
            <p class="aural" id="bo-portalnavilinkslabel">Besuchen Sie auch unsere anderen Themen-Bereiche:</p>
            <ul class="portal-navi" id="bo-portalnavilinks" aria-labelledby="bo-portalnavilinkslabel">
                <li class="active"><a href="http://www.berlin.de/politik-verwaltung-buerger/">Politik, Verwaltung, Bürger</a></li>
                <li><a href="http://www.berlin.de/kultur-und-tickets/">Kultur &#38; Ausgehen</a></li>
                <li><a href="http://www.berlin.de/tourismus/">Tourismus</a></li>
                <li><a href="http://www.berlin.de/wirtschaft/">Wirtschaft</a></li>
                <li><a href="http://www.berlin.de/special/">Themen</a></li>
                <li><a href="http://www.berlin.de/adressen/">BerlinFinder</a></li>
                <li><a href="https://www.berlin.de/stadtplan/">Stadtplan</a></li>
            </ul>
        </nav><!-- /html5-nav -->
    </div>
</div><!-- /html5-header -->
<!-- NAVIGATION END: portal -->
