root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{js,jsx,json}]
indent_size = 2

[Makefile]
indent_style = tab

# isort configuration
[*.py]
skip=migrations,node_modules,venv
skip_glob = */migrations/*.py
known_first_party=adhocracy4, tests
force_single_line = true
