{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true,
    "jest/globals": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:n/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended"
    ],
  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "jsx-a11y/no-onchange": "off",
    "react/prop-types": "off",
    "n/no-missing-require": "off",
    "n/no-unsupported-features/es-syntax": "off",
    "n/no-missing-import": "off",
    "n/no-unpublished-import": "off",
    "n/no-extraneous-import": "off",
    "no-restricted-syntax": ["error", "TemplateLiteral"]
  },
  "plugins": [
    "jsx-a11y",
    "jest",
    "promise"
  ],
  "ignorePatterns": [
    "node_modules/",
    "venv/"
  ],
  "settings": {
    "import/core-modules": [ django ],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}

