{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true,
    "jest/globals": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:n/recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "jsx-a11y/no-onchange": "off",
    "react/prop-types": "off",
    "n/no-missing-require": "off",
    "n/no-unsupported-features/es-syntax": "off",
    "n/no-missing-import": "off",
    "n/no-unpublished-import": "off",
    "n/no-extraneous-import": "off",
    "no-restricted-syntax": ["error", "TemplateLiteral"],
    "import/default": "warn",
    "semi": "off",
    // TypeScript specific rules
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/ban-ts-comment": ["error", { "ts-expect-error": "allow-with-description" }]
  },
  "plugins": [
    "jsx-a11y",
    "jest",
    "promise",
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "node_modules/",
    "venv/",
    "*.d.ts"
  ],
  "settings": {
    "import/core-modules": ["django"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}