{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:react/recommended"
  ],
  "rules": {
    "jsx-quotes": [2, "prefer-double"],
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.jest.js",
        "**/*.jest.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
