# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache
coverage/

# Translations
*.mo
*.pot

# Environments
venv/
/pyvenv.cfg
/pip-selfcheck.json
.python-version

# Node
node_modules/
package-lock.json
npm-debug.log*
/webpack-stats.json

# IDEs
.idea/

# Django databases
*.sqlite3*

# Local instance specific settings
meinberlin/config/settings/local.py

# Generated static files
meinberlin/static/
static/

# Media
media/

# setuptools
/build
/dist
/*.egg-info
/share

# OS
.DS_Store

# sass
.sass-cache
