*.mo
*__pycache__/
test_db.sqlite3
db.sqlite3*
node_modules/
package-lock.json
meinberlin/config/settings/local.py
venv/
.idea/
.cache/
.coverage
htmlcov/
media/
meinberlin/static/
static/

# setuptools
/build
/dist
/*.egg-info
/share
