<!DOCTYPE html>
{% load static i18n %}
<html class="embed">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Embedded meinBerlin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'meinberlin.css' %}" />
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'meinberlin.js' %}"></script>
    <script src="{% static 'embed.js' %}"></script>
    <script type="text/template" id="embed-confirm">
    <div class="embed-confirm">
        <p>{% trans 'You need to login first. By clicking "Login" a popup will open so you can sign in safely. Do you want to login now?' %}</p>
        <div class="embed-confirm__actions">
            <button class="embed-confirm__cancel js-embed-cancel button button--light">{% trans 'Cancel' %}</button>
            <a href="{% url 'account_login' %}" target="_blank" class="embed-confirm__login js-embed-login button button--primary">{% trans 'Login' %}</a>
        </div>
    </div>
    </script>
    <meta name="viewport" content="width=device-width" />
    <base target="_top" />
    {% block header %}{% endblock %}
</head>

<body>
    <header class="embed-header">
        {% if request.user.is_anonymous %}
            <a href="{% url 'account_login' %}" target="_blank" class="js-embed-login">Login</a>
        {% else %}
            {% trans 'You are logged in as ' %} {{ request.user.username }}
            <a href="{% url 'account_logout' %}" class="js-embed-logout" target="_blank">Logout</a>
        {% endif %}
    </header>
    <main class="embed-main"></main>
    <footer class="embed-footer">
        <a>Zur Plattform</a>
    </footer>
</body>
</html>
