<!DOCTYPE html>
{% load static i18n %}
<html class="embed">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Embedded meinBerlin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'meinberlin.css' %}" />
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'meinberlin.js' %}"></script>
    <script src="{% static 'embed.js' %}"></script>
    <meta name="viewport" content="width=device-width" />
    <base target="_top" />
    {% block header %}{% endblock %}
</head>

<body data-url="{% url 'project-detail' slug %}">
    <header class="embed-header">
        {% if request.user.is_anonymous %}
            <a href="{% url 'account_login' %}">{% trans 'Login' %}</a>
        {% else %}
            {% trans 'You are logged in as ' %} {{ request.user.username }}
            <a href="{% url 'account_logout' %}" class="js-embed-logout" target="_blank">{% 'Logout' %}</a>
        {% endif %}
    </header>
    <main class="embed-main"></main>
    <footer class="embed-footer">
        <a href="{% url 'project-detail' slug %}" data-embed-target="external">{% trans 'Go to platform' %}</a>
    </footer>
    <div id="embed-confirm" class="modal" tabindex="-1" role="dialog" aria-label="{% trans 'Confirm login' %}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <p class="modal-body">{% trans 'You need to login first. By clicking "Login" a popup will open so you can sign in safely. Do you want to login now?' %}</p>
                <div class="modal-footer">
                    <a href="{% url 'account_login' %}" class="embed-confirm__login button button--primary">{% trans 'Login' %}</a>
                    <button class="embed-confirm__cancel button button--light" data-toggle="modal" data-target="#embed-confirm">{% trans 'Cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
