{% load contrib_tags i18n offlineevent_tags static %}

{% with project.active_phase as active_phase %}

{% offlineevents_and_modules_sorted project as modules_and_events %}
{% with modules_and_events|length as module_event_count %}
{% if module_event_count > 1 %}
<script src="{% static 'js/popover.js' %}"></script>
<div class="timeline">
    <ul>
        {% for obj in modules_and_events %}
            {% if obj|is_module %}
                <li>
                    <a
                        href="{{ project.get_absolute_url }}"
                        class="button button--light button--small timeline__button {% if obj == active_phase.module %}is-active{% endif %} {% if obj == object %}is-selected{% endif %}"
                    >
                        {{ obj.name }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a
                        href="{{ obj.get_absolute_url }}"
                        class="button button--light button--small timeline__button {% if obj == object %}is-selected{% endif %}"
                    >
                        {{ obj.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

{% if not object|is_offlineevent %}
<div class="l-center-6">
    {% for phase in project.phases %}
        <div class="phase-info {% if phase = active_phase %}phase-info--active{% endif %}">

            <h3 class="phase-info__title">
                {{ phase.name }}
            </h3>
            <div class="phase-info__subtitle">
                {{ phase.start_date }}
                &mdash; {{ phase.end_date }}
            </div>
            <div class="phase-info__description">
                {{ phase.description }}
            </div>
        </div>
    {% empty %}
        <h3 class="phase-info__title">
            {% trans "Participation is not possible at the moment." %}
        </h3>
    {% endfor %}
</div>
{% endif %}

{% endwith %}
