{% load contrib_tags i18n static %}

{% with project.active_phase as active_phase %}

{% with project.phases|length as phase_count %}
{% if phase_count > 1 %}
<script src="{% static 'js/popover.js' %}"></script>
<div class="phase-list">
    <ul>
        {% for phase in project.phases %}
            {% include_template_string "meinberlin_projects/includes/phase_popover.html" phase=phase phase_num=forloop.counter phase_count=phase_count as popover_content %}
            <li>
                <button
                    title="{{ phase.name }}"
                    id="phase-{{ phase.pk }}"
                    class="phase-list__button {% if phase == active_phase %} is-active{% endif %}"
                    data-toggle="popover"
                    data-content="{{ popover_content }}"
                    data-placement="top"
                    data-html="true"
                >
                    {{ phase.name }}
                </button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="phase-info">
    <div class="l-center-6">
        {% if active_phase %}
            <h3 class="phase-info__title">
                {{ active_phase.name }}
            </h3>
            <div class="phase-info__subtitle">
                {{ active_phase.start_date }}
                &mdash; {{ active_phase.end_date }}
            </div>
            <div class="phase-info__description">
                {{ active_phase.description }}
            </div>
        {% else %}
            <h3 class="phase-info__title">
                {% trans "Participation is not possible at the moment." %}
            </h3>
        {% endif %}
    </div>
</div>

{% endwith %}
