{% load contrib_tags i18n offlineevent_tags static %}

{% with project.active_phase as active_phase %}

{% offlineevents_and_modules_sorted project as modules_and_events %}
{% with modules_and_events|length as module_event_count %}
{% if module_event_count > 1 %}
<nav class="timeline" aria-label="{% trans 'Timeline' %}">
    <ul>
        {% for obj in modules_and_events %}
            {% if obj|is_module %}
                <li>
                    <a
                        href="{{ project.get_absolute_url }}"
                        class="button button--light button--small timeline__button {% if obj == active_phase.module %}is-active{% endif %} {% if not object|is_offlineevent %}is-selected{% endif %}"
                    >
                        {% trans 'Online participation' %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a
                        href="{{ obj.get_absolute_url }}"
                        class="button button--light button--small timeline__button {% if obj == object %}is-selected{% endif %}"
                    >
                        {{ obj.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endwith %}

<div class="l-center-6">
    <div class="phase-info">
        {% if object|is_offlineevent %}
            <div class="phase-info__active">
                <h3 class="phase-info__active__title">
                    {% trans 'Offline-Event' %}
                </h3>
                <div class="phase-info__active__subtitle">
                    {{ object.date|date:'DATE_FORMAT' }}
                </div>
                <div class="phase-info__active__description">
                    {% trans 'Here you can read the documentation on what happened during this Offline-Event.' %}
                </div>
            </div>
        {% else %}
            <div class="phase-info__active">
                {% if active_phase %}
                    <h3 class="phase-info__active__title">
                        {{ active_phase.name }}
                    </h3>
                    <div class="phase-info__active__subtitle">
                        {{ active_phase.start_date|date:'DATE_FORMAT' }}
                        &ndash; {{ active_phase.end_date|date:'DATE_FORMAT' }}
                    </div>
                    <div class="phase-info__active__description">
                        {{ active_phase.description }}
                    </div>
                {% else %}
                    <h3 class="phase-info__active__title">
                        {% trans 'Participation is not possible at the moment.' %}
                    </h3>
                    <div class="phase-info__active__description">
                        {% trans 'description' %}
                    </div>
                {% endif %}
            </div>

            {% if project.phases|length > 1 or not active_phase %}
                <div class="phase-info__overview collapse" id="phase-overview">
                    {% for phase in project.phases %}
                        <div class="phase-info__item">
                            <div class="phase-info__item__title{% if phase == active_phase %} lr-bar{% endif %}">
                                {% if phase == active_phase %}
                                    <span class="lr-bar__left">{{ phase.name }}</span>
                                    <span class="lr-bar__right phase-info__highlight">{% trans 'active' %}</span>
                                {% else %}
                                    {{ phase.name }}
                                {% endif %}
                            </div>
                            <div class="phase-info__item__subtitle">
                                {{ phase.start_date|date:'DATE_FORMAT' }}
                                &ndash; {{ phase.end_date|date:'DATE_FORMAT' }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="button button--link" type="button" data-toggle="collapse" data-target="#phase-overview" aria-expanded="false" aria-controls="phase-overview">
                    <span class="u-if-collapsed">{% trans 'Show all phases' %}</span>
                    <span class="u-if-not-collapsed">{% trans 'Hide all phases' %}</span>
                </button>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endwith %}
