{% load i18n project_tags meinberlin_project_tags contrib_tags thumbnail static %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}

<li class="tile {% if project|is_container %}tile--container{% endif %}">
    <div class="tile__head">
        <a tabindex="-1" class="tile__image tile__image--shadowed {% if project|is_container %}tile__image--contained tile__image--logo{% endif %}"
           aria-labelledby="project-title-{{ project.pk }}"
           {% if project_image %}
                style="background-image: url({{ project_image|thumbnail_url:'project_thumbnail' }})"
           {% endif %}
           href="{{ project|project_url }}" target="{{ project|is_external|yesno:"_blank,_self" }}">
        </a>
        {% if project_image_copyright %}
            <div class="tile__image__copyright copyright">© {{ project_image_copyright }}</div>
        {% endif %}

        {% if project|is_container %}
            <div class="tile__badge tile__badge--container">
                <i class="fa fa-folder-open" aria-label="{% trans 'Container' %}"></i>
            </div>
        {% elif project|is_external %}
            <div class="tile__badge tile__badge--external">
                <i class="fa fa-mail-forward" aria-label="{% trans 'External Project' %}"></i>
            </div>
        {% else %}
            <img src="{% static 'images/meinberlin.svg' %}" alt="{% trans 'Project on meinBerlin' %}" class="tile__badge">
        {% endif %}

        {% if not project|is_container %}
            <div class="tile__labels">
                {% get_days project.days_left as days %}
                {% if project.has_finished %}
                    <span class="label label--primary">{% trans "Finished" %}</span>
                {% elif days %}
                    <span class="label label--primary">{{ days }}</span>
                {% endif %}

                {% if not project.is_public %}
                    <span class="label label--secondary">{% trans 'private' %}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="tile__body">
        <h3 class="tile__title" id="project-title-{{ project.pk }}">
            <a href="{{ project|project_url }}" target="{{ project|is_external|yesno:"_blank,_self" }}">{{ project.name }}</a>
        </h3>

        <p class="tile__text">{{ project.description }}</p>

        {% if project|is_container %}
            <p class="tile__hint tile__hint--container">
                <span class="tile__hint__big">
                    {% blocktrans with count=project.projectcontainer.total_project_count active_count=project.projectcontainer.active_project_count %}{{ active_count }} of {{ count }}{% endblocktrans %}
                </span>
                <br/>
                {% trans 'projects are currently active.' %}
            </p>
        {% else %}
            {% if project.active_phase %}
                <p class="tile__hint">
                    {% html_date project.last_active_phase.end_date 'd.m.Y' as end_date %}
                    {% blocktrans with date=end_date %}Participation possible until {{ date }}{% endblocktrans %}
                </p>
            {% elif project.future_phases %}
                <p class="tile__hint">
                    {% html_date project.future_phases.first.start_date 'd.m.Y' as start_date %}
                    {% blocktrans with date=start_date %}Participation starting from {{ date }}{% endblocktrans %}
                </p>
            {% endif %}
        {% endif %}
    </div>
</li>
