<div class="timeline-carousel">
  <div class="timeline-carousel__line"></div>
  <div class="timeline-carousel__item">
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
      <div>
        <div class="timeline-carousel__dot"></div>
        <div class="timeline-carousel__label">
          <p>1. Hello World<br>
          ab 17.04.2015</p>
        </div>
      </div>
  </div>
</div>
