{% load i18n project_tags meinberlin_project_tags contrib_tags thumbnail static %}
{% project_tile_image project as project_image %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}
{% project_tile_image_alt_text project as project_image_alt_text %}

<!-- This tile is only used in plans, not in project list or projects -->
<li class="participation-tile__vertical">
    <a href="{{ project|project_url }}" target="{{ project|is_external|yesno:"_blank,_self" }}">

        <div class="participation-tile__body maplist-item">
            {% if project_image %}
                <div
                    class="maplist-item__img"
                    style="background-image: url({{ project_image|thumbnail_url:'project_tile' }})"
                    role="img"
                    aria-label="{% if project_image_alt_text %}{{ project_image_alt_text }}{% else %}{% translate 'Here you can find a decorative picture.' %}{% endif %}"
                >
                {% if project.topics %}
                    <div class="maplist-item__label-img">
                        {% for topic in project.topic_names %}
                        <span class="label label--secondary maplist-item__label">
                        {{ topic }}
                        </span>
                        {% endfor %}
                    </div>
                {% endif %}
                <p class="maplist-item__img-copyright copyright">
                    {% if project_image_copyright %}
                        © {{ project_image_copyright }}
                    {% else %}
                        {% translate 'copyright missing' %}
                    {% endif %}
                </p>
            </div>
            {% endif %}
            <div class="participation-tile__content">
                {% if project.topics and not project_image %}
                <div class="maplist-item__label-spacer">
                    {% for topic in project.topic_names %}
                    <span class="label label--secondary maplist-item__label">
                    {{ topic }}
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
                <span class="maplist-item__roofline">
                {% if project.administrative_district %}
                {{ project.administrative_district }}
                {% else %}
                {% translate 'City wide' %}
                {% endif %}
                </span>
                <h3 class="maplist-item__title">{{ project.name }}</h3>
                <div class="maplist-item__description">
                  <span>{{ project.description }}</span>
                </div>
                <div class="maplist-item__link"></div>
                {% if not project|is_external or project.externalproject.phase.start_date %}
                    {% if project.running_modules %}
                    <div class="status-item status__active">
                        <div class="status-bar__active">
                            <span class="status-bar__active-fill" style="width: {{ project.module_running_progress }}%"></span>
                        </div>
                        <span class="participation-tile__status">
                            <i class="fas fa-clock" aria-hidden="true"></i>
                            {% if project.module_running_days_left < 365 %}
                            {% blocktranslate with time_left=project.module_running_time_left %}{{ time_left }} remaining {% endblocktranslate %}
                            {% else %}
                            <span>{% translate 'more than 1 year remaining' %}</span>
                            {% endif %}
                        </span>
                    </div>
                    {% elif project.future_modules %}
                    <div class="status-item status__future">
                        <span class="participation-tile__status"><i class="fas fa-clock"  aria-hidden="true"></i>{% html_date project.future_modules.first.module_start 'd.m.Y' as start_date %}
                        {% blocktranslate with date=start_date %}Participation: starts on {{ date }}{% endblocktranslate %}
                        </span>
                    </div>
                    {% elif project.has_finished %}
                        <div class="status-item status-bar__past">
                            <span class="participation-tile__status">
                            {% blocktranslate %}Participation ended. Read result{% endblocktranslate %}
                            </span>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
            <div class="status-item_spacer"></div>
        </div>
        {% if project|is_external %}
        <div class="maplist-item__corner-badge maplist-item__corner-badge--external"></div>
        {% elif project.is_semipublic %}
        <div class="maplist-item__corner-badge maplist-item__corner-badge--semi-public"></div>
        {% elif project.is_private %}
        <div class="maplist-item__corner-badge maplist-item__corner-badge--private"></div>
        {% endif %}
    </a>
</li>
