{% load i18n widget_tweaks %}

<form method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
        {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    <div class="form-group">
        <label for="{{ form.add_users.id_for_label }}">
            {{ form.add_users.label }}
        </label>
        {% if form.add_users.help_text %}
        <div class="form-hint">
            {{ form.add_users.help_text }}
        </div>
        {% endif %}
        <div class="input-group">
            <div class="widget widget--{{ form.add_users|widget_type }}">
                {{ form.add_users|add_error_attr:"aria-invalid:true" }}
            </div>
            <span>
                <input type="submit" class="btn btn--primary input-group__after" value="{% translate 'Add' %}"/>
            </span>
        </div>
        {% if form.add_users.errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.add_users.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</form>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.add_users_upload.id_for_label }}">
            {{ form.add_users_upload.label }}
        </label>
        <div class="form-hint">
            {{ form.add_users_upload.help_text }}
        </div>
        <div class="widget widget--{{ form.add_users_upload|widget_type }}">
            <div class="input-group">
                {{ form.add_users_upload|add_class:'input-group__input'|add_error_attr:"aria-invalid:true" }}
                <span>
                    <input type="submit" class="btn btn--primary input-group__after" value="{% translate 'Upload' %}"/>
                </span>
            </div>
        </div>
        {% if form.non_field_errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if form.add_users_upload.errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.add_users_upload.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</form>
