{% load i18n %}

{% include 'a4dashboard/includes/form_field.html' with field=form.information %}


<h2 class="u-second-heading dashboard-content-heading">{{ form.contact_heading }}</h2>
<div class="form-hint">
    {{ form.contact_help }}
</div>

{% include 'a4dashboard/includes/form_field.html' with field=form.contact_name %}
{% include 'a4dashboard/includes/form_field.html' with field=form.contact_address_text %}
{% include 'a4dashboard/includes/form_field.html' with field=form.contact_email %}
{% include 'a4dashboard/includes/form_field.html' with field=form.contact_phone %}
{% include 'a4dashboard/includes/form_field.html' with field=form.contact_url %}
