{% include 'a4dashboard/includes/form_field.html' with field=form.name %}

{% include 'a4dashboard/includes/form_field.html' with field=form.url %}

{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image %}

{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image_alt_text %}

{% include 'a4dashboard/includes/form_field.html' with field=form.tile_image_copyright %}

{% include 'a4dashboard/includes/form_field.html' with field=form.description %}

{% include 'a4dashboard/includes/form_field.html' with field=form.start_date %}

{% include 'a4dashboard/includes/form_field.html' with field=form.end_date %}

{% if project.has_finished %}
    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.is_archived %}
{% endif %}
