{% load i18n %}

<form class="input-addon form-group button-group u-inline-flex" action="" method="get" role="presentation">
    <input class="input-addon__input input-round" type="search" name="{{ name }}" placeholder="{% trans 'Search' %}" value="{{ value }}">
    {% for par_name, value in url_par.items %}
        {% if par_name != name %}
            <input type="hidden" name="{{ par_name }}" value="{{ value }}">
        {% endif %}
    {% endfor %}
    <button class="input-addon__after button button--light" type="submit" title="{% trans 'Search' %}">
        <i class="fa fa-search" aria-label="{% trans 'Search' %}"></i>
    </button>
</form>
