{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Activity Stream' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <h1>{% trans 'Activity Stream' %}</h1>

        {% for activity in object_list|slice:":10" %}
            <div class="activity">
                <i class="fa fa-{{ activity.icon }} activity__icon" aria-hidden="true"></i>
                <div class="activity__main">
                    <div class="activity__line">
                        {% if activity.type == 'comment' %}
                            {% url 'profile' activity.actor.username as actor_url %}
                            {% blocktrans with url=actor_url name=activity.actor.username %}<a href="{{ url }}">{{ name }}</a> commented:{% endblocktrans%}
                            {{ activity.obj.comment|truncatechars_html:50 }}
                        {% elif activity.type == 'item' %}
                            {% url 'profile' activity.actor.username as actor_url %}
                            {% blocktrans with url=actor_url name=activity.actor.username %}<a href="{{ url }}">{{ name }}</a> added a new item{% endblocktrans%}
                        {% elif activity.type == 'phase' and activity.verb == 'schedule' %}
                            {% trans "Participation will be over soon" %}
                        {% else %}
                            {{ activity }}
                        {% endif %}
                    </div>
                    <div class="activity__line">
                        {% url 'project-detail' activity.project.slug as project_url%}
                        {% blocktrans with url=project_url name=activity.project.name %}on <a href="{{ url }}">{{ name }}</a>{% endblocktrans %}
                    </div>
                    <div class="activity__date">{{ activity.timestamp|date:'d.m.Y' }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
