{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Activity Stream' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <h1>{% trans 'Activity Stream' %}</h1>
        {% for activity in object_list|slice:":10" %}
            <div>
                <div>{{ activity.timestamp|date:'d.m.Y' }}</div>
            {% if activity.type == 'comment' %}
                <p><a href="{% url 'profile' activity.actor.username %}">{{ activity.actor.username }}</a> commented: {{ activity.obj.comment|truncatechars_html:50 }}</p>
                <p>on <a href="{% url 'project-detail' activity.project.slug %}">{{ activity.project.name }}</a></p>

            {% elif activity.type == 'item' %}
                <p><a href="{% url 'profile' activity.actor.username %}">{{ activity.actor.username }}</a> added a new item</p></p>
                <p>on <a href="{% url 'project-detail' activity.project.slug %}">{{ activity.project.name }}</a></p>

            {% elif activity.type == 'phase' %}
                {% if activity.verb == 'schedule' %}
                    <p>Participation will be over soon</p>
                    <p>on <a href="{% url 'project-detail' activity.project.slug %}">{{ activity.project.name }}</a></p>
                {% endif %}

            {% elif activity.type == 'project' %}
                No such actions yet
            {% elif activity.type == 'rating' %}
                No such actions yet
            {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
