{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User Dashboard" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}

<div class="l-wrapper">
    <div class="menu-layout">

        <nav class="menu-layout__menu dashboard-nav" aria-label="{% trans 'User Dashboard navigation' %}">
            <div class="dropdown dashboard-nav__dropdown">
                <div class="dashboard-nav__item">
                    {{ request.user.username }}
                </div>
            </div>
            {% with request.resolver_match.url_name as url_name %}
                <ul class="dashboard-nav__pages">
                    <li class="dashboard-nav__page">
                        <a href="{% url 'account-profile' %}"
                           class="dashboard-nav__item dashboard-nav__item--interactive {% ifequal view.menu_item 'profile' %}is-active{% endifequal %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {% trans 'Profile' %}
                        </a>
                    </li>
                    <li class="dashboard-nav__page">
                        <a href="{% url 'account-password' %}"
                           class="dashboard-nav__item dashboard-nav__item--interactive {% ifequal view.menu_item 'password' %}is-active{% endifequal %}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            {% trans 'Change password' %}
                        </a>
                    </li>
                    <li class="dashboard-nav__page">
                        <a href="{% url 'account-email' %}"
                           class="dashboard-nav__item dashboard-nav__item--interactive {% ifequal view.menu_item 'email' %}is-active{% endifequal %}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {% trans 'Email addresses' %}
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </nav>

        <div class="menu-layout__content">
            {% block dashboard_content %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}
