{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Email Addresses' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<h1>{% trans 'Email Addresses' %}</h1>

<form class="multiform" action="{% url 'account-email' %}?next={{ request.path }}" method="post">
    {% csrf_token %}
    {% for emailaddress in user.emailaddress_set.all %}
    <div class="form-check">
        <label class="form-check__label">
            <input type="radio" name="email"
                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {% endif %}
                   value="{{emailaddress.email}}">
            {{ emailaddress.email }}
            {% if emailaddress.primary %}
            <span class="label">{% trans "Primary" %}</span>
            {% endif %}
            {% if emailaddress.verified %}
            <span class="label">{% trans "Verified" %}</span>
            {% else %}
            <span class="label">{% trans "Unverified" %}</span>
            {% endif %}
        </label>
    </div>
    {% endfor %}

    <button class="button button--primary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
    <button class="button button--secondary" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
    <button class="button button--secondary" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</form>

<form class="multiform" method="post" action="{% url 'account-email' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="form-errors">
        {% for error in form.non_field_errors %}
        <p class="alert danger">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
        <label class="control-label" for="{{ form.email.id_for_label }}">{% trans "Add another Email" %}</label>
        {{ form.email.errors }}
        {{ form.email|add_class:"form-control" }}
    </div>
    <input class="button button--primary" name="action_add" type="submit" value="{% trans 'Add Email' %}"/>
</form>
{% endblock %}
