{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% trans "Change password" %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <h1>{% trans 'Change your password' %}</h1>

    <div class="general-form">
        <div class="row">
            <form name="PasswordChangeForm" action="{% url 'account-password' %}" method="post" class="l-col-2">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {% for error in form.non_field_errors %}
                            <p class="alert danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.oldpassword.id_for_label }}">{% trans "Password" %}</label>
                    {{ form.oldpassword.errors }}
                    {{ form.oldpassword }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                </div>
                <button type="submit" value="reset" class="button button--primary">{% trans "Change password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
