{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}

{% block dashboard_nav %}
<div class="tablist tablist--right tablist--background">
    <div class="l-wrapper">
        <div class="tablist__left dropdown">
            {% if view.other_organisations_of_user %}
                <button
                        title="{% trans 'Organisations' %}"
                        type="button"
                        class="dropdown-toggle btn btn--none btn--small"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        id="organisation-selection"
                >
                    {{ view.organisation.name }}
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="organisation-selection">
                    {% for organisation in view.other_organisations_of_user %}
                        <li>
                            <a
                                    class="dropdown-item"
                                    href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}"
                            >
                                {{ organisation.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="btn btn--none btn--small">{{ view.organisation.name }}</span>
            {% endif %}
        </div>
        <nav aria-label="{% trans 'Dashboard' %}">
            <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
               class="tab {% ifequal view.menu_item 'project' %}active{% endifequal %}">
                {% trans 'Projects' %}
            </a>
            <a href="{% url 'a4dashboard:newsletter-create' organisation_slug=view.organisation.slug %}"
               class="tab {% ifequal view.menu_item 'newsletter' %}active{% endifequal %}">
                {% trans 'Newsletter' %}
            </a>
            {% if user_may_change %}
            <a href="{% url 'a4dashboard:organisation-edit' organisation_slug=view.organisation.slug %}"
               class="tab {% ifequal view.menu_item 'organisation' %}active{% endifequal %}">
                {% trans 'Organisation' %}
            </a>
            {% endif %}
        </nav>
    </div>
</div>
{% endblock %}

{% block dashboard_content %}
<div class="l-menu">
    <nav class="l-menu__menu" aria-label="{% trans 'Participation projects' %}">
        <div class="dashboard-nav">
            <div class="dashboard-nav__dropdown">
                <div class="dashboard-nav__item">{% trans "Participation projects" %}</div>
            </div>
            <ul class="dashboard-nav__pages">
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'project-list' %}is-active{% endif %}">
                        {% trans "Projects" %}
                    </a>
                </li>
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:container-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'container-list' %}is-active{% endif %}">
                        {% trans "Containers" %}
                    </a>
                </li>
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug %}"
                       class="dashboard-nav__item dashboard-nav__item--interactive {% if 'plan-' in request.resolver_match.url_name %}is-active{% endif %}">
                        {% trans "Plans" %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="l-menu__content">
        {% block project_list %}{% endblock %}
    </div>
</div>
{% endblock %}
