{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}


{% block dashboard_content %}
<div class="row">
    <nav class="col-lg-3" aria-label="{% translate 'Participation projects' %}">
        <div class="dashboard-nav">
            <div class="dashboard-nav__dropdown">
                <div class="dashboard-nav__item">{% translate "Projects" %}</div>
            </div>
            <ul class="dashboard-nav__pages">
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'project-list' %}is-active{% endif %}">
                        {% translate "Participation projects" %}
                    </a>
                </li>
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:bplan-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'bplan-list' %}is-active{% endif %}">
                        {% translate "Development plans" %}
                    </a>
                </li>
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug %}"
                       class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'plan-list' %}is-active{% endif %}">
                        {% translate "Plans" %}
                    </a>
                </li>
                <li class="dashboard-nav__page">
                    <a href="{% url 'a4dashboard:extproject-list' organisation_slug=view.organisation.slug %}"
                        class="dashboard-nav__item dashboard-nav__item--interactive {% if request.resolver_match.url_name == 'extproject-list' %}is-active{% endif %}">
                        {% translate "Linkages" %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-lg-9">
        {% block project_list %}{% endblock %}
    </div>
</div>
{% endblock %}
