{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n static meinberlin_project_tags %}

{% block dashboard_nav %}
<div class="u--bg-secondary u-spacer-bottom-double">
    <div class="l-wrapper dashboard-nav__breadcrumb">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'To main menu' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block dashboard_content %}
    <div class="l-menu">
        <nav class="l-menu__menu" aria-label="{% trans 'Project Settings' %}">
            <div class="dashboard-nav">
                <div class="dashboard-nav__dropdown">
                    <div class="dashboard-nav__item">{{ project.name }}</div>
                </div>
                <ul class="dashboard-nav__pages">
                    {% for item in dashboard_menu.project %}
                        <li class="dashboard-nav__page">
                            <a href="{{ item.url }}"
                               class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">
                                {{ item.label }}
                                {% if not item.is_complete %}
                                    <i class="fa fa-exclamation-circle u-danger" title="{% trans 'Missing fields for publication' %}" aria-label="{% trans 'Missing fields for publication' %}"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for module_menu in dashboard_menu.modules %}
                <div class="dashboard-nav">
                    <div class="dashboard-nav__dropdown">
                        <div class="dashboard-nav__item">{{ module_menu.module.name }}</div>
                    </div>
                    <ul class="dashboard-nav__pages">
                        {% for item in module_menu.menu %}
                            <li class="dashboard-nav__page">
                                <a href="{{ item.url }}"
                                   class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">
                                    {{ item.label }}
                                    {% if not item.is_complete %}
                                        <i class="fa fa-exclamation-circle u-danger" title="{% trans 'Missing fields for publication' %}" aria-label="{% trans 'Missing fields for publication' %}"></i>
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'a4dashboard:module-publish' module_slug=module_menu.module.slug %}" method="post" data-ignore-submit="true">
                        {% csrf_token %}
                        <input type="hidden" name="referrer" value="{{ request.path }}" />
                        {% if module_menu.module.is_draft %}
                            <button name="action" value="publish" class="btn btn--primary">
                                {% trans 'Add module to project' %}
                            </button>
                        {% else %}
                            <button name="action" value="unpublish" class="btn btn--secondary">
                                {% trans 'Remove module from project' %}
                            </button>
                        {% endif %}
                    </form>
                    <form enctype="multipart/form-data" action="{% url 'a4dashboard:module-delete' slug=module_menu.module.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="referrer" value="{{ request.path }}" />
                        <button type="submit" class="btn btn--light" {% if project.modules.count == 1 %}disabled{% endif %} value="{% trans 'Delete' %}">
                            <i class="fas fa-trash-alt" aria-label="{% trans 'Delete module' %}"></i>
                        </button>
                    </form>
                </div>
            {% endfor %}

            {% if request.user.is_superuser and not project|is_container and not project|is_external %}
                <a class="btn btn--secondary btn--full" href="{% url 'a4dashboard:module-blueprint-list' project_slug=project.slug %}">{% trans 'Add Module' %}</a>
            {% endif %}
        </nav>

        <div class="l-menu__content l-menu__content--aside">
            {% block dashboard_project_content %}{% endblock %}
        </div>

        <div class="l-menu__aside">
            {% include "a4dashboard/includes/progress.html" with value=project_progress.valid max=project_progress.required project=project %}

            {% include "a4dashboard/includes/preview.html" with project=project %}
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/unload_warning.js' %}"></script>
{% endblock %}
