{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n static %}

{% block title %}{{ view.title }}{% if project %} &mdash; {{ project.name }}{% endif %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{{ view.title }}</h1>

    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
        {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% include view.form_template_name %}

        <div class="u-spacer-bottom">
            <input type="submit" class="btn btn--primary" name="save" value="{% translate 'Save' %}"/>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
