{% extends "base.html" %}
{% load i18n rules %}

{% block content %}

{% has_perm 'a4projects.add_project' request.user view.organisation as user_may_add %}
{% has_perm 'meinberlin_organisations.change_organisation' request.user view.organisation as user_may_change %}

{% if user_may_add %}
    {% block dashboard_nav %}
        <div class="tablist tablist--right u--bg-secondary">
            <div class="container">
                <div class="tablist--left">
                    {% if view.other_organisations_of_user %}
                        <div class="dropdown">
                            <button
                                title="{% translate 'Organisations' %}"
                                type="button"
                                class="dropdown-toggle btn btn--light u-bold"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="organisation-selection"
                            >
                                {{ view.organisation.name }}
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="organisation-selection">
                                {% for organisation in view.other_organisations_of_user %}
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}"
                                        >
                                            {{ organisation.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <span class="btn--light btn--small u-bold">{{ view.organisation.name }}</span>
                    {% endif %}
                </div>
                <nav class="u-inline-flex" aria-label="{% translate 'Dashboard' %}">
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
                       class="tab {% if view.menu_item == 'project' %}active{% endif %}">
                        {% translate 'Projects' %}
                    </a>
                    <a href="{% url 'a4dashboard:newsletter-create' organisation_slug=view.organisation.slug %}"
                       class="tab {% if view.menu_item == 'newsletter' %}active{% endif %}">
                        {% translate 'Newsletter' %}
                    </a>
                    {% if user_may_change %}
                    <a href="{% url 'a4dashboard:organisation-edit' organisation_slug=view.organisation.slug %}"
                       class="tab {% if view.menu_item == 'organisation' %}active{% endif %}">
                        {% translate 'Organisation' %}
                    </a>
                    {% endif %}
                </nav>
            </div>
        </div>
    {% endblock %}
{% endif %}

<div class="container">
    {% block dashboard_content %}{% endblock %}
</div>

{% endblock %}
