{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n static meinberlin_project_tags %}

{% block dashboard_nav %}
<div class="u--bg-secondary u-spacer-bottom-double">
    <div class="container dashboard-nav__breadcrumb">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    {% if project.project_type == 'meinberlin_bplan.Bplan' %}
                    <a href="{% url 'a4dashboard:bplan-list' organisation_slug=view.organisation.slug %}">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'All development plans' %}
                    </a>
                    {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
                    <a href="{% url 'a4dashboard:extproject-list' organisation_slug=view.organisation.slug %}">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'All linkages' %}
                    </a>
                    {% else %}
                    <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'All participation projects' %}
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <nav
          class="col-lg-3 js-selector-update-dashboard"
          aria-label="{% translate 'Project Settings' %}"
        >
            {% include "a4dashboard/includes/nav_project.html" %}

            {% if project.project_type == 'a4projects.Project' %}
            {% include "a4dashboard/includes/nav_modules.html" %}
            {% endif %}

        </nav>

        <div class="col-lg-6">
            {% block dashboard_project_content %}{% endblock %}
        </div>

        <div class="col-lg-3">
            {% include "a4dashboard/includes/progress.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'unload_warning.js' %}"></script>
    <script src="{% static 'init_dashboard_accordion.js' %}"></script>
{% endblock %}
