{% extends "a4dashboard/base_project_list.html" %}
{% load i18n rules %}

{% block title %}{% trans "Projects" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Participation projects' %}
        </h1>
        <div class="lr-bar__sm-left-lg-right">
            <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug %}" class="btn">
                {% trans 'New Project' %}
            </a>
        </div>
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for project in project_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=project %}
        {% empty %}
            <p>{% trans 'We could not find any projects.' %}</p>
        {% endfor %}
    </ul>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
