{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

<div class="l-wrapper">
    <div class="menu-layout">

        <div class="menu-layout__menu">
            <div class="dropdown">
                {{ request.user.username }}
            </div>
            {% with request.resolver_match.url_name as url_name %}
                <ul class="dashboard-nav__pages">
                    <li class="dashboard-nav__page">
                        <a href="{% url 'dashboard-profile' %}"
                           class="dashboard-nav__page-link {% ifequal url_name 'dashboard-profile' %}is-active{% endifequal %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {% trans 'Profile' %}
                        </a>
                    </li>
                    <li class="dashboard-nav__page">
                        <a href="{% url 'dashboard-password' %}"
                           class="dashboard-nav__page-link {% ifequal url_name 'dashboard-password' %}is-active{% endifequal %}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            {% trans 'Change password' %}
                        </a>
                    </li>
                    <li class="dashboard-nav__page">
                        <a href="{% url 'dashboard-email' %}"
                           class="dashboard-nav__page-link {% ifequal url_name 'dashboard-email' %}is-active{% endifequal %}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {% trans 'Email addresses' %}
                        </a>
                    </li>
                </ul>
            {% endwith %}
        </div>

        <div class="menu-layout__content">
            {% block dashboard_content %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}
