{% extends "meinberlin_dashboard/base_dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "New Project" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}

<nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
    <ul>
        <li>
            <a href="{% url 'dashboard-project-list' view.organisation.slug %}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                {% trans 'back to dashboard' %}</a>
        </li>
    </ul>
</nav>

<h3 class="menu-layout__title">{% trans "New Project" %}</h3>

<div class="l-tiles-3">
    {% for blueprint_slug, blueprint in view.blueprints %}
        {% include "meinberlin_dashboard/includes/blueprint_list_tile.html" with blueprint=blueprint %}
    {% endfor %}
</div>

{% endblock %}
