{% extends "meinberlin_dashboard/dashboard_base.html" %}
{% load i18n %}

{% block dashboard_content %}
    <nav class="resource-navigation__breadcrumbs breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'dashboard-project-list' view.organisation.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to dashboard' %}</a>
            </li>
        </ul>
    </nav>

    <h3>{%  trans "Edit project" %}</h3>

    {% include 'meinberlin_dashboard/includes/project_form.html' with view=view %}
{% endblock %}
