{% extends "meinberlin_dashboard/dashboard_base.html" %}
{% load i18n %}

{% block dashboard_content %}
    <form method="POST">
        {% csrf_token %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.add_moderators %}
        <input type="submit" class="button button--primary" value="{% trans 'Submit' %}" />
    </form>

    <table>
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Mark' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for moderator in project.moderators.all %}
                <tr>
                    <td><label for="moderator-{{ moderator.pk }}">{{ moderator.username }}</label></td>
                    <td><input type="checkbox" id="moderator-{{ moderator.pk }}" /></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
