{% extends "meinberlin_dashboard/base_dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Projects" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}

<div>
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Projects' %}
        </h1>
        <div class="lr-bar__right">
            <a href="{% url 'dashboard-blueprint-list' organisation_slug=view.organisation.slug %}" class="button">
                {% trans 'New Project' %}
            </a>
        </div>
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    {% if project_list|length == 0 %}
        <div>
            {% trans 'No projects created' %}
        </div>
    {% else %}
        {% for project in project_list %}
            {% include "meinberlin_dashboard/includes/project_list_item.html" with project=project %}
        {% endfor %}

        {% include "meinberlin_contrib/includes/pagination.html" %}
    {% endif %}

</div>
{% endblock %}
