{% load i18n widget_tweaks %}
<div class="js-form category-formset__form form-group">
    <div class="category-formset__form__category">
        {% if can_delete %}
            <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}" class="formset__delete">
        {% endif %}

        <label for="{{ form.name.id_for_label }}" class="sr-only">
            {{ form.name.label }}
        </label>
        {{ form.name }}

        {% if not form.name.value %}
            <button type="button" class="formset__delete-label js-remove-form" title="{% trans 'Remove category' %}">
                <i class="fa fa-times" aria-label="{% trans 'Remove category' %}"></i>
            </button>
        {% elif can_delete %}
            <label for="{{ form.DELETE.id_for_label }}" class="formset__delete-label" title="{% trans 'Remove category' %}">
                <i class="fa fa-trash" aria-label="{% trans 'Remove category' %}"></i>
            </label>
        {% endif %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ form.name.errors }}
    </div>

    {% if form.icon %}
        <div class="category-formset__form__icon select-icon">
            {{ form.icon|add_class:'d-none' }}

            <div class="dropdown select_icon__dropdown">
                <button class="btn select-icon__btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="select-icon__btn__label"></span>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu select-icon__menu"></div>
            </div>
        </div>
    {% endif %}
</div>
