{% extends 'base.html' %}
{% load rules i18n %}

{% block title %}{% trans 'Projects' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="l-wrapper">
        {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

        <div class="l-tiles-4">
            {% for project in project_list %}

            {% has_perm 'a4projects.view_project' request.user project as show %}
            {% if show %}
                {% include "meinberlin_projects/includes/project_list_tile.html" with project=project %}
            {% endif %}

            {% endfor %}
        </div>

        {% include "meinberlin_contrib/includes/pagination.html" %}
    </div>
{% endblock %}
