{% extends "base.html" %}
{% load i18n rules react_follows thumbnail wagtailcore_tags %}

{% block title %}{{view.project.name}} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="project-header{% if view.project.image %} project-header--image{% endif %}" style="{% if view.project.image %}
               background-image: url({{ view.project.image |thumbnail_url:'heroimage' }});
               {% endif %}">
    <div class="l-wrapper">
        <div class="l-center-6">
            <div class="project-header__type">{{ view.project.typ }}</div>
            <h1 class="project-header__title">{{ view.project.name }}</h1>
            <div class="project-header__action">
                {% block project_action %}{% endblock %}
                {% if request.user.is_authenticated %}
                    {% react_follows view.project %}
                {% endif %}
                {% has_perm 'meinberlin_projects.add_project' request.user view.project as user_may_change %}
                {% if user_may_change %}
                    <a href="{% url 'dashboard-project-edit' view.project.slug %}" class="button button--light">{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="l-wrapper">
    <nav class="tablist" role="tablist">
        <a
            id="#tab-project-{{ view.project.pk }}-information"
            class="tab"
            data-toggle="tab"
            href="#tabpanel-project-{{ view.project.pk }}-information"
            role="tab"
            aria-controls="tabpanel-project-{{ view.project.pk }}-information"
            aria-expanded="false">
            {% trans 'Information' %}
        </a>
        <a
            id="#tab-project-{{ view.project.pk }}-participation"
            class="tab active"
            data-toggle="tab"
            href="#tabpanel-project-{{ view.project.pk }}-participation"
            role="tab"
            aria-controls="tabpanel-project-{{ view.project.pk }}-participation"
            aria-expanded="true">
            {% trans 'Participation' %}
        </a>
        <a
            id="#tab-project-{{ view.project.pk }}-result"
            class="tab"
            data-toggle="tab"
            href="#tabpanel-project-{{ view.project.pk }}-result"
            role="tab"
            aria-controls="tabpanel-project-{{ view.project.pk }}-result"
            aria-expanded="false">
            {% trans 'Result' %}
        </a>
    </nav>
</div>

<div
    class="tabpanel"
    id="tabpanel-project-{{ view.project.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-{{ view.project.pk }}-information"
    aria-expanded="false">
    <div class="l-wrapper">
        <div class="l-center-8">
            {{ view.project.information | richtext }}
        </div>
    </div>
</div>
<div
    class="tabpanel active"
    id="tabpanel-project-{{ view.project.pk }}-participation"
    role="tabpanel"
    aria-labelledby="tab-project-{{ view.project.pk }}-participation"
    aria-expanded="true">
    <div class="l-wrapper">
        {% include "meinberlin_projects/includes/phase_indicator.html" with project=view.project %}
    </div>
    {% block phase_content %}{% endblock %}
</div>
<div
    class="tabpanel"
    id="tabpanel-project-{{ view.project.pk }}-result"
    role="tabpanel"
    aria-labelledby="tab-project-{{ view.project.pk }}-result"
    aria-expanded="false">
    <div class="l-wrapper">
        <div class="l-center-8">
            {% if view.project.result %}
                {{ view.project.result | richtext }}
            {% else %}
                {% trans 'No results yet.' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
