{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.name }} &mdash; {% translate 'Give feedback' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'go back' %}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'back to idea' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% translate 'Feedback on this idea' %}</h1>
        <form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% for form in forms.values %}
                {{ form.media }}
            {% endfor %}

            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.moderateable.moderator_status %}
            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.feedback_text.feedback_text %}


            <div class="u-spacer-bottom">
                <input type="submit" class="btn btn--primary" value="{% translate 'Save' %}" />
                <a href="{{ object.get_absolute_url }}" class="btn btn--light">{% translate 'Cancel' %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
