{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Confirm Idea Deletion' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <h1>{% trans 'Are you sure you want to delete the idea?' %} </h1>

        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn--primary" value="{% trans 'Yes'%}" />

            <a href="{{ object.get_absolute_url }}" class="btn btn--light">{% trans 'Cancel'%}</a>
        </form>
    </div>
</div>
{% endblock %}
