{% extends "meinberlin_contrib/item_detail.html" %}

{% block additional_meta %}
    <div class="resource-header__meta">
        <div>{{ proposal.budget }}€</div>
    </div>

    <div class="resource-header__meta">
        {% include 'meinberlin_moderatorfeedback/includes/moderatorfeedback.html' with item=proposal %}
    </div>
{% endblock %}

{% block dropdown_items %}
    {% has_perm 'meinberlin_budgeting.moderate_proposal' request.user proposal as is_moderator %}
    {% if is_moderator %}
        <li>
            <a class="dropdown-item" href="{% url 'budgeting:proposal-moderate' slug=proposal.slug %}">{% trans 'Moderate' %}</a>
        </li>
    {% endif %}
{% endblock %}
