{% extends "meinberlin_contrib/item_detail.html" %}
{% load rules item_tags i18n %}

{% block additional_meta %}
    <div class="resource-header__meta">
        <div>{{ proposal.budget }}€</div>
    </div>

    <div class="resource-header__meta">
        {% include 'meinberlin_moderatorfeedback/includes/moderatorfeedback.html' with item=proposal %}
    </div>
{% endblock %}

{% block moderator_statement %}
    {% if  proposal.moderator_statement.statement %}
        <div class="l-wrapper">
            <div class="l-center-8">
                <div class="moderator-statement">
                    <h2 class="moderator-statement__title">{% trans 'Official Statement' %}</h2>
                    <div class="moderator-statement__subtitle">
                        <span class="moderator-statement__organisation">
                            {{ proposal.module.project.organisation.name }}
                        </span>
                        <span class="moderator-statement__date">
                            {{ proposal.moderator_statement.created | date }}
                        </span>
                    </div>
                    <div class="moderator-statement__statement">
                        {{ proposal.moderator_statement.statement | safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block dropdown_items %}
    {% get_item_permission object 'moderate' as moderator_perm %}
    {% has_perm moderator_perm request.user proposal as is_moderator %}
    {% if is_moderator %}
        <li>
            {% get_item_url object 'moderate' as moderate_url %}
            <a class="dropdown-item" href="{{ moderate_url }}">{% trans 'Moderate' %}</a>
        </li>
    {% endif %}
{% endblock %}
