{% extends "base.html" %}
{% load i18n %}

{% block title %}Edit {{proposal.name}}{% endblock %}
{% block content %}
<div class="l-wrapper">
    <nav class="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'project-detail' proposal.project.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to project' %}</a>
            </li>
            <li>
                <a href="{% url 'proposal-detail' proposal.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to proposal' %}</a>
            </li>
        </ul>
    </nav>

    <h1>{% trans 'Edit proposal' %}</h1>

    {% url 'proposal-detail' proposal.slug as cancel %}
    {% include "meinberlin_budgeting/includes/proposal_form.html" with proposal=proposal cancel=cancel %}
</div>
{% endblock %}
