{% load form_tags %}

{% get_phase_name form.type.value as phasename %}
<h3>{{ phasename }}</h3>

{% include 'meinberlin_contrib/includes/form_field.html' with field=form.name %}

{% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

{% include 'meinberlin_contrib/includes/form_field.html' with field=form.start_date %}

{% include 'meinberlin_contrib/includes/form_field.html' with field=form.end_date %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

