{% load i18n %}
<nav class="tablist" role="tablist">
    <a
            id="tab-project-create-{{ view.organisation.pk }}-information"
            class="tab active"
            data-toggle="tab"
            href="#tabpanel-project-create-{{ view.organisation.pk }}-information"
            role="tab"
            aria-controls="tabpanel-project-create-{{ view.organisation.pk }}-information"
            aria-expanded="true">
        {% trans 'Information' %}
        {% if form.info_error_count > 0  %}
            <span class="errorcount">({{ form.info_error_count }})</span>
        {% endif %}
    </a>
    <a
            id="tab-project-create-{{ view.organisation.pk }}-participation"
            class="tab"
            data-toggle="tab"
            href="#tabpanel-project-create-{{ view.organisation.pk }}-participation"
            role="tab"
            aria-controls="tabpanel-project-create-{{ view.organisation.pk }}-participation"
            aria-expanded="false">
        {% trans 'Participation' %}
        {% if form.participate_error_count > 0  %}
            <span class="errorcount">({{ form.participate_error_count }})</span>
        {% endif %}
    </a>
    <a
            id="tab-project-create-{{ view.organisation.pk }}-result"
            class="tab"
            data-toggle="tab"
            href="#tabpanel-project-create-{{ view.organisation.pk }}-result"
            role="tab"
            aria-controls="tabpanel-project-create-{{ view.organisation.pk }}-result"
            aria-expanded="false">
        {% trans 'Result' %}
        {% if form.result_error_count > 0  %}
            <span class="errorcount">({{ form.result_error_count }})</span>
        {% endif %}
    </a>
</nav>
