{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% translate "Projects" %} &mdash; {{ block.super }}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'mb_plans_map.css' %}" />
{% endblock %}

{% block content %}
    <div data-map="plans"
         data-selected-district="{{ district }}"
         data-selected-topic="{{ topic }}"
         data-plans-url="{{ plans_api_url }}"
         data-privateprojects-url="{{ privateprojects_api_url }}"
         data-extprojects-url="{{ extprojects_api_url }}"
         data-projects-url="{{ projects_api_url }}"
         data-districts="{{ districts }}"
         data-organisations="{{ organisations }}"
         data-district-names="{{ district_names }}"
         data-topic-choices="{{ topic_choices }}"
         data-attribution="{{ attribution }}"
         data-mapbox-token="{{ mapbox_token }}"
         data-omt-token="{{ omt_token }}"
         data-use_vector_map="{{ use_vector_map }}"
         data-baseurl="{{ baseurl }}"
         data-bounds="{{ bounds }}"
         data-participation-choices="{{ participation_choices }}"></div>
{% endblock %}

{% block extra_js_deferred %}
    <script src="{% static 'mb_plans_map.js' %}"></script>
{% endblock %}
