{% extends "base.html" %}
{% load i18n static rules wagtailcore_tags maps_tags thumbnail %}

{% block title %}{{ object.title }} &mdash; {{ block.super }}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_point.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="l-wrapper">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'meinberlin_plans:plan-list' %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to overview of projects' %}</a>
                </li>
            </ul>
        </nav>
        <div class="l-center-6">

            <div class="item-detail">
                <h1 class="item-detail__title u-break-word">
                    {{ object.title }}
                </h1>

                <div class="item-detail__labels">
                    <span class="label label--secondary">{{ object.get_status_display }}</span>
                </div>

                <div class="item-detail-2__factsheet">
                    <ul class="item-detail-2__factsheet-table">

                        {% if object.point_label %}
                        <dl>
                            <dt>{% trans 'Location' %}</dt><dd>{{ object.point_label|default:'no val' }}</dd>
                        </dl>
                        {% endif %}

                        {% if object.topic_names %}
                        <dl>
                            <dt>{% trans 'Topic' %}</dt><dd>{{ object.topic_names.0 }}{% if object.topic_names.1 %}, {{ object.topic_names.1 }}{% endif %}</dd>
                        </dl>
                        {% endif %}

                        {% if object.duration %}
                        <dl>
                            <dt>{% trans 'Duration' %}</dt><dd>{{ object.duration }}</dd>
                        </dl>
                        {% endif %}

                        {% if object.cost != "Keine Angabe" %}
                        <dl>
                            <dt>{% trans 'Cost' %}</dt><dd>{{ object.cost }}</dd>
                        </dl>
                        {% endif %}

                        <dl>
                            <dt>{% trans 'Participation' %}</dt>
                            <dd>
                                    {{ object.get_participation_display }}{% if object.participation == object.PARTICIPATION_YES and object.published_projects.count %},
                                    <a href='#participation-plans'>{% trans 'see participation plans' %}</a>
                                {% endif%}
                            </dd>
                        </dl>

                        <dl>
                            <dt>{% trans 'Reference No.' %}</dt>
                            <dd>{{ object.reference_number }}, {% trans 'updated on ' %}{% if object.modified %}{{ object.modified|date }}{% else %}{{ object.created|date }}{% endif %}</dd>
                        </dl>
                    </ul>
                    {% if object.description_image %}
                        <div class="item-detail__background-image" style="background-image: url({% thumbnail object.description_image 'item_image' %})">
                        {% if object.description_image_copyright %}
                            <span class="item-detail__copyright copyright">© {{ object.description_image_copyright }}</span>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>

                <div class="item-detail-2__content">
                    <div class="item-detail__basic-content">
                        {% if object.description %}
                        {{ object.description|richtext }}
                        {% endif %}
                    </div>
                </div>
                {% if object.contact_name or object.contact_address_text or object.contact_email or object.contact_phone or object.contact_url or object.organisation.address or object.organisation.url %}
                    <div class="l-tiles-2 u-spacer-bottom">
                    {% if object.contact_name or object.contact_address_text or object.contact_email or object.contact_phone or object.contact_url %}
                        <div>
                            <h3>{% trans 'Contact for questions' %}</h3>
                            {% if object.contact_name %}
                            <p>{{ object.contact_name }}</p>
                            {% endif %}
                            {% if object.contact_address_text %}
                            <p>{{ object.contact_address_text|linebreaks }}</p>
                            {% endif %}
                            {% if object.contact_phone %}
                            <p><strong>{% trans 'Telephone' %}: </strong>{{ object.contact_phone }}</p>
                            {% endif %}
                            {% if object.contact_email %}
                            <a class="btn btn--secondary" href="mailto:{{ object.contact_email }}">
                                {% trans 'Email' %}
                            </a>
                            {% endif %}
                            {% if object.contact_url %}
                            <a class="btn btn--secondary" target="_blank" href="{{ object.contact_url }}">
                                {% trans 'Website' %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if object.organisation.address or object.organisation.url %}
                        <div>
                            <h3>{% trans 'Responsible body' %}</h3>
                            {% if object.organisation.address %}
                            <p>{{ object.organisation.name }}</p>
                            <p>{{ object.organisation.address|linebreaks }}</p>
                            {% endif %}
                            {% if object.organisation.url %}
                            <a class="btn btn--secondary" target="_blank" href="{{ object.organisation.url }}">
                                {% trans 'Website' %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                {% endif %}

                {% has_perm 'meinberlin_plans.change_plan' request.user object as user_may_change %}
                {% if user_may_change %}
                <div class="item-detail__actions lr-bar">
                    <div class="lr-bar__right">
                        <div class="dropdown">
                            <button
                                title="{% trans 'Actions' %}"
                                type="button"
                                class="dropdown-toggle btn btn--light btn--small"
                                data-bs-toggle="dropdown"
                                data-flip="false"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="idea-{{ object.pk }}-actions"
                            >
                                <i class="fa fa-ellipsis-h" aria-label="{% trans 'Actions' %}"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="idea-{{ object.pk }}-actions">
                                <li>
                                    <a
                                        href="{% url 'a4dashboard:plan-update' organisation_slug=object.organisation.slug pk=object.pk %}"
                                        class="dropdown-item"
                                        data-embed-target="external"
                                    >{% trans 'Edit' %}</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    {% if object.published_projects %}
    <div class="item-detail-2__project-list">
        <div class="l-wrapper">
            <h3 class="item-detail-2__project-title" id="participation-plans">{% trans "Participation projects" %}</h3>
            <ul class="u-list-reset participation-tile__list">
            {% for project in object.published_projects %}

                    {% include "meinberlin_projects/includes/project_tile.html" with project=project %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
