{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n static %}

{% block dashboard_nav %}
<div class="u--bg-secondary u-spacer-bottom-double">
    <div class="l-wrapper dashboard-nav__breadcrumb">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'All plans' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block title %}{% blocktrans with title=object.title %}Edit {{title}}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<div class="l-menu">
    <div class="l-menu__content l-menu__content--aside">
        <h1 class="u-first-heading">{% trans 'Edit plan' %}</h1>

        {% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug as cancel %}
        {% include "meinberlin_plans/includes/plan_form.html" with cancel=cancel %}
    </div>

    <div class="l-menu__aside">
        <ul class="progress-line u-spacer-bottom">
            {% if plan.is_draft %}
            <ul class="progress-line u-spacer-bottom">
                <li class="progress-line__entry">
                    <span class="progress-line__line--bottom"></span>
                    <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Create plan' %}" aria-label="{% trans 'Create plan, step completed' %}"></i>
                    <span>{% trans 'Create plan' %}</span>
                </li>

                <li class="progress-line__entry">
                    <span class="progress-line__line--top"></span>
                    <span class="progress-line__line--bottom"></span>
                        <i class="fas fa-check-circle u-success progress-line__icon--active" title="{% trans 'Plan not ready for publication' %}" aria-label="{% trans 'Plan not ready for publication' %}"></i>
                    <span class="progress-line__entry--active">
                        <span>{% trans 'Fill in plan details' %}</span>
                    </span>
                </li>

                <li class="progress-line__entry">
                    <span class="progress-line__line--top"></span>
                    <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Plan ready for publication' %}" aria-label="{% trans 'Plan ready for publication' %}"></i>
                    <span>{% trans 'Publish plan' %}</span>
                </li>

            </ul>
            {% else %}
            <li class="progress-line__entry--published">
                <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'The plan has been published' %}" aria-label="{% trans 'The plan has been published' %}"></i>
                <span>{% trans 'The plan has been published.' %}</span>
            </li>
            {% endif %}
        </ul>
        <a href="{{ plan.get_absolute_url }}"
           class="btn btn--light btn--full u-spacer-bottom">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {% if plan.is_draft %}
            {% trans 'Preview' %}
            {% else %}
            {% trans 'View' %}
            {% endif %}
        </a>
        {% if plan.is_draft %}
            <button
              type="button"
              class="btn btn--primary btn--full u-spacer-bottom"
              data-bs-toggle="modal"
              data-bs-target="#plan-publish-modal">
                {% trans 'Publish' %}
            </button>
        {% else %}
            <form action="{% url 'a4dashboard:plan-publish' pk=plan.pk %}" method="post" data-ignore-submit="true">
                {% csrf_token %}
                <button name="action" value="unpublish" class="btn btn--light btn--full u-spacer-bottom">
                    {% trans 'Unpublish' %}
                </button>
            </form>
        {% endif %}
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="plan-publish-modal" aria-labelledby="plan-publish-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title u-first-heading" id="plan-publish-label">{% trans "Are you sure you want to publish your plan?" %}</h2>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% trans 'Close'%}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="u-spacer-bottom">
                    <form action="{% url 'a4dashboard:plan-publish' pk=plan.pk %}" method="post" data-ignore-submit="true" class="u-inline">
                        {% csrf_token %}
                        <button name="action" value="publish" class="btn btn--primary">
                        {% trans 'Publish' %}
                        </button>
                    </form>
                    <button type="button" data-bs-dismiss="modal" class="btn btn--light">{% trans 'Cancel'%}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'unload_warning.js' %}"></script>
{% endblock %}
