{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Plans" %} &mdash; {{ block.super }}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'leaflet.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'leaflet.css' %}" />
{% endblock %}

{% block content %}
    <div class="l-wrapper">
        <div class="l-center-6">
            <h1 class="u-first-heading">
                {% trans 'Plans' %}
            </h1>

            <p>{% blocktrans %}Welcome to the list of plans for the state of Berlin!{% endblocktrans %}</p>
            <p>{% blocktrans %}On this map you can find all plans of the administration, for example development plans and other projects. You can use the zoom feature to get an overview of the plans in your area. More information on each plan is available from the list. Among other things, you can learn wether public participation is planned. All currently active participation projects can also be found on <a href="/" target="_blank">mein.berlin.de</a>.{% endblocktrans %}</p>
        </div>
    </div>

    <div data-map="plans" data-items="{{ items }}" data-districts="{{ districts }}"  data-district-names="{{ district_names }}" data-attribution="{{ attribution }}" data-baseurl="{{ baseurl }}" data-bounds="{{ bounds }}"></div>

{% endblock %}
