{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}

{% block dashboard_nav %}
<div class="u--bg-secondary u-spacer-bottom-double">
    <div class="l-wrapper dashboard-nav__breadcrumb">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'All plans' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block title %}{% blocktrans with title=object.title %}Edit {{title}}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<div class="l-menu__content">
    <h1 class="u-first-heading">{% trans 'Edit plan' %}</h1>

    {% url 'a4dashboard:plan-list' organisation_slug=view.organisation.slug as cancel %}
    {% include "meinberlin_plans/includes/plan_form.html" with cancel=cancel %}
</div>
{% endblock %}
