{% extends "base.html" %}
{% load i18n static rules wagtailcore_tags maps_tags thumbnail ckeditor_tags contrib_tags %}

{% block title %}{{ object.title }} &mdash; {{ block.super }}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
    <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_point.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'dsgvo_video_embed.css' %}" />
{% endblock %}

{% block extra_messages %}
    {{ block.super }}

    {% if plan.is_draft %}
        <ul class="messages">
            <li class="alert alert--warning" role="alert">
                <div class="container">
                    {% translate 'This plan is not published yet.' %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="offset-lg-3 col-lg-6">
            <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
                <ul>
                    <li>
                        <a href="{% url 'meinberlin_plans:plan-list' %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% translate 'back to overview of projects' %}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <article class="offset-lg-3 col-lg-6">
            <div class="item-detail">
                <h1 class="item-detail__title u-break-word">
                    {{ object.title }}
                </h1>

                <div class="item-detail__labels">
                    <span class="label label--secondary">{{ object.get_status_display }}</span>
                </div>

                <section class="item-detail-2__factsheet">
                    <dl class="item-detail-2__factsheet-table" title="{% translate 'Plan details' %}">

                        {% if object.point_label %}
                            <div><dt>{% translate 'Location' %}</dt><dd>{{ object.point_label|default:'no val' }}</dd></div>
                        {% endif %}

                        {% if object.topic_names %}
                        <div>
                            <dt>{% translate 'Topic' %}</dt>
                            <dd>{{ object.topic_names.0 }}{% if object.topic_names.1 %}, {{ object.topic_names.1 }}{% endif %}</dd>
                        </div>
                        {% endif %}

                        {% if object.duration %}
                        <div>
                          <dt>{% translate 'Duration' %}</dt><dd>{{ object.duration }}</dd>
                        </div>
                        {% endif %}

                        {% if object.cost != "Keine Angabe" %}
                        <div>
                          <dt>{% translate 'Cost' %}</dt><dd>{{ object.cost }}</dd>
                        </div>
                        {% endif %}
                        <div>
                          <dt>{% translate 'Level of participation' %}</dt>
                          <dd>
                              {{ object.get_participation_display }}
                              {% if object.published_projects.count %}/
                                  <a href='#participation-plans'>
                                      {% translate 'see participation projects' %}
                                  </a>
                              {% endif%}
                          </dd>
                        </div>
                        <div>
                          <dt>{% translate 'Reference No.' %}</dt>
                          <dd>{{ object.reference_number }},
                              {% if object.modified %}
                                  {% translate 'updated on ' %}{% html_date object.modified class='list-item__date' %}
                              {% else %}
                                  {% translate 'created on ' %}{% html_date object.created class='list-item__date' %}
                              {% endif %}
                          </dd>
                        </div>
                    </dl>
                    {% if object.image %}
                        <div
                            class="item-detail__background-image"
                            style="background-image: url({% thumbnail object.image 'plan_image' %})"
                            role="img"
                            aria-label="{% if plan.image_alt_text %}{{ plan.image_alt_text }}{% else %}{% translate 'Here you can find a decorative picture.' %}{% endif %}"
                        >
                            <p class="item-detail__copyright copyright">
                                {% if object.image_copyright %}
                                    © {{ object.image_copyright }}
                                {% else %}
                                    {% translate 'copyright missing' %}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                </section>

                <div class="item-detail-2__content{% if object.participation_explanation != 'Bitte Begründung einfügen' %}--borderless{% endif%}">
                    <div class="item-detail__basic-content ck-content">
                        {% if object.description %}
                            {{ object.description | transform_collapsibles | richtext }}
                        {% endif %}
                    </div>
                </div>
                {% if object.participation_explanation != "Bitte Begründung einfügen" %}
                <div class="item-detail-2__info-box">
                    <h2 class="item-detail-2__smalltitle">{% translate 'Level of participation' %}: {{ object.get_participation_display }}</h2>

                    {% if object.participation_explanation|length > 300 %}
                        <div id="collapsibleExplanation" class="collapse show u-no-transition">
                            {{ object.participation_explanation|truncatechars:160 }}
                        </div>
                        <div id="collapsibleExplanation" class="collapse u-no-transition">
                            {{ object.participation_explanation }}
                        </div>
                        <button
                            class="btn--link collapsible"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsibleExplanation"
                            aria-expanded="false"
                            aria-controls="collapseReadLink"
                        >
                            <span class="link--more">
                                <span class="visually-hidden">{% translate 'toggle to' %}</span>
                                {% translate 'Read more...' %}
                            </span>
                            <span class="link--less">
                                <span class="visually-hidden">{% translate 'toggle to' %}</span>
                                {% translate 'Read less' %}
                            </span>
                        </button>
                    {% else %}
                        {{ object.participation_explanation }}
                    {% endif %}
                </div>
                {% endif %}

                {% if object.point %}
                    {% map_display_point object.point polygon %}
                {% endif %}

                {% if object.contact_name or object.contact_address_text or object.contact_email or object.contact_phone or object.contact_url or object.organisation.address or object.organisation.url %}
                    <div class="l-tiles-2 u-spacer-bottom">
                    {% if object.contact_name or object.contact_address_text or object.contact_email or object.contact_phone or object.contact_url %}
                        <div>
                            <h2 class="item-detail-2__smalltitle">{% translate 'Contact for questions' %}</h2>
                            <address>
                                {% if object.contact_name %}
                                <p>{{ object.contact_name }}</p>
                                {% endif %}
                                {% if object.contact_address_text %}
                                    <p>{{ object.contact_address_text|linebreaks }}</p>
                                {% endif %}
                                {% if object.contact_phone %}
                                    <p><strong>{% translate 'Telephone' %}: </strong>{{ object.contact_phone }}</p>
                                {% endif %}
                                {% if object.contact_email %}
                                    <a class="btn btn--secondary" href="mailto:{{ object.contact_email }}">
                                        {% translate 'Email' %}
                                    </a>
                                {% endif %}
                                {% if object.contact_url %}
                                    <a class="btn btn--secondary" target="_blank" href="{{ object.contact_url }}">
                                        {% translate 'Website' %}
                                    </a>
                                {% endif %}
                            </address>
                        </div>
                    {% endif %}

                    {% if object.organisation.address or object.organisation.url %}
                        <div>
                            <h2 class="item-detail-2__smalltitle">{% translate 'Responsible body' %}</h2>
                            <address>
                                {% if object.organisation.address %}
                                <p>{{ object.organisation.name }}</p>
                                <p>{{ object.organisation.address|linebreaks }}</p>
                                {% endif %}
                                {% if object.organisation.url %}
                                    <a class="btn btn--secondary" target="_blank" href="{{ object.organisation.url }}">
                                        {% translate 'Website' %}
                                    </a>
                                {% endif %}
                            </address>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}

                {% has_perm 'meinberlin_plans.change_plan' request.user object as user_may_change %}
                {% if user_may_change %}
                <div class="item-detail__actions lr-bar">
                    <div class="lr-bar__right">
                        <div class="dropdown">
                            <button
                                title="{% translate 'Actions' %}"
                                type="button"
                                class="dropdown-toggle btn btn--light btn--small"
                                data-bs-toggle="dropdown"
                                data-flip="false"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="idea-{{ object.pk }}-actions"
                            >
                                <i class="fa fa-ellipsis-h" aria-label="{% translate 'Actions' %}"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="idea-{{ object.pk }}-actions">
                                <li>
                                    <a
                                        href="{% url 'a4dashboard:plan-update' organisation_slug=object.organisation.slug pk=object.pk %}"
                                        class="dropdown-item"
                                        data-embed-target="external"
                                    >
                                        {% translate 'Edit' %}
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </article>
    </div>

    {% if object.published_projects %}
    <section class="item-detail-2__project-list">
        <div class="container">
            <h3 class="item-detail-2__project-title" id="participation-plans">
                {% translate "Participation projects" %}
            </h3>
            <ul class="u-list-reset participation-tile__list">
            {% for project in object.published_projects %}
                {% include "meinberlin_projects/includes/project_tile.html" with project=project %}
            {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
{% endblock %}
