{% extends "a4dashboard/base_project_list.html" %}
{% load i18n rules %}

{% block title %}{% trans "Development plans" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Development plans' %}
        </h1>
        <div class="lr-bar__flex--wrapper lr-bar__actions">
            <a href="{% url 'a4dashboard:bplan-project-create' organisation_slug=view.organisation.slug %}" class="btn">
                {% trans 'New Development plan' %}
            </a>
        </div>
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for bplan in bplan_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=bplan %}
        {% empty %}
            <p>{% trans 'We could not find any development plans.' %}</p>
        {% endfor %}
    </ul>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
