{% load i18n module_tags %}

<li class="list-item">
    <div class="list-item__stats">
        {% spaceless %}
        {% if object|has_feature:"rate" %}
            <span class="rating">
                <span class="rating-button rating-up is-read-only" title="{% trans 'Positive Ratings' %}">
                    {{ object.positive_rating_count }}
                    <i class="fa fa-chevron-up" aria-label="{% trans 'Positive Ratings' %}"></i>
                </span>
                <span class="rating-button rating-down is-read-only" title="{% trans 'Negative Ratings' %}">
                    {{ object.negative_rating_count }}
                    <i class="fa fa-chevron-down" aria-label="{% trans 'Negative Ratings' %}"></i>
                </span>
            </span>
        {% endif %}
        <span title="{% trans 'Comments' %}">
            {{ object.comment_count }}
            <i class="far fa-comment" aria-label="{% trans 'Comments' %}"></i>
        </span>
        {% endspaceless %}
    </div>
    <h3 class="list-item__title">
        <a href="{{ object.get_absolute_url }}">
        {{ object.name }}
        </a>
    </h3>
    <div class="list-item__labels">
        {% for badge in object.item_badges_for_list  %}
            <span class="label label--big {% if badge.0 == 'moderator_feedback' %}label--{{badge.2|classify|lower }}{% endif %}">
                {% if badge.0 == 'point_label' %}
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                {% endif %}
                {{ badge.1 }}
            </span>
        {% endfor %}
        {% if object.additional_item_badges_for_list_count > 0 %}
            <span class="u-spacer-left-half">
            <a href="{{ object.get_absolute_url }}" class="list-item__link">
                {% blocktranslate with counter=object.additional_item_badges_for_list_count %}{{ counter }} More{% endblocktranslate %}
            </a>
            </span>
        {% endif %}
    </div>
</li>
