{% if presets_uncategorized or preset_categories %}
    <select id="select_{{ name }}">
        <option value="">---</option>
        {% for preset in presets_uncategorized %}
            <option value="{{ preset.polygon }}">{{ preset.name }}</option>
        {% endfor %}

        {% for category, presets in preset_categories %}
            <optgroup label="{{ category }}">
                {% for preset in presets %}
                    <option value="{{ preset.polygon }}">{{ preset.name }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
{% endif %}

<div
    style="height: 300px;"
    data-map="choose_polygon"
    data-baseurl="{{ baseurl }}"
    data-attribution="{{ attribution }}"
    data-bbox="{{ bbox }}"
    data-name="{{ name }}"
    {% if polygon %}data-polygon="{{ polygon }}"{% endif %}
></div>

<input id="id_{{ name }}" type="hidden" name="{{ name }}" rows="10" {% if polygon %}value="{{ polygon }}"{% endif %}>
