{% load i18n rules thumbnail wagtailcore_tags contrib_tags ckeditor_tags %}

<div class="project-header">
    <div class="container">
        <div class="offset-lg-2 col-lg-8">
            <div class="project-header__logo-wrapper">
                <img class="project-header__logo" src="{% thumbnail container.tile_image 'logo' %}" alt="" />
                <div class="project-header__logo-body">
                    <h1 class="project-header__title">{{ container.name }}</h1>
                    <div class="project-header__description">
                        <p>{{ container.description }}</p>
                        <p>
                            {% blocktrans with count=project.projectcontainer.total_project_count active_count=project.projectcontainer.active_project_count %}{{ active_count }} of {{ count }}{% endblocktrans %}
                            {% translate 'projects are currently active.' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tablist tablist--left">
    <div class="container">
        <div class="tablist--right">
            {% has_perm 'a4projects.change_project' request.user view.project as user_may_change %}
            {% if user_may_change %}
                <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}" class="btn btn--light btn--small">{% translate 'Edit' %}</a>
            {% endif %}
        </div>

        <nav class="nav" role="tablist">
            <a
                id="tab-project-{{ project.pk }}-information"
                class="tab"
                data-bs-toggle="tab"
                href="#tabpanel-project-{{ project.pk }}-information"
                role="tab"
                aria-controls="tabpanel-project-{{ project.pk }}-information"
                aria-expanded="false">
                {% translate 'Information' %}
            </a>
            <a
                id="tab-project-{{ project.pk }}-participation"
                class="tab active"
                data-bs-toggle="tab"
                href="#tabpanel-project-{{ project.pk }}-participation"
                role="tab"
                aria-controls="tabpanel-project-{{ project.pk }}-participation"
                aria-expanded="true">
                {% translate 'Participation' %}
            </a>
        </nav>
    </div>
</div>

<div
    class="tabpanel"
    id="tabpanel-project-{{ project.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-{{ project.pk }}-information"
    aria-expanded="false">
    <div class="container">
        <div class="offset-lg-2 col-lg-8">
            {{ project.information | transform_collapsibles | richtext }}
        </div>
    </div>
</div>

<div
    class="tabpanel active"
    id="tabpanel-project-{{ project.pk }}-participation"
    role="tabpanel"
    aria-labelledby="tab-project-{{ project.pk }}-participation"
    aria-expanded="true">
    <div class="container">
        {% filter_has_perm 'a4projects.view_project' request.user container.published_not_archived_projects.all as filtered_projects %}
        {% if filtered_projects|length > 0 %}
            <ul class="u-list-reset participation-tile__list">
                {% for project in filtered_projects %}
                    {% include "meinberlin_projects/includes/project_tile.html" with project=project %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{% translate 'We could not find any projects.' %}</p>
        {% endif %}
    </div>
</div>
