<!DOCTYPE html>
{% load static i18n extproject_tags %}
{% get_current_language as LANGUAGE_CODE %}
<html class="embed" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Embedded meinBerlin</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'adhocracy4.css' %}" />
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'adhocracy4.js' %}"></script>
    <script src="{% static 'embed.js' %}"></script>
    <meta name="viewport" content="width=device-width" />
    <base target="_top" />
    {% block header %}{% endblock %}
</head>

<body data-url="{{ object.get_absolute_url }}">
    <header class="embed-header">
        {% if not object|is_external %}
            {% if request.user.is_anonymous %}
                <a href="{% url 'account_login' %}" class="btn btn--light">{% trans 'Login' %}</a>
            {% else %}
                {% trans 'You are logged in as ' %} {{ request.user.username }}
                <a href="{% url 'account_logout' %}" class="js-embed-logout btn btn--light" target="_blank">{% trans 'Logout' %}</a>
            {% endif %}
        {% endif %}
        <div id="embed-status" class="embed-status"></div>
    </header>
    <main class="embed-main"></main>
    <footer class="embed-footer">
        <a href="/" target="_blank">
            <img src="{% static 'images/logo_horizontal.svg' %}" alt="mein.berlin" class="embed-footer__logo">
        </a>
        {% if not object|is_external %}
            <a href="{{ object.get_absolute_url }}" data-embed-target="external">{% trans 'Go to platform' %}</a>
        {% endif %}
    </footer>
    <div id="embed-confirm" class="modal" tabindex="-1" role="dialog" aria-label="{% trans 'Confirm login' %}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <p class="modal-body">{% trans 'You need to login first. By clicking "Login" a popup will open so you can sign in safely. Do you want to login now?' %}</p>
                <div class="modal-footer">
                    <a href="{% url 'account_login' %}" class="embed-confirm__login btn btn--primary">{% trans 'Login' %}</a>
                    <button class="embed-confirm__cancel btn btn--light" data-dismiss="modal">{% trans 'Cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
