{% extends 'meinberlin_dashboard/base_dashboard.html' %}
{% load i18n %}

{% block title %}Edit {{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block dashboard_content %}
<div class="l-wrapper">
    <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
        <ul>
            <li>
                <a href="{% url 'dashboard-project-management' slug=object.project.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to topic list' %}</a>
            </li>
        </ul>
    </nav>

    <h1>{% trans 'Edit topic' %}</h1>

    {% url 'dashboard-project-management' object.project.slug as cancel %}
    {% include "meinberlin_topicprio/includes/topic_mgmt_form.html" with cancel=cancel %}
</div>
{% endblock %}
