{% extends "base.html" %}
{% load i18n rules react_comments react_ratings react_reports wagtailcore_tags item_tags %}

{% block title %}{{object.name}}{% endblock %}
{% block content %}
    <div class="lr-bar">
        <div class="l-wrapper">
            <nav class="lr-bar__left breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'project-detail' object.project.slug %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {% trans 'back to project' %}</a>
                    </li>
                </ul>
            </nav>

            {% if request.user.is_authenticated %}
                <div class="lr-bar__right dropdown dropdown--right">
                    <button
                            title="{% trans 'Actions' %}"
                            type="button"
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            id="topic-{{object.pk}}-actions"
                    >
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="topic-{{object.pk}}-actions">
                        <li>
                            {% trans 'Report' as report_text %}
                            {% react_reports object text=report_text class='dropdown-item' %}
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="resource-header">
        <div class="l-wrapper">
            <div class="l-center-6">
                <h1 class="resource-header__title">{{ object.name }}</h1>

                {% if object.category %}
                    <div class="resource-header__meta">
                        <div class="label label--big">{{ object.category }}</div>
                    </div>
                {% endif %}

                <div class="resource-header__action">
                    {% react_ratings object %}
                </div>

            </div>
        </div>
    </div>

    <div class="l-wrapper">
        <div class="l-center-6">
            {{ object.description | richtext }}
        </div>
    </div>

    <div class="l-wrapper">
        {% react_comments object %}
    </div>
{% endblock %}
