{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n wagtailcore_tags %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block phase_content %}
    <div class="l-wrapper">
        <div class="l-center-6">

            <div class="item-detail">

                <div class="phase-info">
                    <h3 class="phase-info__title">
                        {% trans 'Offline-Event' %}
                    </h3>
                    <div class="phase-info__subtitle">
                        {{ object.date|date:'DATE_FORMAT' }}
                    </div>
                    <div class="phase-info__description">
                        {% trans 'Here you can read the documentation on what happened during this Offline-Event.' %}
                    </div>
                </div>

                <h1 class="item-detail__title">{{ object.name }}</h1>

                <div class="item-detail__content">
                    {{ object.description | richtext }}

                    {% block additional_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
