{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n wagtailcore_tags %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block phase_content %}
    <div class="l-wrapper">
        <div class="l-center-6">

            <div class="item-detail">
                <h1 class="item-detail__title">{{ object.name }}</h1>

                <div class="item-detail__content">
                    {{ object.description | richtext }}

                    {% block additional_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
