{% extends 'meinberlin_dashboard/base_dashboard.html' %}
{% load i18n %}

{% block dashboard_content %}
    <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
        <ul>
            <li>
                <a href="{% url 'dashboard-project-list' view.organisation.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to dashboard' %}</a>
            </li>
        </ul>
    </nav>
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Offline Events' %}
        </h1>
        <div class="lr-bar__right">
            <a href="{% url 'meinberlin_offlineevents:offlineevent-create' project_slug=project.slug %}" class="button">
                {% trans 'Add offline event' %}
            </a>
        </div>
    </div>
    <div class="module-content">
        <div class="l-center-8">
            {% if object_list.count > 0 %}
                <ul>
                    {% for object in object_list %}
                        {% include "meinberlin_offlineevents/includes/offlineevent_list_item.html" with object=object %}
                    {% endfor %}
                </ul>
            {% else %}
                {% trans "Nothing to show" %}
            {% endif %}

            {% include "meinberlin_contrib/includes/pagination.html" %}
        </div>
    </div>
{% endblock %}
