{% extends 'meinberlin_dashboard/base_dashboard.html' %}
{% load i18n item_tags %}

{% block title %}{% trans 'Confirm Offline Event Deletion' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<div class="l-wrapper">
    <h1>{% trans 'Are you sure you want to delete the offline event?' %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="submit" class="button button--primary" value="{% trans 'Yes'%}" />

        <a href="{% url 'meinberlin_offlineevents:offlineevent-list' project_slug=project.slug %}" class="button button--light">
            {% trans 'Cancel'%}
        </a>
    </form>
</div>
{% endblock %}
