{% extends "meinberlin_dashboard2/base_dashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
    <div class="menu-layout">
        <nav class="menu-layout__menu" aria-label="{% trans 'Dashboard navigation' %}">
            <div class="dashboard-nav">
                <div class="dashboard-nav__dropdown">
                    <div class="dashboard-nav__item">{{ project.name }}</div>
                </div>
                <ul class="dashboard-nav__pages">
                    {% for item in dashboard_menu.project %}
                        <li class="dashboard-nav__page">
                            <a href="{{ item.url }}" class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">{{ item.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for module_menu in dashboard_menu.modules %}
                <div class="dashboard-nav">
                    <div class="dashboard-nav__dropdown">
                        <div class="dashboard-nav__item">{{ module_menu.module.name }}</div>
                    </div>
                    <ul class="dashboard-nav__pages">
                        {% for item in module_menu.menu %}
                            <li class="dashboard-nav__page">
                                <a href="{{ item.url }}" class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">{{ item.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </nav>

        <div class="menu-layout__content menu-layout__content--aside">
            {% block dashboard_project_content %}{% endblock %}
        </div>

        <div class="menu-layout__aside">
            No progress this far!!
        </div>
    </div>
{% endblock %}
