{% extends "meinberlin_dashboard2/base_dashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
    <div class="menu-layout">
        <nav class="menu-layout__menu" aria-label="{% trans 'Dashboard navigation' %}">
            <div class="dashboard-nav">
                <div class="dashboard-nav__dropdown">
                    <div class="dashboard-nav__item">Entwicklungs- und Pflegeplan</div>
                </div>
                <ul class="dashboard-nav__pages">
                    <li class="dashboard-nav__page">
                        <a href="#" class="dashboard-nav__item dashboard-nav__item--interactive is-active">Grundeinstellungen</a>
                    </li>
                    <li class="dashboard-nav__page">
                        <a href="#" class="dashboard-nav__item dashboard-nav__item--interactive">Information</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="menu-layout__content menu-layout__content--aside">
            {% block dashboard_project_content %}{% endblock %}
        </div>

        <div class="menu-layout__aside">
            <svg viewBox="0 0 35 35" class="progress">
                <circle class="progress__background" r="15.9" cx="50%" cy="50%"></circle>
                <circle class="progress__value" stroke-dasharray="12.5 100" r="15.9" cx="50%" cy="50%"></circle>
                {% if progress == 100 %}
                    <path class="progress__check" d="m 25,13.996777 q 0,0.387096 -0.27097,0.65806 l -7.006451,7.006452 -1.316127,1.316132 q -0.27097,0.270965 -0.658066,0.270965 -0.387097,0 -0.658061,-0.270965 L 13.774193,21.661289 10.27097,18.158066 Q 10,17.887096 10,17.5 q 0,-0.387096 0.27097,-0.658066 l 1.316126,-1.316127 q 0.27097,-0.27097 0.658066,-0.27097 0.387097,0 0.658061,0.27097 l 2.845163,2.854838 6.348391,-6.358066 q 0.270964,-0.270965 0.65806,-0.270965 0.387097,0 0.658067,0.270965 l 1.316126,1.316132 Q 25,13.609675 25,13.996777 Z"></path>
                {% else %}
                    <text class="progress__label" x="50%" y="50%" dy="0.3em">12,5%</text>
                {% endif %}
            </svg>
        </div>
    </div>
{% endblock %}
