{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% translate 'Activities' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <h1 class="u-first-heading">{% translate 'Activities' %}</h1>
    <p>{% translate 'Here you can find any actions that have happened in projects you are following.' %}</p>

    <div>
        {% for action in action_list %}
            {% include 'meinberlin_actions/includes/action.html' with action=action %}
        {% endfor %}
    </div>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
