{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% translate 'Your user profile' %} &mdash; {{ block.super }}{% endblock %}
{% block dashboard_content %}
    <h1 class="u-first-heading">{% translate 'Your profile' %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.username %}

        {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.get_notifications %}

        {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.get_newsletters %}

        <div class="u-spacer-bottom">
            <button type="submit" class="btn btn--primary">{% translate 'Save changes'%}</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
