{% extends "a4dashboard/base_project_list.html" %}
{% load i18n rules %}

{% block title %}{% trans "Linkages" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Linkages' %}
        </h1>
        <div class="lr-bar__sm-left-lg-right">
            <a href="{% url 'a4dashboard:external-project-create' organisation_slug=view.organisation.slug %}" class="btn">
                {% trans 'New Linkage' %}
            </a>
        </div>
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for linkage in externalproject_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=linkage %}
        {% empty %}
            <p>{% trans 'We could not find any linkages.' %}</p>
        {% endfor %}
    </ul>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
