{% load i18n widget_tweaks %}
<form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.name %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

    {% if form.show_categories %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.category %}
    {% endif %}

    {% if form.show_labels %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.labels %}
    {% endif %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.image %}

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.right_of_use %}

    {% include 'meinberlin_contrib/includes/form_field_with_addon.html' with field=form.budget after='€' %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point_label %}

    <h2>{% blocktranslate %}Contact Information{% endblocktranslate %}</h2>

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.allow_contact %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_email %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_phone %}

    <div class="form-check">
        <label class="form-check__label">
            {{ form.contact_storage_consent|add_error_attr:"aria-invalid:true" }}
            {% blocktranslate with privacy_policy="/datenschutz" %}I hereby expressly consent to the storage of the contact information I have entered. The contact information may be used by the responsible administration exclusively for contacting me in the present project. I can revoke this consent at any time. I have read and accept the <a href="{{privacy_policy}}" target="_blank">privacy policy</a>.{% endblocktranslate %}
        </label>
        {% if form.contact_storage_consent.errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.contact_storage_consent.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="u-spacer-bottom">
        <input type="submit" class="btn btn--primary" value="{% translate 'Save'%}" />
        <a href="{{ cancel }}" class="btn btn--light">{% translate 'Cancel'%}</a>
    </div>
</form>
