{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n rules static maps_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'a4maps/map_display_points.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    <link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_perm 'meinberlin_kiezkasse.add_proposal' request.user view.module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_kiezkasse:proposal-create' slug=view.module.slug %}" class="button">
            {% trans 'Submit proposal' %}
        </a>
    {% endif %}
{% endblock %}

{% block phase_content %}
    <div class="filter-bar__top-overlap">
        <div class="l-wrapper">
            <div class="l-center-8">
                {% include "meinberlin_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
            </div>
        </div>
    </div>
    {% if view.mode == 'map' %}
        <div class="map-list">
            <div class="map-list__controls">
                <div class="l-wrapper">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                        <a class="leaflet-control-zoom-in" id="zoom-in" href="#" title="{% trans 'Zoom in' %}">+</a>
                        <a class="leaflet-control-zoom-out leaflet-disabled" id="zoom-out" href="#" title="{% trans 'Zoom out' %}">-</a>
                    </div>
                </div>
            </div>
            {% map_display_points object_list view.module.settings_instance.polygon %}
        </div>
    {% else %}
        <div class="list list--highlight">
            <div class="l-wrapper">
                <div class="l-center-8">

                    {% for object in object_list %}
                        {% include "meinberlin_kiezkasse/includes/proposal_list_item.html" with object=object %}
                    {% endfor %}

                    {% if object_list.count == 0 %}
                        {% trans "Nothing to show" %}
                    {% endif %}
                    {% include "meinberlin_contrib/includes/pagination.html" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
