{% extends "base_errors.html" %}
{% load i18n rules %}

{% block error_status %}404{% endblock %}

{% block error_description %}
    <p>
        {% trans 'Participation is not possible at the moment. The poll has not been set up yet.' %}
    </p>

    {% has_perm 'a4polls.change_poll' request.user module as may_change %}
    {% if may_change %}
        <p>
            <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}">
                {% trans 'Setup the poll by adding questions and answers in the dashboard.' %}
            </a>
        </p>
    {% endif %}

{% endblock %}
