{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n widget_tweaks %}

{% block dashboard_project_content %}
<h1 class="u-first-heading">{% translate 'Generate voting codes' %}</h1>

<p class="form-hint u-bottom-divider">{% blocktranslate %}For voting in the third phase, all participants need their own voting code. Here you can generate up to {{ tokens_per_module }} codes. Depending on the number this may take a few minutes.{% endblocktranslate %}</p>
<p class="u-bottom-divider">{% blocktranslate %}Number of generated codes: {{ number_of_module_tokens }}.{% endblocktranslate %} {% blocktranslate %}To download them please go to code download.{% endblocktranslate %}</p>

<form method="POST">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
        {% trans 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <label for="{{ form.number_of_tokens.id_for_label }}">
    {{ form.number_of_tokens.label }}{% if form.number_of_tokens.field.required %}<span role="presentation" title="{% trans 'This field is required' %}">*</span>{% endif %}
    </label>
    {% if form.number_of_tokens.help_text %}
    <div class="form-hint">
        {{ form.number_of_tokens.help_text }}
    </div>
    {% endif %}
    <div class="input-group">
        {{ form.number_of_tokens|add_class:"form-control"|add_error_attr:"aria-invalid:true" }}
        <input type="submit" class="btn btn--secondary" value="{% translate 'Generate codes' %}"/>
    </div>
    {% if form.number_of_tokens.errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
        {% for error in form.number_of_tokens.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</form>
{% endblock %}
