{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n static humanize %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% translate 'Download voting codes' %}</h1>

    <p class="form-hint u-bottom-divider">{% blocktranslate %}For voting in the third phase, all participants need their own voting code. Here you can download the codes in packages of up to {{ export_size }} per excel file. Each file can be downloaded only once before the codes are being encrypted. To generate the codes, please contact {{ contact_email }}.{% endblocktranslate %}</p>
    <p class="u-bottom-divider">{% blocktranslate %}Number of generated codes: {{ number_of_module_tokens }}.{% endblocktranslate %}</p>
    <ul class="u-list-reset">
        {% if token_export_url %}
            {% for package, downloaded, size in token_packages %}
            <li class="u-bottom-divider u-space-between">
              <div class="" id="id-export-tokens-hint-{{ forloop.counter }}">
                    {% translate " code package no." %}  {{ forloop.counter }} ({% blocktranslate with count_int=size|intcomma count counter=size %}{{ count_int }} Code{% plural %}{{ count_int }} Codes{% endblocktranslate %})
                </div>
                <a
                {% if downloaded %}
                    class="btn btn--light disabled"
                {% else %}
                    class="btn btn--secondary"
                {% endif %}
                  id="download-link-{{ forloop.counter }}"
                  aria-labelledby="id-export-tokens-hint-{{ forloop.counter }} download-link--{{ forloop.counter }}"
                  href="{{ token_export_url }}?package={{ package }}"
                >
                {% if downloaded %}
                    {% translate "Encrypted" %}
                {% else %}
                    {% translate "Download" %}
                {% endif %}
                </a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'token_download_button.js' %}"></script>
{% endblock %}
