{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block dashboard_project_content %}
<h1 class="u-first-heading mt-0">{% translate 'Generate voting codes' %}</h1>

<p class="form-hint">{% blocktranslate %}For voting in the third phase, all participants need their own voting code. Here you can generate up to {{ tokens_per_module }} codes. Depending on the number this may take a few minutes.
{% endblocktranslate %}</p>
<p>{% blocktranslate %}Number of generated codes: {{ number_of_module_tokens }}. To download them please go to code download.{% endblocktranslate %}</p>
<table class="export-table">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="errorlist">{% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}</div>
                {% endif %}

                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}

                <div class="form-group">
                    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.number_of_tokens %}
                    <input type="submit" class="btn btn--secondary" value="{% translate 'Generate codes' %}"/>
                </div>
            </form>
        </tr>
    </tbody>
</table>
{% endblock %}
