{% load i18n %}
<div class="formset__form">
    {% if can_delete %}
        <input type="checkbox" name="{{ form.DELETE.name }}" id="{{ form.DELETE.id_for_label }}" class="formset__delete">
    {% endif %}
    <label for="{{ form.name.id_for_label }}" class="sr-only">
        {{ form.name.label }}
    </label>
    {{ form.name }}
    {% if can_delete %}
        <label for="{{ form.DELETE.id_for_label }}" class="formset__delete-label">
            <i class="fa fa-times" aria-label="{% trans 'remove category' %}"></i>
        </label>
    {% endif %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</div>
