{% load i18n %}
<div class="dropdown m-right">
    {% trans 'Sort by:' %}
    <button
            title="{% trans 'Actions' %}"
            type="button"
            class="dropdown-toggle-text"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="{{object.pk}}-sorts"
    >
        {{ view.get_current_ordering_name}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="idea-{{idea.pk}}-actions">
        {% for ordering, ordering_name in view.orderings_supported %}
        <li>
            <a href="?ordering={{ ordering }}">{{ ordering_name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
