{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% trans "Places" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="u-first-heading lr-bar__left">
            {% trans 'Places' %}
        </h1>
        <div class="lr-bar__right">
            <a href="{% url 'a4dashboard:maptopic-create' module_slug=module.slug %}" class="btn btn--primary">
                {% trans 'Add Place' %}
            </a>
        </div>
    </div>
    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    {% if object_list.count > 0 %}
        <ul class="u-list-reset">
            {% for object in object_list %}
                {% include "meinberlin_maptopicprio/includes/maptopic_dashboard_list_item.html" with object=object %}
            {% endfor %}
        </ul>
    {% else %}
        {% trans "Nothing to show" %}
    {% endif %}

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
