{% extends "meinberlin_contrib/item_detail.html" %}
{% load i18n rules react_comments_async module_tags react_ratings wagtailcore_tags maps_tags categories_tags static thumbnail %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_point.css'%}" rel="stylesheet" />
{% endblock %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'back' %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <article class="offset-lg-3 col-lg-6">
        <div class="item-detail">
            <h1 class="item-detail__title">{{ object.name }}</h1>

            {% include "meinberlin_contrib/includes/item_detail_labels.html" with object=object %}


            <div class="item-detail__content">
                <div class="item-detail__basic-content">
                    <img class="item-detail__hero-image" src="{% thumbnail object.image 'item_image' %}" alt="">
                    <div class="ck-content">
                        {{ object.description | richtext }}
                    </div>
                </div>

                {% if object.point %}
                    {% get_category_pin_url object as pin_url %}
                    {% map_display_point object.point object.module.areasettings_settings.polygon pin_url %}
                {% endif %}
            </div>

            <div class="item-detail__meta lr-bar">
                <div class="lr-bar__right">
                    <strong>{% translate 'Reference No.' %}:</strong>
                    {{ object.reference_number }}
                </div>
            </div>

            <div class="item-detail__actions lr-bar">
                {% if object|has_feature:"rate" %}
                    <div class="lr-bar__left">
                        {% react_ratings object %}
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
    <section class="offset-lg-3 col-lg-6">
        <h2 class="visually-hidden">{% translate 'Comments' %}</h2>
        {% react_comments_async object %}
    </section>
</div>
{% endblock %}
