{% extends "meinberlin_contrib/item_detail.html" %}
{% load i18n rules react_comments module_tags react_ratings wagtailcore_tags maps_tags static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'a4maps/map_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link type="text/css" href="{% static 'leaflet.css'%}" rel="stylesheet" />
{% endblock %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ project.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {{ project.name }}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="item-detail">
            <h1 class="item-detail__title">{{ object.name }}</h1>


            <div class="item-detail__labels">
                {% if object.category %}
                    <div class="label label--big">{{ object.category }}</div>
                {% endif %}
                {% if object.point_label %}
                    <span class="label label--big"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.point_label }}</span>
                {% endif %}
            </div>


            <div class="item-detail__content">
                {{ object.description | richtext }}

                {% if object.point %}
                    {% map_display_point object.point object.module.areasettings_settings.polygon %}
                {% endif %}
            </div>

            <div class="item-detail__actions lr-bar">
                {% if object|has_feature:"rate" %}
                    <div class="lr-bar__left">
                        {% react_ratings object %}
                    </div>
                {% endif %}
            </div>
            {% react_comments object %}
        </div>
    </div>
</div>
{% endblock %}
