{% extends "a4dashboard/base_project_list.html" %}
{% load i18n rules %}

{% block title %}{% translate "Containers" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% translate 'Containers' %}
        </h1>
        {% has_perm 'meinberlin_projectcontainers.add_container' request.user as can_add_project %}
        {% if not can_add_project %}
            <div class="lr-bar__flex--wrapper u-spacer-top">
                <div class="u-flex">
                    <i class="fas fa-exclamation-circle u-danger u-icon-spacing" aria-hidden="true"></i>
                    <p class="u-danger u-font-italic u-spacer-right">{% translate 'No new project containers can be created. Please use the multimodule feature. Existing project containers can still be edited.' %}</p>
                </div>
                <button class="btn btn--primary" aria-disabled="true" disabled>
                    {% translate 'New Container' %}
                </button>
            </div>
        {% else %}
            <div class="lr-bar__flex--wrapper lr-bar__actions">
                <a href="{% url 'a4dashboard:container-create' organisation_slug=view.organisation.slug %}" class="btn btn--primary">
                    {% translate 'New Container' %}
                </a>
            </div>
        {% endif %}
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for container in projectcontainer_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=container %}
        {% empty %}
            <p>{% translate 'We could not find any containers.' %}</p>
        {% endfor %}
    </ul>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
