{% extends "a4dashboard/base_project_list.html" %}
{% load i18n rules %}

{% block title %}{% trans "Containers" %} &mdash; {{ block.super }}{% endblock%}

{% block project_list %}
    <div class="lr-bar lr-bar--with-margin">
        <h1 class="lr-bar__left">
            {% trans 'Containers' %}
        </h1>
        {% has_perm 'meinberlin_projectcontainers.add_container' request.user as can_add_project %}
        <div class="lr-bar__sm-left-lg-right">
            <a href="{% url 'a4dashboard:container-create' organisation_slug=view.organisation.slug %}" class="btn" {% if not can_add_project %}disabled aria-disabled="true"{% endif %}>
                {% trans 'New Container' %}
            </a>
        </div>
    </div>

    {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

    <ul class="u-list-reset">
        {% for container in projectcontainer_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=container %}
        {% empty %}
            <p>{% trans 'We could not find any containers.' %}</p>
        {% endfor %}
    </ul>

    {% include "meinberlin_contrib/includes/pagination.html" %}
{% endblock %}
