{% extends 'base.html' %}

{% block title %}Component Library &emdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="l-wrapper">
        <h1 id="cl-alerts">Alerts</h1>

        <div class="cl-example">
            <span title="`messages` behaves differently if it is the first child in a block"></span>
            <ul class="messages">
                <li class="alert success" role="alert">
                    <div class="l-wrapper">
                        Success
                        <button class="alert__close">X</button>
                    </div>
                </li>
                <li class="alert info" role="alert">
                    <div class="l-wrapper">
                        Info
                        <button class="alert__close">X</button>
                    </div>
                </li>
                <li class="alert warning" role="alert">
                    <div class="l-wrapper">
                        Warning
                        <button class="alert__close">X</button>
                    </div>
                </li>
                <li class="alert danger" role="alert">
                    <div class="l-wrapper">
                        Danger
                        <button class="alert__close">X</button>
                    </div>
                </li>
            </ul>

            <p class="alert alert--small" role="alert">
                Small
                <button class="alert__close">X</button>
            </p>
        </div>
    </div>
{% endblock %}
