{% load i18n %}
<form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.name %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

    {% if form.show_categories %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.category %}
    {% endif %}

    {% if form.show_labels %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.labels %}
    {% endif %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.image %}

    {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=form.right_of_use %}

    <div class="u-spacer-bottom">
        <input type="submit" class="btn btn--primary" value="{% translate 'Save'%}" />
        <a href="{{ cancel }}" class="btn btn--light">{% translate 'Cancel'%}</a>
    </div>
</form>
