{% load i18n module_tags contrib_tags %}

<li class="list-item list-item--squashed">
    <div class="list-item__stats">
        {% spaceless %}
        {% if object|has_feature:"rate" %}
            <span class="rating">
                <span class="rating-button rating-up is-read-only" title="{% trans 'Positive Ratings' %}">
                    <i class="fa fa-chevron-up" aria-label="{% trans 'Positive Ratings' %}"></i>
                    {{ object.positive_rating_count }}
                </span>
                <span class="rating-button rating-down is-read-only" title="{% trans 'Negative Ratings' %}">
                    <i class="fa fa-chevron-down" aria-label="{% trans 'Negative Ratings' %}"></i>
                    {{ object.negative_rating_count }}
                </span>
            </span>
        {% endif %}
        <span title="{% trans 'Comments' %}" class="list-item__comments">
            <i class="fa fa-comment-o" aria-label="{% trans 'Comments' %}"></i>
            {{ object.comment_count }}
        </span>
        {% endspaceless %}
    </div>
    <h3 class="list-item__title">
        <a href="{{ object.get_absolute_url }}">
        {{ object.name }}
        </a>
    </h3>
    {% if object.category %}
        <div class="list-item__labels">
            <span class="label label--big">{{ object.category }}</span>
        </div>
    {% endif %}
    <span class="list-item__author">
        {{ object.creator.username }}
    </span>
    {% html_date object.created class='list-item__date' %}
</li>
