{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% trans 'Confirm Offline Event Deletion' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_project_content %}
<div class="l-wrapper">
    <h1 class="u-first-heading">{% trans 'Are you sure you want to delete the offline event?' %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn--primary" value="{% trans 'Yes'%}" />

        <a href="{% url 'a4dashboard:offlineevent-list' project_slug=project.slug %}" class="btn btn--light">
            {% trans 'Cancel'%}
        </a>
    </form>
</div>
{% endblock %}
