{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n wagtailcore_tags %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block phase_content %}
    <div class="container">
        <div class="offset-lg-3 col-lg-6">
            <article class="item-detail">
                <h2 class="item-detail__title">{{ object.name }}</h2>

                <div class="item-detail__meta">
                    <strong>{{ object.date }}</strong>
                </div>

                <div class="item-detail__content ck-content">
                    {{ object.description | transform_collapsibles | richtext }}

                    {% block additional_content %}{% endblock %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
