{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% translate 'Create a new event' %} &mdash; {{ block.super }}{% endblock %}
{% block dashboard_project_content %}
<div class="container">
    <h1 class="u-first-heading">{% translate 'Add a new offline event'%}</h1>

    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
      {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    {% url 'a4dashboard:offlineevent-list' project_slug=project.slug as cancel %}
    {% include "meinberlin_offlineevents/includes/offlineevent_form.html" with cancel=cancel %}
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
