{% load i18n %}

<div class="dropdown">

    {% if request.user.is_authenticated %}

    <button
            type="button"
            class="btn btn--secondary dropdown-toggle"
            data-bs-toggle="dropdown"
            data-flip="false"
            aria-haspopup="true"
            aria-expanded="false"
            id="user-actions"
    >
        {{ request.user.username }}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'account' %}">{% translate "Account Settings" %}</a>
        {% for organisation in request.user.organisations %}
            <a class="dropdown-item" href="{% url 'a4dashboard:project-list' organisation_slug=organisation.slug %}">
                {{ organisation.name }}
            </a>
        {% endfor %}
        {% if request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'meinberlin_platformemails:create' %}">{% translate "Platform Email" %}</a>
        {% endif %}
            <form class="u-inline" action="{% url 'account_logout' %}" method="post" aria-label="{% translate 'Logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_field_value }}">
                <button type="submit" class="dropdown-item">{% translate "Logout" %}</button>
            </form>
    </div>

    {% else %}

    <button
            type="button"
            class="dropdown-toggle btn btn--secondary"
            data-bs-toggle="dropdown"
            data-flip="false"
            aria-haspopup="true"
            aria-expanded="false"
            id="login-register"
    >
        {% translate "Login" %} / {% translate "Register" %}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="login-register">
        <li>
            <a class="dropdown-item" href="{% url 'account_login' %}?next={{ redirect_field_value|urlencode }}">{% translate "Login" %}</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'account_signup' %}?next={{ redirect_field_value|urlencode }}">{% translate "Register" %}</a>
        </li>
    </ul>

    {% endif %}
</div>
