{% load i18n %}

{{ form.management_form }}

<p class="form-hint">
    {% blocktrans %}Depending on the selected module, the participation
    process has one or two phases. The name and description of the phase(s)
    should encourage the users to participate and let them know how
    they can participate.{% endblocktrans %}
</p>

{% for phase_form in form %}

    <h3>Phase {{ forloop.counter }}</h3>

    {% include 'a4dashboard/includes/form_field.html' with field=phase_form.name %}

    {% include 'a4dashboard/includes/form_field.html' with field=phase_form.description %}

    {% include 'a4dashboard/includes/form_field.html' with field=phase_form.start_date %}

    {% include 'a4dashboard/includes/form_field.html' with field=phase_form.end_date %}

    {% for hidden in phase_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
{% endfor %}
