{% load i18n static %}

<h4 class="dashboard-nav__header">
{% blocktrans count counter=dashboard_menu.modules|length %}Participation Module{% plural %}Participation Modules{% endblocktrans %}
</h4>

<a
    class="btn btn--secondary btn--full u-spacer-bottom"
    href="{% url 'a4dashboard:module-blueprint-list' project_slug=project.slug %}"
    data-bs-toggle="ajax-modal"
    data-bs-target="#module-blueprint-list"
    data-target-selector="#module-blueprint-list">
    {% trans 'Create Module' %}
</a>

{% for module_menu in dashboard_menu.modules reversed %}
    {% include "a4dashboard/includes/nav_modules_item.html" %}
{% empty %}
<div>
    <p>{% trans 'You have not set up a participation module yet.' %}</p>
</div>
{% endfor %}
