{% load i18n static %}

<h4 class="dashboard-nav__header">
{% blocktranslate count counter=dashboard_menu.modules|length %}Participation Module{% plural %}Participation Modules{% endblocktranslate %}
</h4>

<button
    class="btn btn--secondary btn--full u-spacer-bottom"
    type="button"
    id="module-blueprint-btn"
    href="{% url 'a4dashboard:module-blueprint-list' project_slug=project.slug %}"
    data-bs-toggle="modal"
    data-bs-target="#module-blueprint-list">
    {% translate 'Create Module' %}
</button>

{% for module_menu in dashboard_menu.modules reversed %}
    {% include "a4dashboard/includes/nav_modules_item.html" %}
{% empty %}
<div>
    <p>{% translate 'You have not set up a participation module yet.' %}</p>
</div>
{% endfor %}

<div class="modal" tabindex="-1" role="dialog" id="module-blueprint-list">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title u-first-heading">{% translate "Choose Participation Module" %}</h2>
                <button type="button" class="close btn--close" data-bs-dismiss="modal" aria-label="{% translate 'Close' %}">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- must load in order to populate the modal with blueprint list -->
{% block extra_js %}
    <script src="{% static 'blueprint_picker.js' %}"></script>
{% endblock %}
