{% load i18n static meinberlin_dashboard_tags meinberlin_project_tags %}
{% closed_accordeons project.id as closed_accordeons %}

<div class="dashboard-nav">
    <div class="dashboard-nav__collapsible-menu">
        <input class="dashboard-nav__checkbox" type="checkbox" id="dashboard-nav__module--{{ module_menu.module.pk }}" {% if not module_menu.module.pk in closed_accordeons %}checked{% endif %} aria-label="{% trans 'Toggle menu' %}">
        <label class="dashboard-nav__dropdown" for="dashboard-nav__module--{{ module_menu.module.pk }}" tabindex="0">
            <div class="dashboard-nav__item">
                <div class="dashboard-nav__header">
                    <span>{% trans 'Module' %}</span>
                    <span>
                        {% if module_menu.is_complete %}
                            <i class="fas fa-check-circle u-success dashboard-nav__dropdown-icon" title="{% trans 'Module ready for addition' %}" aria-label="{% trans 'Module ready for addition' %}"></i>
                        {% else %}
                            <i class="fas fa-exclamation-circle u-danger dashboard-nav__dropdown-icon" title="{% trans 'Module not ready for addition' %}" aria-label="{% trans 'Module not ready for addition' %}"></i>
                        {% endif %}
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </span>
                </div>
                {{ module_menu.module.name }} {% if module_menu.module.module_start and module_menu.module.module_end  %} <br> <small>{{ module_menu.module.module_start | date:"SHORT_DATE_FORMAT" }} - {{ module_menu.module.module_end | date:"SHORT_DATE_FORMAT"}}</small>{% endif %}
            </div>
        </label>
        <div class="dashboard-nav__menu-content">
            <ul>
            {% for item in module_menu.menu %}
                {% if not item.for_superuser_only or request.user.is_superuser %}
                <li class="dashboard-nav__page">
                    <a href="{{ item.url }}"
                       class="dashboard-nav__item dashboard-nav__item--interactive {{ item.is_active|yesno:"is-active," }}">
                        {{ item.label }}
                        {% if not item.is_complete %}
                            <i class="fas fa-exclamation-circle u-danger dashboard-nav__icon" title="{% trans 'Missing required fields' %}" aria-label="{% trans 'Missing required fields' %}"></i>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="dashboard-nav__module-control form-row">
    <form class="dashboard_nav__form--project" action="{% url 'a4dashboard:module-publish' module_slug=module_menu.module.slug %}" method="post" data-ignore-submit="true">
        {% csrf_token %}
        <input type="hidden" name="referrer" value="{{ request.path }}" />
        {% if module_menu.module.is_draft %}
            <button name="action" value="publish" {% if not module_menu.is_complete %}disabled{% endif %} class="btn btn--primary btn--full btn--attached-top u-spacer-bottom-half">
                {% trans 'Show in project' %}
            </button>
        {% else %}
            <button name="action" value="unpublish" {% if not project|has_unpublishable_modules %}disabled{% endif %} class="btn btn--secondary btn--full btn--attached-top u-spacer-bottom-half">
                {% trans 'Hide from project' %}
            </button>
        {% endif %}
    </form>
    {% if module_menu.module.is_draft %}
    <button type="submit" class="btn btn--full btn--danger u-spacer-bottom dashboard_nav__btn--delete" value="{% trans 'Delete' %}" data-bs-toggle="modal" data-bs-target="#delete-modal{{ module_menu.module.pk }}">
        <i class="fas fa-trash-alt" aria-label="{% trans 'Delete module' %}"></i>
        {% trans 'Delete module' %}
    </button>
    {% endif %}
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-modal{{ module_menu.module.pk }}" aria-labelledby="delete-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title u-first-heading" id="delete-modal-label">{% trans "Are you sure you want to delete your module?" %}</h2>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{% trans 'Close'%}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="u-spacer-bottom">
                    <form enctype="multipart/form-data" action="{% url 'a4dashboard:module-delete' slug=module_menu.module.slug %}" method="post" class="u-inline">
                        {% csrf_token %}
                        <input type="hidden" name="referrer" value="{{ request.path }}" />
                        <button type="submit" class="btn btn--danger" value="{% trans 'Delete' %}" data-bs-toggle="modal" data-bs-target="#delete-modal">
                            <i class="fas fa-trash-alt" aria-label="{% trans 'Delete module' %}"></i>
                            {% trans 'Delete module' %}
                        </button>
                    </form>
                    <button type="button" data-bs-dismiss="modal" class="btn btn--light">{% trans 'Cancel'%}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
