{% load i18n %}

<ul class="progress-line u-spacer-bottom">
    <li class="progress-line__entry--published">
        <i class="fas fa-check-circle u-success progress-line__icon" title="{% translate 'Project type has been published' %}" aria-label="{% translate 'Project type has been published' %}"></i>

        {% if project.project_type == 'meinberlin_bplan.Bplan' %}
        <span>{% translate 'The development plan has been published.' %}</span>
        {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
        <span>{% translate 'The linkage has been published.' %}</span>
        {% else %}
        <span>{% translate 'The project has been published. You can add further modules.' %}</span>
        {% endif %}
    </li>
</ul>
