{% load i18n meinberlin_dashboard_tags meinberlin_project_tags rules static %}
<ul class="progress-line u-spacer-bottom">
    <li class="progress-line__entry">
        <span class="progress-line__line--bottom"></span>
        <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Project type created' %}" aria-label="{% trans 'Project type created' %}"></i>
        {% if project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
        <span>{% trans 'Create container' %}</span>
        {% else %}
        <span>{% trans 'Create project' %}</span>
        {% endif %}
    </li>

    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if project_progress.project_is_complete %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Project type ready for publication' %}" aria-label="{% trans 'Project type ready for publication' %}"></i>
        {% else %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Project type not ready for publication' %}" aria-label="{% trans 'Project type not ready for publication' %}"></i>
        {% endif %}


        <span {% if dashboard_menu.project|project_nav_is_active %}class="progress-line__entry--active"{% endif %}>
            {% if project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
            <span>{% trans 'Fill in container details' %}</span>
            {% else %}
            <span>{% trans 'Fill in project details' %}</span>
            {% endif %}
        </span>
    </li>


    {% if project.project_type == 'a4projects.Project' %}
    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if dashboard_menu.modules|length == 0 %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'No module created' %}" aria-label="{% trans 'No module created' %}"></i>
        {% else %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Module created' %}" aria-label="{% trans 'Module created' %}"></i>
        {% endif %}
        <span>{% trans 'Create module(s)' %}</span>
    </li>

    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if dashboard_menu.modules|length == 0 %}
            <i class="far fa-circle progress-line__icon" title="{% trans 'Module not ready to be filled in' %}" aria-label="{% trans 'Module not ready to be filled in' %}"></i>
        {% elif not dashboard_menu.modules|has_publishable_module %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Fill in module details' %}" aria-label="{% trans 'Fill in module details' %}"></i>
        {% else %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Module ready to be added to project' %}" aria-label="{% trans 'Module ready to be added to project' %}"></i>
        {% endif %}

        <span {% if dashboard_menu.modules|module_nav_is_active %}class="progress-line__entry--active"{% endif %}>
            <span>{% trans 'Fill in module(s) details' %}</span>
        </span>

    </li>
    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if dashboard_menu.modules|length == 0 or not dashboard_menu.modules|has_publishable_module %}
            <i class="far fa-circle progress-line__icon" title="{% trans 'Module not ready to be added to project' %}" aria-label="{% trans 'Module not ready to be added to project' %}"></i>
        {% elif dashboard_menu.modules|has_publishable_module and project.published_modules.count == 0 %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Show module(s) in project' %}" aria-label="{% trans 'Show module(s) in project' %}"></i>
        {% else %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Module added to project' %}" aria-label="{% trans 'Module added to project' %}"></i>
        {% endif %}
        <span>{% trans 'Show module(s) in project' %}</span>
    </li>
    {% endif %}

    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        {% if not project|is_publishable:project_progress %}
        <i class="far fa-circle progress-line__icon" title="{% trans 'Project type not ready for publication' %}" aria-label="{% trans 'Project type not ready for publication' %}"></i>
        {% elif project.is_draft %}
        <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Project type ready for publication' %}" aria-label="{% trans 'Project type ready for publication' %}"></i>
        {% endif %}
        {% if project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
        <span>{% trans 'Publish container' %}</span>
        {% else %}
        <span>{% trans 'Publish project' %}</span>
        {% endif %}
    </li>

</ul>
