{% load i18n meinberlin_dashboard_tags meinberlin_project_tags rules static %}

<ul class="progress-line u-spacer-bottom">
    <li class="progress-line__entry">
        <span class="progress-line__line--bottom"></span>
        <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Project type created' %}" aria-label="{% trans 'Project type created' %}"></i>
        {% if project.project_type == 'meinberlin_bplan.Bplan' %}
        <span>{% trans 'Create development plan' %}</span>
        {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
        <span>{% trans 'Create linkage' %}</span>
        {% elif project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
        <span>{% trans 'Create container' %}</span>
        {% else %}
        <span>{% trans 'Create project' %}</span>
        {% endif %}
    </li>

    <li class="progress-line__entry">
        <span class="progress-line__line"></span>
        {% if project_progress.project_is_complete %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Project type ready for publication' %}" aria-label="{% trans 'Project type ready for publication' %}"></i>
        {% else %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Project type not ready for publication' %}" aria-label="{% trans 'Project type not ready for publication' %}"></i>
        {% endif %}


        <span {% if dashboard_menu.project|project_nav_is_active %}class="progress-line__entry--active"{% endif %}>
            {% if project.project_type == 'meinberlin_bplan.Bplan' %}
            <span>{% trans 'Create development plan' %}</span>
            {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
            <span>{% trans 'Create linkage' %}</span>
            {% elif project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
            <span>{% trans 'Create container' %}</span>
            {% else %}
            <span>{% trans 'Create project' %}</span>
            {% endif %}
        </li>


    {% if project|is_a4_project %}
    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if dashboard_menu.modules|length == 0 %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'No module created' %}" aria-label="{% trans 'No module created' %}"></i>
        {% else %}
            <i class="fas fa-check-circle u-success progress-line__icon" title="{% trans 'Module created' %}" aria-label="{% trans 'Module created' %}"></i>
        {% endif %}
        <span>{% trans 'Create module(s)' %}</span>
    </li>


        <span {% if dashboard_menu.modules|module_nav_is_active %}class="progress-line__entry--active"{% endif %}>
            <span>{% trans 'Fill in module(s) details' %}</span>
        </span>


    <li class="progress-line__entry">
        <span class="progress-line__line--top"></span>
        <span class="progress-line__line--bottom"></span>
        {% if not project|is_publishable:project_progress %}
        <i class="far fa-circle progress-line__icon" title="{% trans 'Project type not ready for publication' %}" aria-label="{% trans 'Project type not ready for publication' %}"></i>
        {% elif project.is_draft %}
        <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Project type ready for publication' %}" aria-label="{% trans 'Project type ready for publication' %}"></i>
        {% endif %}
        {% if project.project_type == 'meinberlin_bplan.Bplan' %}
        <span>{% trans 'Publish development plan' %}</span>
        {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
        <span>{% trans 'Publish linkage' %}</span>
        {% elif project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
        <span>{% trans 'Publish container' %}</span>
        {% else %}
        <span>{% trans 'Publish project' %}</span>
        {% endif %}

        <li class="progress-line__entry">
            <span class="progress-line__line--top"></span>
            {% if project.is_draft and project_progress.valid != project_progress.required or project.published_modules.count == 0 %}
            <i class="far fa-circle progress-line__icon" title="{% trans 'Project type not ready for publication' %}" aria-label="{% trans 'Project type not ready for publication' %}"></i>
            {% elif project.is_draft %}
            <i class="fas fa-circle progress-line__icon--active" title="{% trans 'Project type ready for publication' %}" aria-label="{% trans 'Project type ready for publication' %}"></i>
            {% endif %}
            {% if project.project_type == 'meinberlin_bplan.Bplan' %}
            <span>{% trans 'Publish development plan' %}</span>
            {% elif project.project_type == 'meinberlin_extprojects.ExternalProject' %}
            <span>{% trans 'Publish linkage' %}</span>
            {% elif project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
            <span>{% trans 'Publish container' %}</span>
            {% else %}
            <span>{% trans 'Publish project' %}</span>
            {% endif %}
        </li>
    </ul>
</div>
