{% load i18n project_tags meinberlin_project_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}

<li class="list-item list-item--has-image">
    <div class="list-item--has-image__wrapper">
        <div class="list-item--has-image__image" {% if project_image %}style="background-image: url({% thumbnail project_image '170x170' crop %})"{% endif %}>
            {% if project_image_copyright %}
                <div class="list-item--has-image__copyright copyright">© {{ project_image_copyright }}</div>
            {% endif %}
        </div>
        <div class="lr-bar list-item--has-image__body">
            <div class="lr-bar__left">
                <h2 class="list-item__title">
                    {{ project.name }}
                    {% if not project.project_type == 'meinberlin_projectcontainers.ProjectContainer' %}
                        {% if project.has_finished %}
                            <span class="label label--primary">{% trans "Finished" %}</span>
                        {% endif %}
                        {% if project.is_semipublic %}
                            <span class="label label--secondary">{% trans 'Semipublic' %}</span>
                        {% elif project.is_private %}
                            <span class="label label--secondary">{% trans 'Private' %}</span>
                        {% endif %}
                    {% endif %}
                </h2>
            </div>
            <div class="lr-bar__right">
                <div class="btn-group">
                {% spaceless %}
                    <a href="{{ project|project_url }}"
                       target="{{ project|is_external|yesno:"_blank,_self" }}"
                       class="btn btn--light btn--small">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% if project.is_draft %}
                        {% trans 'Preview' %}
                        {% else %}
                        {% trans 'View' %}
                        {% endif %}
                    </a>
                    <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}"
                       class="btn btn--light btn--small">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        {% trans 'Edit'%}
                    </a>
                    {% if project.project_type == 'a4projects.Project' %}
                        <div class="dropdown">
                            <button
                                    type="button"
                                    class="dropdown-toggle btn btn--light btn--small"
                                    data-bs-toggle="dropdown"
                                    data-flip="false"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    id="project-actions"
                                    title="{% trans 'more' %}"
                            >
                                <i class="fa fa-caret-down" aria-label="{% trans 'more' %}"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="project-actions">
                                <li>
                                    <form method="post" class="list-item__action">
                                        {% csrf_token %}
                                        <input type="hidden" name="project_pk" value="{{ project.pk }}">
                                        <button type="submit" name="duplicate" value="{{ project }}"
                                                class="dropdown-item">
                                            <i class="far fa-copy" aria-hidden="true"></i>
                                            {% trans 'Duplicate' %}
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
</li>
