{% load i18n project_tags meinberlin_project_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}
{% project_tile_image_alt_text project as project_image_alt_text %}

<li class="list-item list-item--has-image">
    <div class="list-item--has-image__wrapper">
        {% if project_image %}
        <div
            class="list-item--has-image__image"
            style="background-image: url({% thumbnail project_image '170x170' crop %})"
            role="img"
            aria-label="{% if project_image_alt_text %}{{ project_image_alt_text }}{% else %}{% translate 'Here you can find a decorative picture.' %}{% endif %}"
        >
            <div class="list-item--has-image__copyright copyright">
                {% if project_image_copyright %}
                    © {{ project_image_copyright }}
                {% else %}
                    {% translate 'copyright missing' %}
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="list-item--has-image__bg-colour"></div>
        {% endif %}
        <div class="lr-bar list-item--has-image__body">
            <div class="lr-bar__left">
                <h2 class="list-item__title">
                    {{ project.name }}
                    {% if project.has_finished %}
                        <span class="label label--primary">{% translate "Finished" %}</span>
                    {% endif %}
                    {% if project.is_semipublic %}
                        <span class="label label--secondary">{% translate 'Semipublic' %}</span>
                    {% elif project.is_private %}
                        <span class="label label--secondary">{% translate 'Private' %}</span>
                    {% endif %}
                </h2>
            </div>
            <div class="lr-bar__right">
                <div class="btn-group">
                {% spaceless %}
                    <a href="{{ project|project_url }}"
                       target="{{ project|is_external|yesno:"_blank,_self" }}"
                       class="btn btn--light btn--small">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% if project.is_draft %}
                        {% translate 'Preview' %}
                        {% else %}
                        {% translate 'View' %}
                        {% endif %}
                    </a>
                    <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}"
                       class="btn btn--light btn--small">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        {% translate 'Edit'%}
                    </a>
                    {% if project.project_type == 'a4projects.Project' %}
                        <div class="dropdown">
                            <button
                                    type="button"
                                    class="dropdown-toggle btn btn--light btn--small"
                                    data-bs-toggle="dropdown"
                                    data-flip="false"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    id="project-actions"
                                    title="{% translate 'more' %}"
                            >
                                <i class="fa fa-caret-down" aria-label="{% translate 'more' %}"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="project-actions">
                                <li>
                                    <form method="post" class="list-item__action">
                                        {% csrf_token %}
                                        <input type="hidden" name="project_pk" value="{{ project.pk }}">
                                        <button type="submit" name="duplicate" value="{{ project }}"
                                                class="dropdown-item">
                                            <i class="far fa-copy" aria-hidden="true"></i>
                                            {% translate 'Duplicate' %}
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
</li>
