{% load i18n  %}
<form enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.feedback.moderator_feedback %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.statement.statement %}

    <input type="submit" class="button button--primary" value="{% trans 'Save' %}" />
    <a href="{{ cancel }}" class="button button--light">{% trans 'Cancel' %}</a>
</form>
