<select id="select_{{ name }}">
    <option value="">---</option>
    <option value="{ &quot;type&quot;:&quot;FeatureCollection&quot;, &quot;features&quot;:[ { &quot;properties&quot;:{}, &quot;geometry&quot;:{ &quot;coordinates&quot;:[ [ [ 12.918548583984375, 52.39608209563086 ], [ 13.226165771484375, 52.72667630387682 ], [ 13.748016357421875, 52.553341507495865 ], [ 13.599700927734375, 52.39273004324774 ], [ 13.160247802734375, 52.39273004324774 ], [ 12.918548583984375, 52.39608209563086 ] ] ], &quot;type&quot;:&quot;Polygon&quot; }, &quot;type&quot;:&quot;Feature&quot; } ] }">Some polygon</option>
</select>

<div
    style="height: 300px;"
    data-map="choose_polygon"
    data-baseurl="{{ baseurl }}"
    data-attribution="{{ attribution }}"
    data-bbox="{{ bbox }}"
    data-name="{{ name }}"
    {% if polygon %}data-polygon="{{ polygon }}"{% endif %}
></div>

<input id="id_{{ name }}" type="hidden" name="{{ name }}" rows="10" {% if polygon %}value="{{ polygon }}"{% endif %}>
