{% load i18n %}

<div class="list-item list-item--squashed">
    <h3 class="list-item__title">
        <a href="{% url 'meinberlin_topicprio:topic-mgmt-update' slug=object.slug %}">
        {{ object.name }}
        </a>
    </h3>
    {% if object.category %}
        <span class="label label--big">{{ object.category }}</span>
    {% endif %}
    <div class="list-item__actions">
        <span class="list-item__action">
            <a href="{% url 'meinberlin_topicprio:topic-mgmt-delete' slug=object.slug %}"
               class="button button--light">
                <i class="fa fa-remove" aria-hidden="true"></i>
                {% trans 'Delete'%}
            </a>
        </span>
    </div>
</div>
