{% load i18n module_tags item_tags %}

<div class="list-item list-item--squashed">
    <div class="list-item__stats">
        {% spaceless %}
        {% if object|has_feature:"rate" %}
            <span class="rating">
                <span class="rating-button rating-up is-read-only" title="{% trans 'Positive Ratings' %}">
                    {{ object.positive_rating_count }}
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </span>
                <span class="rating-button rating-down is-read-only" title="{% trans 'Negative Ratings' %}">
                    {{ object.negative_rating_count }}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </span>
            </span>
        {% endif %}
        <span title="{% trans 'Comments' %}">
            {{ object.comment_count }}
            <i class="fa fa-comment-o" aria-hidden="true"></i>
        </span>
        {% endspaceless %}
    </div>
    <h3 class="list-item__title">
        {% get_item_detail_url object as detail_url %}
        <a href="{{ detail_url }}">
        {{ object.name }}
        </a>
    </h3>
    <span class="list-item__author">
        {{ object.creator.username }}
    </span>
    <span class="list-item__date">
        {{ object.created | date }}
    </span>
    {% if object.category %}
        <span class="label label--big">{{ object.category }}</span>
    {% endif %}
</div>
