{% extends "base.html" %}
{% load i18n %}
{% load i18n rules react_follows thumbnail wagtailcore_tags meinberlin_project_tags offlineevent_tags contrib_tags ckeditor_tags %}

{% block title %}{{project.name}} &mdash; {{ block.super }}{% endblock %}

{% block extra_messages %}
    {{ block.super }}

    {% if project.is_draft %}
        <ul class="messages">
            <li class="alert alert--warning" role="alert">
                <div class="l-wrapper">
                    {% trans 'This project is in not published yet.' %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="l-wrapper">
        {% if module.is_in_module_cluster  %}
            <div class="u-align-right u-spacer-bottom-double">
            {% if module.previous_module_in_cluster %}
                <a class="btn btn--light u-secondary" href="{% url 'module-detail' module.previous_module_in_cluster.slug %}">
                    <i class="fa fa-chevron-left u-md-up-display-none"></i>
                    <span class="u-md-down-display-none">{% trans 'Previous' %}</span>
                </a>
            {% endif %}
            <span class="u-spacer-left u-spacer-right">{{ module.readable_index_in_cluster }} {% trans 'of' %} {{ module.module_cluster|length }}</span>
            {% if module.next_module_in_cluster %}
                <a class="btn btn--light u-secondary" href="{% url 'module-detail' module.next_module_in_cluster.slug %}">
                    <i class="fa fa-chevron-right u-md-up-display-none"></i>
                    <span class="u-md-down-display-none">{% trans 'Next' %}</span>
                </a>
            {% endif %}
            </div>
        {% endif %}
        <div class="l-center-6 project-header">
            <nav class="breadcrumbs u-spacer-bottom-double" aria-label="{% trans 'breadcrumbs' %}">
                <ul>
                    <li>
                        <a href="{% url 'project-detail' project.slug %}">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            {{ project.name }}
                        </a>
                    </li>
                </ul>
            </nav>
            {% for phase in module.phases %}
              {% if phase == module.active_phase and live_stream %}
                  {{ live_stream.live_stream | transform_collapsibles | richtext }}
                  <span class="label label--active">•{% trans ' Live now' %}</span>
              {% endif %}
            {% endfor %}

            <h1 class="project-header__title">{{ module.name }}</h1>
            <p class="project-header__description">{{ module.description }}</p>
        </div>
        {% if not module.active_phase %}
        <div class="l-center-6 u-spacer-bottom">
            <strong>
                {% trans 'Participation is not possible at the moment.' %}
                {% if not module.past_phases %}
                    {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                    {% blocktrans with date=start_date %}It starts on {{ date }}.{% endblocktrans%}
                {% elif module.future_phases %}
                    {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                    {% blocktrans with date=start_date %}It continues on {{ date }}.{% endblocktrans%}
                {% else %}
                    {% html_date module.past_phases.last.end_date 'DATETIME_FORMAT' as end_date %}
                    {% blocktrans with date=end_date %}It ended on {{ date }}.{% endblocktrans%}
                {% endif %}
            </strong>
        </div>
        {% endif %}
        {% with phase_count=module.phases.count %}
        <div class="l-center-6">
            {% for phase in module.phases %}
                {% if phase.is_over or phase == module.active_phase %}
                <div class="phase-info__item {% if phase_count == 1 %} u-no-border {% endif %} u-spacer-top">
                    <div class="phase-info__item__title{% if phase == module.active_phase %} lr-bar{% endif %}">
                        {% if phase == module.active_phase %}
                            <span class="lr-bar__left">{{ phase.name }}</span>
                            <span class="lr-bar__right phase-info__highlight">{% trans 'active' %}</span>
                        {% else %}
                            {{ phase.name }}
                        {% endif %}
                    </div>
                    <div class="phase-info__item__subtitle">
                        {% html_date phase.start_date 'DATETIME_FORMAT' %}
                        &ndash; {% html_date phase.end_date 'DATETIME_FORMAT' %}
                    </div>
                    <div class="phase-info__item__description">
                        {{ phase.description }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endwith %}
    </div>

    <div class="l-wrapper">
        <div class="l-center-6">
        {% block project_action %}{% endblock %}
        </div>
    </div>
    {% block phase_content %}{% endblock %}

    {% if module.is_in_module_cluster %}
    <div class="l-wrapper">
        <div class="participation-tile__wrapper">
            <div class="participation-tile__list-container">
                <ul class="u-list-reset participation-tile__list">
                    <h3 class="participation-tile__list-header">{% trans 'More from this online participation:' %}</h3>
                    {% for other_module in module.module_cluster %}
                        {% if not other_module == module %}
                            {% include "meinberlin_projects/includes/project_module_tile.html" with project=project module=other_module %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
