{% extends "base.html" %}
{% load i18n %}
{% load i18n rules react_follows thumbnail wagtailcore_tags meinberlin_project_tags offlineevent_tags contrib_tags ckeditor_tags %}

{% block title %}{{project.name}} &mdash; {{ block.super }}{% endblock %}

{% block extra_messages %}
    {{ block.super }}

    {% if project.is_draft %}
        <ul class="messages">
            <li class="alert alert--warning" role="alert">
                <div class="l-wrapper">
                    {% trans 'This project is in not published yet.' %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="l-wrapper">
        <div class="u-spacer-bottom-double">
            <a class="btn btn--light btn--icon u-secondary" href="{% url 'project-detail' project.slug %}"><i class="fa fa-chevron-left"></i><span class="u-md-down-display-none">{% trans 'Back to project' %}</span><span class="u-md-up-display-none">{% trans 'Back' %}</span></a>
            {% if other_modules|length > 1  %}
                <div class="u-float-right">
                {% if previous %}
                    <a class="btn btn--light u-secondary" href="{% url 'module-detail' previous.slug %}"><i class="fa fa-chevron-left u-md-up-display-none"></i><span class="u-md-down-display-none">{% trans 'Previous qustion' %}</span></a>
                {% endif %}
                <span class="u-spacer-left u-spacer-right">{{ index }} {% trans 'of' %} {{ other_modules|length }}</span>
                {% if next %}
                    <a class="btn btn--light u-secondary" href="{% url 'module-detail' next.slug %}"><i class="fa fa-chevron-right u-md-up-display-none"></i><span class="u-md-down-display-none">{% trans 'Next qustion' %}</a>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="l-wrapper project-header">
        <div class="l-center-6">
            <h1 class="project-header__title">{{ module.name }}</h1>
            <p class="project-header__description">{{ module.description }}</p>
        </div>
        {% block project_action %}{% endblock %}
        {% if not module.active_phase %}
        <div class="l-center-6 u-spacer-bottom">
            <strong>
                {% trans 'Participation is not possible at the moment.' %}
                {% if not module.past_phases %}
                    {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                    {% blocktrans with date=start_date %}It starts on {{ date }}.{% endblocktrans%}
                {% elif module.future_phases %}
                    {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                    {% blocktrans with date=start_date %}It continues on {{ date }}.{% endblocktrans%}
                {% else %}
                    {% html_date module.past_phases.last.end_date 'DATETIME_FORMAT' as end_date %}
                    {% blocktrans with date=end_date %}It ended on {{ date }}.{% endblocktrans%}
                {% endif %}
            </strong>
        </div>
        {% endif %}
    </div>
    <div>
        {% block phase_content %}{% endblock %}
    </div>
    <div class="l-wrapper">
        <div class="participation-tile__wrapper">
            <div class="participation-tile__list-container">
                <ul class="u-list-reset participation-tile__list">
                    {% for other_module in other_modules %}
                        {% if not other_module == module %}
                            {% include "meinberlin_projects/includes/project_module_tile.html" with project=project module=other_module %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
