label {
    display: block;
    margin-bottom: 0.2em;
}

%input-base {
    margin: 0 0 $spacer;
    border: 1px solid $input-border-color;
    padding: 0.4em 0.6em;
    line-height: 1.6;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea,
select {
    @extend %input-base;
    display: block;
    max-width: 100%;
    background-color: $bg-secondary;
    color: contrast-color($bg-secondary);

    &:invalid {
        border-color: $brand-danger;
        color: $brand-danger;
    }

    &:disabled {
        color: $input-border-color;
        cursor: not-allowed;
    }
}

.form--inline {
    display: inline;
}

.errorlist {
    margin: 0;
    padding: $padding;
    list-style: none;
    text-align: right;
    background-color: $brand-danger;
    color: contrast-color($brand-danger);
}

.django-ckeditor-widget {
    display: block !important;
    margin-bottom: $spacer;
}

.form-check,
.form-group {
    margin: 0 0 $spacer;

    .django-ckeditor-widget,
    %input-base {
        width: 100%;

        // FIXME: Generally, we would prefer to use .form-group everywhere and
        // not have a margin on inputs at all. We do not control all HTML
        // though (e.g. django standard forms or react components from
        // adhocracy4 core).
        margin: 0;
    }
}

.form-check__label {
    padding-left: 1.25em;

    input {
        display: inline;
        width: auto;
        margin-left: -1.25em;
    }
}

.form-hint {
    font-style: italic;
    color: $gray-light;
    font-size: $font-size-sm;
    margin-bottom: 0.4em;
}

.widget--radioselect,
.widget--checkboxselectmultiple {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label {
        @extend .form-check__label;
    }
}

.widget--datetimeinput {
    @include clearfix;
}

.widget--datetimeinput__date {
    display: flex;
}

.input-action {
    display: flex;
}

.input-action__input {
    flex: 1;
}

.input-action__action {
    flex: 0;
}
