label {
    display: block;
}

%inputBase {
    margin: 0 0 0.5em;
    border: 1px solid $input-border-color;
    padding: 0.4em 0.6em;
    line-height: 1.6;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea,
select {
    @extend %inputBase;
    display: block;
    background-color: $bg-secondary;
    color: contrast-color($bg-secondary);

    &:invalid {
        border-color: $brand-danger;
        color: $brand-danger;
    }

    &:disabled {
        color: $input-border-color;
        cursor: not-allowed;
    }
}

.form--inline {
    display: inline;
}

.errorlist {
    margin: 0;
    padding: $padding;
    list-style: none;
    text-align: right;
    background-color: $brand-danger;
    color: contrast-color($brand-danger);
}

.django-ckeditor-widget {
    display: block !important;
    margin-bottom: $spacer;
}
