label {
    display: block;
    margin-bottom: 0.2em;
}

%input-base {
    margin: 0 0 $em-spacer;
    border: 1px solid $input-border-color;
    padding: 0.4em 0.6em;
    line-height: 1.6;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea,
select {
    @extend %input-base;
    display: block;
    max-width: 100%;
    background-color: $body-bg;
    color: contrast-color($body-bg);

    &:invalid {
        border-color: $brand-danger;
        color: $brand-danger;
    }

    &:disabled {
        color: $input-border-color;
        cursor: not-allowed;
    }

    &:focus {
        border-color: $brand-secondary;
    }

    &::placeholder {
        opacity: 0.5;
    }
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    border: 0;
}

div.cke_focus {
    border-color: $brand-secondary;
}

.errorlist {
    margin: 0 0 $em-spacer 0;
    padding: $padding;
    list-style: none;
    text-align: center;
    background-color: $brand-danger;
    color: contrast-color($brand-danger);
}

.django-ckeditor-widget {
    display: block !important;
    margin-bottom: $em-spacer;
}

.form-check,
.form-group {
    margin: 0 0 $em-spacer;

    .django-ckeditor-widget,
    %input-base {
        width: 100%;

        // FIXME: Generally, we would prefer to use .form-group everywhere and
        // not have a margin on inputs at all. We do not control all HTML
        // though (e.g. django standard forms or react components from
        // adhocracy4 core).
        margin-bottom: 0;
    }
}

.form-fieldset {
    padding: 0;
    border: none;
}

.form-group--narrow {
    @include grid-width(9);
}

.form-check__label {
    input {
        display: inline;
        width: auto;
        margin-left: -1.25em;
    }

    span {
        margin-left: 0.5em;
    }
}

.form-hint {
    font-style: italic;
    color: $text-color-gray;
    font-size: $font-size-sm;
    margin-bottom: 0.4em;
}

.form-hint--margin {
    margin-bottom: 1em;
}

.form__subheading {
    margin-bottom: 0;
}

.widget--radioselect,
.widget--checkboxselectmultiple,
.widget--radioselectwithtextinputwidget {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label {
        padding-bottom: 0.5*$padding;
        padding-left: 1.25*$padding;

        @extend .form-check__label;
    }

    input[type="checkbox"] {
        transform: scale(1.5);
        margin-right: 0.5*$em-spacer;
    }
}
