label {
    display: block;
}

%inputBase {
    margin: 0 0 0.5em;
    border: 1px solid $input-border-color;
    border-radius: 0.2em;
    padding: 0.3em 0.75em;
    font-family: inherit;
    font-size: inherit;
}

input,
textarea,
select {
    @extend %inputBase;
    display: block;
    background: $bg-secondary;
    color: contrast-color($bg-secondary);

    &:invalid {
        border-color: $brand-danger;
        color: $brand-danger;
    }

    &:disabled {
        color: $input-border-color;
        cursor: not-allowed;
    }
}

.form--inline {
    display: inline;
}

.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $brand-danger;
}

.django-ckeditor-widget {
    display: block !important;
    margin-bottom: $spacer;
}
