.l-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 $padding;
}

.l-center-6 {
    @include grid-width(10);
    margin: 0 auto;
}

@media (min-width: $breakpoint) {
    .l-center-8 {
        @include grid-width(8);
        margin: 0 auto;
    }

    .l-center-6 {
        @include grid-width(6);
    }

    .l-tile-2 {
        @include grid-same-width(2);
    }

    @supports (display: flex) {
        .l-tile-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        // HACK to make this more specific than the grid-same-width selector
        .l-tile-2.l-tile-2 {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
