// should be used with ul/ol
@mixin grid-tiles($n, $settings: ()) {
    @include clearfix;
    margin: 0;
    padding: 0;
    list-style: none;

    > * {
        @include grid-same-width($n, $settings);
    }

    @supports (display: grid) {
        display: grid;
        grid-column-gap: _grid-get('gutter', $settings);
        grid-template-columns: repeat($n, 1fr);

        > * {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: auto !important;
        }
    }
}

.l-wrapper {
    @include clearfix;
    position: relative;
    width: 100%;  // required when used in a flex container
    max-width: 81rem;
    margin: 0 auto;
    padding: 0 $padding;
}

.l-center-6 {
    @include grid-width(10);
    margin: 0 auto;
}

@media (min-width: $breakpoint) {
    .l-center-8 {
        @include grid-width(8);
        margin: 0 auto;
    }

    .l-center-6 {
        @include grid-width(6);
    }

    .l-col-4 {
        @include grid-same-width(4);
    }

    .l-col-3 {
        @include grid-same-width(3);
    }

    .l-col-2 {
        @include grid-same-width(2);
    }

    .l-tiles-2 {
        @include grid-tiles(2);
    }

    .l-tiles-3 {
        @include grid-tiles(3);
    }

    .l-tiles-4 {
        @include grid-tiles(2);
    }
}

@media (min-width: $breakpoint-md) {
    .l-tiles-4 {
        @include grid-tiles(4);
    }
}
