// mimic native browser focus
// see https://ghinda.net/article/mimic-native-focus-css/
@mixin fake-focus {
    outline-width: 2px;
    outline-style: solid;
    // stylelint-disable scale-unlimited/declaration-strict-value
    outline-color: Highlight;
    // stylelint-enable
}

@mixin secondary-text {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
