// subset of bootstrap variables

$brand-primary: #253276;
$brand-secondary: #cd0055;
$brand-secondary-tint: #f5ccdd;
$brand-success: #0a820a;
$brand-info: #fdd216;
$brand-warning: #f0ad4e;
$brand-danger: #dc3918;

$body-bg: #fff;
$bg-secondary: #f6f6f6;
$bg-tertiary: #e6e6e6;
$text-color: #222;
$text-color-inverted: $body-bg;
$shadow: rgba(#000, 0.25);

$link-color: $brand-secondary;
$link-hover-color: darken($link-color, 15%);

$border-color: #ccc;
$input-border-color: $border-color;

$feedback-color-accepted: #0a820a;
$feedback-color-rejected: #dc3818;
$feedback-color-consideration: #ffae00;

$spacer: 1em;
$padding: 1rem;

$font-family-sans-serif: "Arial", "Helvetica", sans-serif;

$font-size-xxl: 1.95rem;
$font-size-xl: 1.56rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.64rem;

$breakpoint: 50em;

$hero-height: 41em;
$hero-height-secondary: 30em;
$hero-height-mobile: 10.4em;

@include grid-set('gutter', $padding);
$planifolia-contrast-dark-default: $text-color;
$planifolia-contrast-light-default: $text-color-inverted;
