@import '~sass-planifolia/sass/clearfix';

@import 'variables';

@import 'base';
@import 'form';

@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/header';
@import 'components/resource_header';

main {
    padding: 0 16%;
}
