@import '~sass-planifolia/sass/clearfix';

@import 'variables';

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/close';

@import 'base';
@import 'form';

@import 'components/alert';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/comments';
@import 'components/dropdown';
@import 'components/header';
@import 'components/label';
@import 'components/rating';
@import 'components/resource_header';

main {
    padding: 0 16%;
}
