.u-primary {
    color: $brand-primary;
}

.u-secondary {
    color: $brand-secondary;
}

.u-spacer-bottom {
    margin-bottom: $spacer;
}

.u-spacer-bottom-half {
    margin-bottom: ($spacer / 2);
}

.u-spacer-bottom-double {
    margin-bottom: ($spacer * 2);
}

.u-list-reset {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: block;
    }
}

.u-if-collapsed {
    display: none;

    [aria-expanded="false"] > & {
        display: inline;
    }
}

.u-if-not-collapsed {
    display: none;

    [aria-expanded="true"] > & {
        display: inline;
    }
}
