.u-primary {
    color: $brand-primary;
}

.u-secondary {
    color: $brand-secondary;
}

.u-spacer-left {
    margin-left: $spacer;
}

.u-spacer-right {
    margin-right: $spacer;
}

.u-spacer-bottom {
    margin-bottom: $spacer;
}

.u-spacer-top {
    margin-top: $spacer;
}

.u-spacer-top-double {
    margin-top: ($spacer * 2);
}

.u-spacer-bottom-half {
    margin-bottom: ($spacer / 2);
}

.u-spacer-bottom-double {
    margin-bottom: ($spacer * 2);
}

.u--bg-secondary {
    background-color: $bg-secondary;
}

.u-list-reset {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: block;
    }
}

.u-if-collapsed {
    display: none;

    [aria-expanded="false"] > & {
        display: inline;
    }
}

.u-if-not-collapsed {
    display: none;

    [aria-expanded="true"] > & {
        display: inline;
    }
}

.u-inline {
    display: inline;
}

.u-inline-flex {
    display: inline-flex;
}

.u-align-right {
    text-align: right;
}

.u-align-center {
    text-align: center;
}

.u-first-heading {
    margin-top: 0;
}

.u-danger {
    color: $brand-danger;
}

.u-success {
    color: $brand-success;
}

.u-muted {
    color: $text-color-gray;
}

.u-text-decoration-line-through {
    text-decoration: line-through;
}

.u-whitespace-pre {
    white-space: pre-wrap;
}

.u-position-relative {
    position: relative;
}

.u-z-index-2 {
    z-index: 2;
}

.u-z-index-1 {
    z-index: 1;
}

.u-no-border,
.u-no-border:first-child,
.u-no-border:last-child {
    border: none;
}

.u-no-margin {
    margin: 0;
}

.u-no-padding {
    padding: 0;
}

.d-none {
    display: none;
}

.u-top-divider {
    padding-top: $padding;
    border-top: 2px solid $border-color;
}

.u-bottom-divider {
    margin-bottom: $spacer * 2;
    border-bottom: 2px solid $border-color;
}

.u-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u-break-word {
    overflow-wrap: break-word;
}

.u-overflow-visible {
    overflow: visible;
}

.u-xs-down-display-none {
    @media screen and (max-width: $breakpoint-xs-down) {
        display: none !important;
    }
}

.u-md-down-display-none {
    @media screen and (max-width: $breakpoint-md-down) {
        display: none !important;
    }
}

.u-md-up-display-none {
    @media screen and (min-width: $breakpoint-md) {
        display: none !important;
    }
}

.u-xs-md-display-none {
    @media screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-md-down) {
        display: none !important;
    }
}

.u-xs-only-display {
    @media screen and (min-width: $breakpoint-xs) {
        display: none !important;
    }
}

.u-lg-only-display {
    @media screen and (max-width: $breakpoint-lg-down) {
        display: none !important;
    }
}
