{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% trans 'Export' %}</h1>

    <p class="form-hint">{% blocktrans %}Some blablabla to explain the exports!{% endblocktrans %}</p>

    {% if export %}
    <p>
        {% trans "This is some export." %}
        <a class="btn" href="{{ export }}">
            {% trans "Export" %}
        </a>
    </p>
    {% endif %}

    {% if comment_export %}
    <p>
        {% trans "This is the comment export." %}
        <a class="btn" href="{{ comment_export }}">
            {% trans "Export" %}
        </a>
    </p>
    {% endif %}

{% endblock %}
