{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% trans 'Export' %}</h1>

    {% if view.export %}
    <p>
        {% trans "This is some export." %}
    <a class="btn" href="{% url view.export module_slug=module.slug %}">
        {% trans "Export" %}
    </a>
    </p>
    {% endif %}

    {% if view.comment_export %}
    <p>
        {% trans "This is the comment export." %}
    <a class="btn" href="{% url view.comment_export module_slug=module.slug %}">
        {% trans "Export" %}
    </a>
    </p>
    {% endif %}

{% endblock %}
