{% extends extends %}
{% load i18n discovery_tags static maps_tags react_proposals widget_tweaks rules contrib_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'a4maps_display_points.js' %}"></script>
    <script type="text/javascript" src="{% static 'budget_proposals.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_points.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'meinberlin_budgeting.add_proposal' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_budgeting:proposal-create' module_slug=module.slug %}" class="btn btn--primary btn--full u-spacer-bottom btn--huge">
            {% translate 'Submit proposal' %}
        </a>
    {% endif %}
    {% if module.blueprint_type == 'PB3' %}
        {% has_perm 'meinberlin_budgeting.add_vote' request.user module as vote_allowed %}
        {% if vote_allowed %}
            {% if not valid_token_present %}
                {% combined_url_parameter request.GET as url_params %}
                <form action="{{ request.path }}{{ url_params }}" autocomplete="off" method="post">
                  {% csrf_token %}
                    <div class="input-group input-group-lg">
                        <label for="id_token" class="visually-hidden-focusable">{% translate 'Voting token form fields' %}</label>
                        {{ token_form.token|add_error_attr:"aria-invalid:true" }}
                        <button type="submit" class="btn btn--primary">{% translate 'Enter code' %}</button>
                    </div>
                    {% if token_form.token.errors %}
                        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                        {% for error in token_form.token.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block phase_content %}
    {% if view.mode == 'map' %}
        <div class="container u-spacer-bottom u-spacer-top-double">
            <h2 class="visually-hidden">{% translate "Map of proposals" %}</h2>
            <div class="offset-lg-2 col-lg-8">
                {% include "meinberlin_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
            </div>
        </div>
        <div class="map-list">
            <div class="map-list__controls">
                <div class="container">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                        <a
                            class="leaflet-control-zoom-in"
                            id="zoom-in"
                            href="#"
                            title="{% translate 'Zoom in' %}"
                            role="button"
                            aria-label="{% translate 'Zoom in' %}"
                        >
                            +
                        </a>
                        <a
                            class="leaflet-control-zoom-out leaflet-disabled"
                            id="zoom-out"
                            href="#"
                            title="{% translate 'Zoom out' %}"
                            role="button"
                            aria-label="{% translate 'Zoom out' %}"
                        >
                            -
                        </a>
                    </div>
                </div>
            </div>
            {% if module.blueprint_type == 'PB3' %}
                {% has_or_would_have_perm 'meinberlin_budgeting.view_support' request.user module as may_view_support %}
                {% has_or_would_have_perm 'meinberlin_budgeting.view_vote_count' request.user module as may_view_vote_count %}
                {% map_display_points object_list module.settings_instance.polygon 'true' may_view_support|yesno:"false,true" may_view_vote_count|yesno:"false,true" %}
            {% else %}
                {% map_display_points object_list module.settings_instance.polygon %}
            {% endif %}
        </div>
    {% else %}
        {% react_proposals view.module %}
    {% endif %}
{% endblock %}
