{% extends extends %}
{% load i18n discovery_tags static maps_tags react_proposals widget_tweaks rules %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'a4maps_display_points.js' %}"></script>
    <script type="text/javascript" src="{% static 'budget_proposals.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_points.css'%}" rel="stylesheet" />
{% endblock %}

{% block project_action %}
    {% has_or_would_have_perm 'meinberlin_budgeting.add_proposal' request.user module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'meinberlin_budgeting:proposal-create' module_slug=module.slug %}" class="btn btn--full u-spacer-bottom btn--huge">
            {% trans 'Submit proposal' %}
        </a>
    {% endif %}
    {% comment %}
        FIXME: differentiating 2 and 3 phase buergerhaushalt by just counting the phases
               should be changed once we have module types
    {% endcomment %}
    {% if module.phases.count == 3 %}
        {% has_perm 'meinberlin_budgeting.add_vote' request.user module as vote_allowed %}
        {% if vote_allowed %}
            {% if not valid_token_present %}
                <form class="" action="{{ request.path }}" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <div class="widget--{{ token_form.token|widget_type }}">
                            {{ token_form.token }}
                            <button type="submit" class="btn">{% trans 'Enter code' %}</button>
                        </div>
                        {{ token_form.token.errors }}
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block phase_content %}
    {% if view.mode == 'map' %}
        <div class="container u-spacer-bottom u-spacer-top-double">
            <div class="offset-lg-2 col-lg-8">
                {% include "meinberlin_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
            </div>
        </div>
        <div class="map-list">
            <div class="map-list__controls">
                <div class="container">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                        <a class="leaflet-control-zoom-in" id="zoom-in" href="#" title="{% trans 'Zoom in' %}">+</a>
                        <a class="leaflet-control-zoom-out leaflet-disabled" id="zoom-out" href="#" title="{% trans 'Zoom out' %}">-</a>
                    </div>
                </div>
            </div>
            {% map_display_points object_list module.settings_instance.polygon %}
        </div>
    {% else %}
        {% react_proposals view.module %}

        <div class="container u-spacer-bottom u-spacer-top-double">
            <div class="offset-lg-2 col-lg-8">
                <div>This is the old list to compare the new list above to. And we will only deploy the old list when we do deploy.</div>
                {% include "meinberlin_contrib/includes/map_filter_and_sort.html" with filter=view.filter mode=view.mode %}
            </div>
        </div>
        <div class="module-content--light">
            <div class="container">
                <div class="offset-lg-2 col-lg-8">
                    {% if object_list.count > 0 %}
                        <ul class="u-list-reset">
                            {% for object in object_list %}
                                {% include "meinberlin_contrib/includes/proposal_list_item.html" with object=object %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% trans "Nothing to show" %}
                    {% endif %}

                    {% include "meinberlin_contrib/includes/pagination.html" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
