{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Moderate' %} {{ object.name }} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ project.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to project' %}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to proposal' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% trans 'Moderate proposal' %}</h1>

        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% for form in forms.values %}
                {{ form.media }}
            {% endfor %}

            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.proposal.moderator_feedback %}
            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.statement.statement %}
            {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=forms.proposal.is_archived %}

            <div class="u-spacer-bottom">
                <input type="submit" class="btn btn--primary" value="{% trans 'Save' %}" />
                <a href="{{ object.get_absolute_url }}" class="btn btn--light">{% trans 'Cancel' %}</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
