{% extends "meinberlin_mapideas/mapidea_detail.html" %}
{% load rules i18n humanize contrib_tags react_proposals_vote static module_tags react_support discovery_tags %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'vote_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'budget_support.js' %}"></script>
    {{ block.super }}
{% endblock %}

{% block ratings %}
    {% if module.blueprint_type == 'PB3' and proposal|has_feature:"support" %}
        {% has_or_would_have_perm 'meinberlin_budgeting.view_support' request.user module as may_view_support %}
        {% if may_view_support %}
        <div class="lr-bar__left">
            {% react_support proposal %}
        </div>
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block vote_button %}
{% if module.blueprint_type == 'PB3' %}
    {% has_perm 'meinberlin_budgeting.vote_proposal' request.user proposal as vote_allowed %}
    {% if vote_allowed %}
    <div class="offset-lg-3 col-lg-6 u-bottom-divider">
        {% react_proposals_vote view.module proposal %}
    </div>
    {% endif %}
{% endif %}
{% endblock %}
