{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate 'Moderate' %} {{ object.name }} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'map' %}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'proposal' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% translate 'Moderate proposal' %}</h1>

        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% for form in forms.values %}
                {{ form.media }}
            {% endfor %}

            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.moderateable.moderator_status %}
            {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.feedback_text.feedback_text %}
            {% include 'meinberlin_contrib/includes/form_checkbox_field.html' with field=forms.moderateable.is_archived %}
            {% if forms.moderateable.show_tasks %}
                {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.moderateable.completed_tasks add_class='u-top-divider' %}
                {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.remark.remark %}
            {% else %}
                {% include 'meinberlin_contrib/includes/form_field.html' with field=forms.remark.remark add_class='u-top-divider' %}
            {% endif %}

            <div class="u-spacer-bottom">
                <input type="submit" class="btn btn--primary" value="{% translate 'Save' %}" />
                <a href="{{ object.get_absolute_url }}" class="btn btn--light">{% translate 'Cancel' %}</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
