{% extends 'meinberlin_dashboard/base_dashboard.html' %}
{% load i18n react_polls %}

{% block dashboard_content %}
        <nav class="resource-navigation__breadcrumbs breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'dashboard-project-list' view.organisation.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to dashboard' %}</a>
            </li>
        </ul>
    </nav>

    <h3>{% trans "Manage project" %}</h3>

    {% react_poll_form object %}

</form>

{% endblock %}
