{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n %}

{% block title %}{% translate "Account Connections" %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <h1 class="u-first-heading">{% translate "Account Connections" %}</h1>

    {% if form.accounts %}
        <p>{% blocktranslate %}Your account is connected to the following services:{% endblocktranslate %}</p>
        <form class="multiform" method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                <label>
                    <input type="hidden" name="account" value="{{ base_account.id }}">
                    <strong>{{account.get_brand.name}}</strong>: {{ account }}
                </label>
                {% endwith %}
            {% endfor %}

            <button class="btn btn--secondary" type="submit" name="action_remove" >{% translate 'Remove' %}</button>
        </form>
    {% else %}
        <p>{% translate 'You can connect your account to the following services:' %}</p>
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
    {% endif %}

    {% include "socialaccount/snippets/login_extra.html" %}
{% endblock %}

