{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
    <h1>{% trans "Register" %}</h1>

    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

    <form class="signup_form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
            {% include 'meinberlin_contrib/includes/form_field.html' with field=field %}
        {% endfor %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="button button--primary" type="submit">{% trans "Register %} &raquo;</button>
    </form>

{% endblock %}
