{% extends "socialaccount/base.html" %}
{% comment %}
By default, if the email address is already registered with an existing account, the user will be prompted to enter
another email address, for which a new account will be created. The new account will be linked to the social account.
In meinBerlin, instead of showing the form to create the new account, users will be notified that they should login
to the existing account and connect the social account from the account settings.
Attention: Providers that won't pass the users email address won't work with this page, as in that case it would be
mandatory for users to provide an email address to be able to create a new, valid account.
{% endcomment %}

{% load i18n %}

{% block head_title %}{% trans "Email address is already in use" %}{% endblock %}

{% block content %}
    <h1>{% trans "Email address is already in use" %}</h1>

    {% url 'socialaccount_connections' as login_url %}
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You tried to use your {{ provider_name }} account to login to {{ site_name }},
        but the email address passed from {{ provider_name }} is already registered to an existing user account.{% endblocktrans %}</p>
    <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Please <a href="{{ login_url }}">sign in</a> to your existing {{ site_name }} account
        and connect {{ provider_name }} from the account settings.{% endblocktrans %}</p>
{% endblock %}
