{% extends "base_errors.html" %}
{% load i18n rules item_tags %}

{% block error_status %}404{% endblock %}

{% block error_description %}
    <p>
        {% trans 'Participation is not possible at the moment. The poll has not been set up yet.' %}
    </p>

    {% has_perm 'meinberlin_polls.change_poll' request.user project.last_active_module as may_change %}
    {% if may_change %}
        <p>
            <a href="{% url 'dashboard-project-management' slug=project.slug %}">
                {% trans 'Setup the poll by adding questions and answers in the dashboard.' %}
            </a>
        </p>
    {% endif %}

{% endblock %}
