{% extends "meinberlin_projects/project_detail.html" %}
{% load react_polls react_comments %}


{% block phase_content %}
    <div class="module-content">
        <div class="l-wrapper">
            <div class="l-center-8">
                {% for question in object.questions.all %}
                    {% react_polls question %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="l-wrapper">
        <div class="l-center-6">
            {% react_comments object %}
        </div>
    </div>
{% endblock %}
