{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n rules %}

{% block project_action %}
    {% has_perm 'meinberlin_ideas.propose_idea' request.user view.module as propose_allowed %}
    {% if propose_allowed %}
        <a href="{% url 'ideas:idea-create' slug=view.module.slug %}" class="button button--huge">
            {% trans 'Submit idea' %}
        </a>
    {% endif %}
{% endblock %}

{% block phase_content %}
    <div class="l-center-8">
        {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

        <div>
            {% for idea in idea_list %}
            {% include "meinberlin_ideas/includes/idea_list_item.html" with idea=idea %}
            {% endfor %}

            {% if idea_list.count == 0 %}
            {% trans "Nothing to show" %}
            {% endif %}
        </div>

        {% include "meinberlin_contrib/includes/pagination.html" %}
    </div>
{% endblock %}
