{% extends "base.html" %}
{% load i18n react_ratings %}

{% block title %}{{idea.name}}{% endblock %}
{% block content %}
<div class="idea">
    <div class="resource-navigation">
        <nav class="resource-navigation-breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'project-detail' idea.project.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to project' %}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="resource-header">
        <h1 class="resource-header-title">{{ idea.name }}</h1>

        <div class="resource-header-meta">{{ idea.creator.username }}</div>

        <div class="resource-header-action">
            {% react_ratings idea %}
        </div>
    </div>

    <div class="idea-description">
        {{ idea.description | safe }}
    </div>
</div>
{% endblock %}
