{% extends "base.html" %}
{% load i18n module_tags rules react_comments react_ratings %}

{% block title %}{{idea.name}}{% endblock %}
{% block content %}
<div class="resource-navigation">
    <div class="l-wrapper">
        <nav class="resource-navigation__breadcrumbs breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'project-detail' idea.project.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to project' %}</a>
                </li>
            </ul>
        </nav>

        {% has_perm 'euth_ideas.modify_idea' request.user idea as show_dropdown %}
        {% if show_dropdown %}
        <div class="resource-navigation__actions dropdown dropdown--right">
            <button
                title="{% trans 'Actions' %}"
                type="button"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                id="idea-{{idea.pk}}-actions"
            >
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="idea-{{idea.pk}}-actions">
                <li>
                    <a class="dropdown-item" href="{% url 'idea-update' slug=idea.slug %}">{% trans 'Edit' %}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'idea-delete' slug=idea.slug %}">{% trans 'Delete' %}</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="resource-header">
    <div class="l-wrapper">
        <div class="l-center-6">
            <h1 class="resource-header__title">{{ idea.name }}</h1>

            <div class="resource-header__meta">{{ idea.creator.username }}</div>

            {% if idea.category %}
                <div class="resource-header__meta">
                    <div class="category">{{ idea.category }}</div>
                </div>
            {% endif %}

            {% if idea|has_feature:"rate" %}
                <div class="resource-header__action">
                    {% react_ratings idea %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="idea-description">
    <div class="l-wrapper">
        <div class="l-center-6">
            {{ idea.description | safe }}
        </div>
    </div>
</div>

<div class="l-wrapper">
    {% react_comments idea %}
</div>
{% endblock %}
