{% extends "base.html" %}
{% load i18n react_ratings rules %}

{% block title %}{{idea.name}}{% endblock %}
{% block content %}
<div>
    <nav>
        <ul>
            <li>
                <a href="{% url 'project-detail' idea.project.slug %}">
                    {% trans 'back to project' %}
                </a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <div class="idea-title">
        <h1>{{ idea.name }}</h1>
    </div>

    <div>
        <p>From: {{ idea.creator.username }}</p>
    </div>

    <div class="idea-description">
        <p>{{ idea.description |safe }}</p>
    </div>

    <div class="idea-ratings">
        {% react_ratings idea %}
    </div>
</div>

{% has_perm 'meinberlin_ideas.modify_idea' request.user idea as update_allowed %}
{% if update_allowed %}
    <a href="{% url 'idea-update' slug=idea.slug %}">
        {% trans 'Edit idea' %}
    </a>
    <a href="{% url 'idea-delete' slug=idea.slug %}">
        {% trans 'Delete idea' %}
    </a>
{% endif %}
{% endblock %}
