{% extends "base.html" %}
{% load i18n item_tags %}

{% block title %}Edit {{idea.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'project-detail' idea.project.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to project' %}</a>
                </li>
                <li>
                    {% get_item_detail_url idea as detail_url %}
                    <a href="{{ detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to idea' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% trans 'Edit idea' %}</h1>

        {% include "meinberlin_ideas/includes/idea_form.html" with idea=idea cancel=detail_url %}
    </div>
</div>
{% endblock %}
