{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Confirm Idea Deletion' %}{% endblock %}
{% block content %}

<div class="l-wrapper">
    <h1>{% trans 'Are you sure you want to delete the idea?' %} </h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Yes'%}" />
    </form>
    <a href="{% url 'idea-detail' idea.slug %}" class="cancel-button">{% trans 'Cancel'%}</a>
</div>
{% endblock %}
