{% extends "base.html" %}
{% load rules i18n %}

{% block title %}{{ object.username }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="l-wrapper">
        <div class="l-center-8">
            <h1 class="herounit-title">
                {{ object.username }}
            </h1>
            <p>{% blocktrans with date=object.date_joined %}Joined on {{ date }}{% endblocktrans %}</p>

            <div class="l-tiles-2">
                {% for project in view.get_participated_projects %}
                    {% has_perm 'a4projects.view_project' request.user project as show %}
                    {% if show %}
                        {% include 'meinberlin_projects/includes/project_list_tile.html' with project=project %}
                    {% endif %}
                {% empty %}
                    <p>{% blocktrans with username=object.username %}{{ username }} does not follow any projects.{% endblocktrans %}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
