{% extends "base.html" %}
{% load i18n %}

{% block title %}"{{ view.organisation.name }}" {% trans "Dashboard" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}

<div class="l-wrapper">
    <div class="menu-layout">

        <nav class="menu-layout__menu dashboard-nav" aria-label="{% trans 'Dashboard navigation' %}"  >
            <div class="dashboard-nav__dropdown">
                <div class="dropdown">
                    {% if view.other_organisations_of_user %}
                        <button
                                title="{% trans 'Organisations' %}"
                                type="button"
                                class="dashboard-nav__item dashboard-nav__item--interactive dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                id="organisation-selection"
                        >
                            {{ view.organisation.name }}
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="organisation-selection">
                            {% for organisation in view.other_organisations_of_user %}
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="{% url 'dashboard-project-list' organisation_slug=organisation.slug %}"
                                    >
                                        {{ organisation.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="dashboard-nav__item">{{ view.organisation.name }}</div>
                    {% endif %}
                </div>
            </div>
            <ul class="dashboard-nav__pages">
                <li class="dashboard-nav__page">
                    <a href="{% url 'dashboard-project-list' organisation_slug=view.organisation.slug %}"
                       class="dashboard-nav__item dashboard-nav__item--interactive {% ifequal view.menu_item 'project' %}is-active{% endifequal %}">
                        <i class="fa fa-file-o"></i>
                        {% trans 'Participation projects' %}
                    </a>
                </li>

                <li class="dashboard-nav__page">
                    <a href="{% url 'dashboard-organisation-edit' organisation_slug=view.organisation.slug %}"
                       class="dashboard-nav__item dashboard-nav__item--interactive {% ifequal view.menu_item 'organisation' %}is-active{% endifequal %}">
                        <i class="fa fa-cog"></i>
                        {% trans 'Settings' %}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="menu-layout__content">
            {% block dashboard_content %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}
