{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n static %}

{% block title %}{% trans "New Module" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}
<div class="l-center-8">
    <h1>{% trans "New Module" %}</h1>

    <ul class="l-tiles-3">
        {% for blueprint_slug, blueprint in view.blueprints %}
            {% include "meinberlin_dashboard/includes/module_blueprint_list_tile.html" with blueprint=blueprint %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
