{% extends "base.html" %}
{% load i18n static %}

{% block portal_header %}{% endblock %}
{% block header %}{% endblock %}

{% block title %}{% translate "New Module" %} &mdash; {{ block.super }}{% endblock%}

{% block content %}
<div id="module-blueprint-list">
    <ul class="l-tiles-3">
        {% for blueprint_slug, blueprint in view.blueprints %}
            {% include "meinberlin_dashboard/includes/module_blueprint_list_tile.html" with blueprint=blueprint %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
