{% extends "meinberlin_dashboard/base_dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Settings" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}
    <h1>{% trans "Edit your organisation information" %}</h1>

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.name %}
        {% include 'meinberlin_contrib/includes/form_field.html' with field=form.logo %}
        <div class="u-spacer-bottom">
            <button type="submit" class="button button--primary">{% trans 'Save changes'%}</button>
        </div>
    </form>
    {{ form.media }}
{% endblock %}
