{% load i18n %}

{% spaceless %}
<div>
  <div class="popover__input">
     <textarea type="text"
            name="remark"
            role="textbox"
            contenteditable="true"
            aria-multiline="true"
            max-length=200
            placeholder="{% trans 'Write down your remark!' %}"
            id="idea--popover__input"
      />
  </div>
  <div class="popover__hint">
    <i class="fa fa-lock" aria-label="Private"></i>{% trans 'Remarks remain private.' %}
  </div>
</div>
{% endspaceless %}
