{% load i18n %}
<form enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.title %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point_label %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.district %}

    {% include 'meinberlin_contrib/includes/form_field_with_addon.html' with field=form.cost after='€' %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.category %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.status %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.participation %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project %}

    <div class="u-spacer-bottom">
        <input type="submit" class="btn btn--primary" value="{% trans 'Save' %}" />
        <a href="{{ cancel }}" class="btn btn--light">{% trans 'Cancel' %}</a>
    </div>
</form>
