{% load i18n %}
<form novalidate enctype="multipart/form-data" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.media }}

    {% if form.errors %}
    <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
      {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
    </div>
    {% endif %}

    <h2 class="form__subheading"> {% translate 'Description of the plan' %}</h2>
    <p class="form-hint form-hint--margin">
        {% translate 'The description of the plan is divided into title, profile, header image and description text.' %}
    </p>

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.title %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point_label %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.topics %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.duration %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.cost %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.participation %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.participation_explanation %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.image %}
    {% include 'a4forms/includes/form_field.html' with field=form.image_alt_text %}
    {% include 'a4forms/includes/form_field.html' with field=form.image_copyright %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.description %}

    <h2 class="form__subheading">{% translate 'Contact for questions' %}</h2>
    <p class="form-hint form-hint--margin">
        {% translate 'Please name a contact person so users know who to contact with any questions they may have.' %}
    </p>

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_name %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_address_text %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_email %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_phone %}
    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.contact_url %}

    <h2 class="form__subheading">{% translate 'Presentation in Project Overview' %}</h2>
    <p class="form-hint form-hint--margin">
        {% translate 'The following information affects the presentation of the project in the general project overview.' %}
    </p>

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.tile_image %}

    {% include 'a4forms/includes/form_field.html' with field=form.tile_image_alt_text %}

    {% include 'a4forms/includes/form_field.html' with field=form.tile_image_copyright %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.point %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.district %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.status %}

    {% include 'meinberlin_contrib/includes/form_field.html' with field=form.project %}

    <div class="u-spacer-bottom">
        <input type="submit" class="btn btn--primary" value="{% translate 'Save' %}" />
        <a href="{{ cancel }}" class="btn btn--light">{% translate 'Cancel' %}</a>
    </div>
</form>
