{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n static %}

{% block title %}{{ view.title }}{% if project %} &mdash; {{ project.name }}{% endif %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <h1>{{ view.title }}</h1>

    {% for error in form.non_field_errors %}
        <span>{{ error }}</span>
    {% endfor %}

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% include view.form_template_name %}

        <input type="submit" class="btn btn--primary" name="save" value="{% trans 'Save' %}"/>
    </form>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
{% endblock %}
