{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n static %}

{% block title %}{% trans "New Project" %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_content %}
    <h1>{% trans "New Project" %}</h1>

    <ul>
        {% for blueprint_slug, blueprint in view.blueprints %}
        <li>
            <div>{{ blueprint.title }}</div>
            <img alt="" src="{% static blueprint.image %}">
            <div>{{ blueprint.description | linebreaks }}</div>
            <ul>
                {% for phase_content in blueprint.content %}
                    <li><strong>{% trans 'Phase' %} {{ forloop.counter }}</strong>: {{ phase_content.description }}</li>
                {% endfor %}
            </ul>

            <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug blueprint_slug=blueprint_slug %}"
               class="btn">
                {% trans 'Select'%}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
