{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Create project based on" %} {{ view.blueprint.title }} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <h1>{% trans "Create project based on" %} {{ view.blueprint.title }}</h1>

    {% for error in form.non_field_errors %}
        <span>{{ error }}</span>
    {% endfor %}

    <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% include 'a4forms/includes/form_field.html' with field=form.name %}

        {% include 'a4forms/includes/form_field.html' with field=form.description %}

        {% include 'a4forms/includes/form_field.html' with field=form.image %}
        {% include 'a4forms/includes/form_field.html' with field=form.image_copyright %}

        <p>{% trans 'After saving the draft project you can further customize and edit your project and eventually publish it.' %}</p>

        <input type="submit" class="btn btn--primary" name="send" value="{% trans 'Create draft' %}"/>
        <a href="{% url 'a4dashboard:blueprint-list' organisation_slug=view.organisation.slug %}"
           class="btn btn--light">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
{% endblock %}
