{% if item.district %}
<div class="storefront__item storefront__local">
    <h2>Was passiert gerade in {{ item.district }}</h2>
    <a class="btn">{{ item.district_project_count }} Projekte anzeigen</a>
</div>
{% elif item.project and not item.quote %}
<div class="storefront__item storefront__proj">
    <div class="list-item__stats">
        <!-- can't count comments on project level -->
        <!--<span title="Kommentare" class="list-item__comments"><i class="far fa-comment" aria-label="Kommentare"></i>234</span>-->
    </div>
    <div class="item-detail__labels">
         {% if item.project.topic %}
        <span class="label label--secondary">{{ item.project.get_topic_display }}</span>
        {% endif %}
    </div>
    <h6>{% if item.project.active_phase %}Beteiligung möglich bis zum {{ item.project.active_phase.end_date }}{% endif %}</h6>
    <h2>{{ item.project.name }}</h2>
</div>
{% elif item.project and item.quote %}
<div class="storefront__item storefront__quote">
    <!-- can't count comments on project level -->
    <!--<div class="list-item__stats"><span title="Kommentare" class="list-item__comments"><i class="far fa-comment" aria-label="Kommentare"></i>5</span></div>-->
    <h2>„{{ item.quote }}“</h2><a href="{% url 'project-detail' item.project.slug %}">Was ist Ihre Meinung zum Projekt: {{ item.project.name }} ?</a>
</div>
{% elif not item.project and item.quote %}
<div class="storefront__item storefront__quote">
    <h2>„{{ item.quote }}“</h2>
</div>
{% endif %}
