{% load i18n %}

<li class="list-item">
    <div class="lr-bar">
        <div class="lr-bar__left">
            <h3 class="list-item__title">{{ object.name }}</h3>
        </div>
        <div class="lr-bar__right">
            <div class="btn-group">
                {% spaceless %}
                    <a href="{{ object.get_absolute_url }}"
                       class="btn btn--small btn--light">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {% translate 'View' %}
                    </a>
                    <a href="{% url 'a4dashboard:maptopic-update' pk=object.pk year=object.created.year %}"
                       class="btn btn--small btn--light">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        {% translate 'Edit'%}
                    </a>
                    <a href="{% url 'a4dashboard:maptopic-delete' pk=object.pk year=object.created.year %}"
                       class="btn btn--small btn--light">
                        <i class="fas fa-times" aria-hidden="true"></i>
                        {% translate 'Delete'%}
                    </a>
                {% endspaceless %}
            </div>
        </div>
    </div>
</li>
