{% load i18n contrib_tags meinberlin_project_tags static %}

<div class="container">
    {% if not module.active_phase %}
    <div class="offset-lg-3 col-lg-6 u-spacer-bottom">
        <strong>
            {% trans 'Participation is not possible at the moment.' %}
            {% if not module.past_phases %}
                {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                {% blocktrans with date=start_date %}It starts on {{ date }}.{% endblocktrans%}
            {% elif module.future_phases %}
                {% html_date module.future_phases.first.start_date 'DATETIME_FORMAT' as start_date %}
                {% blocktrans with date=start_date %}It continues on {{ date }}.{% endblocktrans%}
            {% else %}
                {% html_date module.past_phases.last.end_date 'DATETIME_FORMAT' as end_date %}
                {% blocktrans with date=end_date %}It ended on {{ date }}.{% endblocktrans%}
            {% endif %}
        </strong>
    </div>
    {% endif %}
    {% with phase_count=module.phases.count %}
    <div class="offset-lg-3 col-lg-6">
        {% for phase in module.phases %}
            <div class="phase-info__item {% if phase_count == 1 %} u-no-border {% endif %} u-spacer-top">
                <div class="phase-info__item__title{% if phase == module.active_phase %} lr-bar u-inline-flex{% endif %}">
                    {% if phase == module.active_phase %}
                        <span class="lr-bar__left">{{ phase.name }}</span>
                        <span class="lr-bar__right phase-info__highlight">{% trans 'active' %}</span>
                    {% else %}
                        {{ phase.name }}
                    {% endif %}
                </div>
                <div class="phase-info__item__subtitle">
                    {% html_date phase.start_date 'DATETIME_FORMAT' %}
                    &ndash; {% html_date phase.end_date 'DATETIME_FORMAT' %}
                </div>
                <div class="phase-info__item__description">
                    {{ phase.description }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endwith %}
</div>

<div class="container">
    <div class="offset-lg-3 col-lg-6 u-spacer-bottom-double">
    {% if project.is_private %}
        <div class="">
            <i class="fas fa-lock u-spacer-right" aria-hidden="true"></i>{% trans 'This project is not publicly visible. Only invited users can see content and actively participate.' %}
        </div>
    {% elif project.is_semipublic %}
        <div class="">
            <i class="fas fa-eye u-spacer-right" aria-hidden="true"></i>{% trans 'This project is publicly visible. Invited users can actively participate.' %}
        </div>
    {% endif %}
    </div>
</div>
