{% load i18n %}

{% with phase_count=module.phases.count %}
<div class="offset-lg-3 col-lg-6">
    {% if phase_count == 1 %}
        {% with phase=module.phases.first %}
            {% include "a4modules/includes/module_detail_phase_info.html" %}
        {% endwith %}
    {% else %}
        {% include "a4modules/includes/module_detail_phase_swiper.html" %}
    {% endif %}
</div>
{% endwith %}

<div class="offset-lg-3 col-lg-6 u-spacer-bottom-double">
{% if project.is_private %}
    <div>
        <i class="fas fa-lock u-spacer-right" aria-hidden="true"></i>{% trans 'This project is not publicly visible. Only invited users can see content and actively participate.' %}
    </div>
{% elif project.is_semipublic %}
    <div>
        <i class="fas fa-eye u-spacer-right" aria-hidden="true"></i>{% trans 'This project is publicly visible. Invited users can actively participate.' %}
    </div>
{% endif %}
</div>
