{% load static %}
<!-- Start Swiper Template -->
<div class="swiper-phases swiper">
    <div class="swiper-wrapper">
        {% for phase in module.phases %}
            <div class="swiper-slide">
                {% include "a4modules/includes/module_detail_phase_info.html" %}
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- End Swiper Template -->

{% block extra_js %}
    <script src="{% static 'swiper_phases.js' %}"></script>
{% endblock %}
