{% extends "base.html" %}
{% load i18n rules react_comments module_tags react_ratings wagtailcore_tags %}

{% block title %}{{object.name}} &mdash; {{ block.super }}{% endblock %}
{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ project.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {{ project.name }}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="item-detail">
            <h1 class="item-detail__title">{{ object.name }}</h1>

            {% if object.category %}
                <div class="item-detail__labels">
                    <div class="label label--big">{{ object.category }}</div>
                </div>
            {% endif %}

            <div class="item-detail__content">
                {{ object.description | richtext }}
            </div>

            <div class="item-detail__actions lr-bar">
                {% if object|has_feature:"rate" %}
                    <div class="lr-bar__left">
                        {% react_ratings object %}
                    </div>
                {% endif %}
            </div>
            {% react_comments object %}
        </div>
    </div>
</div>
{% endblock %}
