{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block title %}{% blocktrans with title=object.name %}Edit {{ title }}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_project_content %}
<div class="l-wrapper">
    <h1 class="u-first-heading">{% trans 'Edit topic' %}</h1>

    {% if form.errors %}
        <div class="errorlist">{% trans 'An error occurred while evaluating your data. Please check the data you entered again.' %}</div>
    {% endif %}

    {% url 'a4dashboard:topic-list' module_slug=module.slug as cancel %}
    {% include "meinberlin_topicprio/includes/topic_form.html" with cancel=cancel %}
</div>
{% endblock %}
