{% load i18n %}
<div class="upload-wrapper form-control-upload">
    <div class="upload-wrapper__fields input-group">
        {{ file_input }}
        {{ text_input }}
        {% if has_image_set and not is_required %}
            <label for="{{ checkbox_id }}"
                class="upload-wrapper__action input-group__after btn btn--danger"
                title="{% trans 'Remove the picture' %}">
                <i class="fa fa-trash" aria-label="{% trans 'Remove the picture' %}"></i>
            </label>
        {% else %}
            <label for="{{ id }}"
                class="upload-wrapper__action input-group__after btn"
                title="{% trans 'Upload a picture' %}">
                <i class="fa fa-cloud-upload" aria-label="{% trans 'Upload a picture' %}"></i>
            </label>
        {% endif %}
    </div>
    <div class="form-{{ id }} upload-wrapper__preview">
        {{ checkbox_input }}
        <img id="{{ file_id }}"
             src="{% if has_image_set %}{{ file_url }}{% else %}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}"
             data-upload-preview="{{ id }}"
             alt=""
        >
    </div>
    <div class="alert alert--info upload-wrapper__alert" role="alert">
        {% trans 'Your image will be uploaded/removed once you save your changes at the end of this page.' %}
    </div>
</div>
