{% load i18n %}
<div class="upload-wrapper form-control-upload">
    <div class="upload-wrapper__fields">
        {{ text_input }}
        {{ file_input }}
        <span class="upload-wrapper__action">
            {% if has_image_set and not is_required %}
                <label for="{{ checkbox_id }}"
                    class="button button--danger"
                    title="{% trans 'Remove the picture' %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </label>
            {% else %}
                <label for="{{ name }}"
                    class="button"
                    title="{% trans 'Upload a picture' %}">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </label>
            {% endif %}
        </span>
    </div>
    <div class="form-{{ name }} upload-wrapper__preview">
        {{ checkbox_input }}
        <img id="{{ file_id }}"
             src="{% if has_image_set %}{{ file_url }}{% endif %}"
             data-upload-preview="{{ name }}"
        >
    </div>
    <div class="alert alert-info upload-wrapper__alert" role="alert">
        {% trans 'Your image will be uploaded/removed once you save your changes at the end of this page.' %}
    </div>
</div>
