{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with title=object.name %}Edit {{ title }}{% endblocktrans %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ module.get_detail_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'go back' %}</a>
                </li>
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'back to idea' %}</a>
                </li>
            </ul>
        </nav>

        <h1>{% translate 'Edit idea' %}</h1>

        {% if form.errors %}
        <div class="alert alert--danger" aria-live="assertive" aria-atomic="true" id="alert">
          {% translate 'An error occurred while evaluating your data. Please check the data you entered again.' %}
        </div>
        {% endif %}

        {% include "meinberlin_mapideas/includes/mapidea_form.html" with cancel=object.get_absolute_url %}
    </div>
</div>
{% endblock %}
