{% extends "meinberlin_contrib/item_detail.html" %}
{% load static maps_tags categories_tags %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'a4maps_display_point.js' %}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'a4maps_display_point.css'%}" rel="stylesheet" />
{% endblock %}

{% block additional_content %}
    {% if object.point %}
        {% get_category_pin_url object as pin_url %}
        {% map_display_point object.point object.module.areasettings_settings.polygon pin_url %}
    {% endif %}
{% endblock %}
