{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n static react_documents %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% translate 'Edit document' %}</h1>

    {% react_documents module True %}

{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {# include ckeditor css from widget, comes as link tag #}
    {{ ckeditor_media.css }}
{% endblock extra_css %}
{% block extra_js %}
  {{ block.super }}
    {# include ckeditor js from widget, comes as script tag #}
    {{ ckeditor_media.js }}
    <script type="text/javascript" src="{% static 'documents.js' %}"></script>
{% endblock extra_js %}
