{% extends "base.html" %}
{% load i18n react_comments_async react_ratings wagtailcore_tags %}

{% block title %}{{ paragraph.name }} &mdash; {{ paragraph.chapter.project.name }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6">
        <nav class="breadcrumbs" aria-label="{% translate 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{{ paragraph.chapter.get_absolute_url }}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% translate 'back to chapter' %}</a>
                </li>
            </ul>
        </nav>

        <article class="item-detail">
            <h1 class="item-detail__title">
                {{ paragraph.name }}
            </h1>
            <div class="item-detail__content ck-content">
                {{ paragraph.text | richtext }}
            </div>
        </article>
    </div>

    <div class="offset-lg-3 col-lg-6">
        {% react_comments_async paragraph %}
    </div>
</div>
{% endblock %}
