{% load i18n contrib_tags %}

<div class="control-bar">
    {% if mode == 'map' %}
        {% combined_url_parameter request.GET mode='list' as url_par %}
        <div class="btn-group__container control-bar__item">
            <div class="btn-group" role="group">
                <a class="btn btn--light" href="{{ url_par }}" aria-label="{% trans 'View as list' %}">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span>{% trans 'List' %}</span>
                </a><div class="btn btn--light switch--btn active" aria-label="{% trans 'View as map' %}">
                  <i class="fa fa-map" aria-hidden="true"></i>
                  <span>{% trans 'Map' %}</span>
                </div>
            </div>
        </div>
    {% else %}
        {% combined_url_parameter request.GET mode='map' as url_par %}
        <div class="btn-group__container control-bar__item">
            <div class="btn-group" role="group">
                <div class="btn btn--light switch--btn active" aria-label="{% trans 'View as list' %}">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span>{% trans 'List' %}</span>
                </div><a class="btn btn--light" href="{{ url_par }}" aria-label="{% trans 'View as map' %}">
                  <i class="fa fa-map" aria-hidden="true"></i>
                  <span>{% trans 'Map' %}</span>
                </a>
            </div>
        </div>
    {% endif %}

    {% for field in filter.form %}
        {% if field.name != 'ordering' %}
            {{ field }}
        {% endif %}
    {% endfor %}

    {% if mode != 'map' %}
        <div class="control-bar__right">
            {{ filter.form.ordering }}
        </div>
    {% endif %}
</div>
