{% load contrib_tags i18n %}

{% if is_paginated %}
<nav aria-label="{% translate 'Page navigation' %}">
    <ul class="pagination btn-group">
      {% get_proper_elided_page_range paginator page_obj.number as paginated_page_range %}

      <li class="pagination__item">
        {% if page_obj.has_previous %}
          {% combined_url_parameter request.GET page=page_obj.previous_page_number as url_prev %}
          {% endif %}

          <a class="{% if not page_obj.has_previous %}disabled{% endif %}" href="{{ url_prev }}" aria-label="previous page">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
      </li>

      {% for page_number in paginated_page_range %}
        {% if page_number >= 0 %}
        <li class="pagination__item{% if page_number == page_obj.number %} active{% endif %}">
            {% combined_url_parameter request.GET page=page_number as url_par %}
            <a href="{{ url_par }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="pagination__item">
            <div>{{ page_number }}</div>
        </li>
        {% endif %}
      {% endfor %}

      <li class="pagination__item">
        {% if page_obj.has_next %}
          {% combined_url_parameter request.GET page=page_obj.next_page_number as url_next %}
          {% endif %}
          <a class="{% if not page_obj.has_next %}disabled{% endif %}" href="{{ url_next }}" aria-label="next page">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
      </li>
    </ul>
</nav>
{% endif %}
