{% load i18n %}

<div class="dropdown dropdown--right lr-bar__right">
    <button
            title="{% trans 'Remark' %}"
            type="button"
            class="dropdown-toggle btn btn--light btn--small"
            data-toggle="modal"
            data-target="#idea__remark--modal"
            aria-expanded="false"
            id="idea-{{ object.pk }}-remark"
    >
        <i class="fa fa-comment" aria-label="{% trans 'Remark' %}"></i>

        {% if object.remark %}
          <i class="fa fa-check-circle item-detail__notify" aria-label="{% trans 'Remark-Notification' %}"></i>
        {% endif %}
    </button>
</div>

{% include "meinberlin_ideas/includes/remark.html" %}
