{% extends "base.html" %}
{% load wagtailimages_tags rules i18n %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %} &mdash; {{ block.super }}{% endblock %}

{% block header %}
    {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    {% image self.header_image max-1920x560 as header_image %}

    <div class="hero-unit">
        <div class="hero-unit__wrapper">
            <h1 class="hero-unit__title u-first-heading">{{ self.title }}</h1>
            <div class="hero-unit__subtitle">{{ self.subtitle }}</div>
        </div>
        {% if header_image.url %}
            <div class="hero-unit__img" style="background-image: url({{ header_image.url }})">
                {% if self.header_image.copyright %}
                    <div class="hero-unit__copyright copyright">© {{ self.header_image.copyright }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% for block in self.body %}
        {% if block.block_type == 'call_to_action' %}
            {{ block }}
        {% else %}
        <div class="l-wrapper">
            {{ block }}
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}
