{% extends "base.html" %}
{% load wagtailimages_tags rules i18n static %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %} &mdash; {{ block.super }}{% endblock %}

{% block header %}
    {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}"/>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'masonary.js' %}"></script>
{% endblock %}


{% block content %}

    {% image self.header_image max-1920x560 as header_image %}

    <div class="hero-unit">
      {% if header_image.url %}
        <div class="hero-unit__wrapper">
            <h1 class="hero-unit__title u-first-heading">{{ self.title }}</h1>
            <div class="hero-unit__subtitle">{{ self.subtitle }}</div>
        </div>
            <div class="hero-unit__img" style="background-image: url({{ header_image.url }})">
                {% if self.header_image.copyright %}
                    <div class="hero-unit__copyright copyright">© {{ self.header_image.copyright }}</div>
                {% endif %}
            </div>
        {% else %}
            {% if self.storefront %}
            <div class="l-wrapper">
                <div class="storefront">
                    <div class="storefront__col">
                        <div class="storefront__item storefront__img" style="width=100%; background:url(https://fillmurray.com/200/300) no-repeat; background-size: cover;">
                           <h1>Beteiligungs-plattform des Landes Berlin!</h1>
                        </div>
                        <div class="storefront__item storefront__stat-sm">
                            <h1>8267</h1><p>von Bürger*innen eingereichte Ideen und Kommentare </p>
                        </div>
                    </div>
                    <div class="storefront__col">
                        <div class="storefront__item storefront__quote">
                            <div class="list-item__stats"><span title="Kommentare" class="list-item__comments"><i class="far fa-comment" aria-label="Kommentare"></i>5</span></div>
                            <h2>„Ein Zitat an dieser Stelle kann wahre Wunder bewirken.“</h2><a href="" target="self">Was ist Ihre Meinung zum Projekt: Ich bin der Projekttitel ?</a>
                        </div>
                        <div class="storefront__item storefront__proj">
                            <div class="list-item__stats">
                                <span title="Kommentare" class="list-item__comments"><i class="far fa-comment" aria-label="Kommentare"></i>234</span>
                            </div>
                            <div class="item-detail__labels">
                                <span class="label label--secondary">Implementation</span>
                                <span class="label">theme 3</span>
                            </div>
                            <h6>Beteiligung möglich bis zum</h6>
                            <h2>Ich bin die Projekt- & B-Plan-Headline, die etwas mehr zu sagen hat </h2>
                        </div>
                    </div>
                    <div class="storefront__col">
                        <div class="storefront__item storefront__local">
                            <h2>Was passiert gerade in Friedrichshain-Kreuzberg?</h2>
                            <a class="btn">(25) Projekte anzeigen</a>
                        </div>
                        <div class="storefront__item storefront__stat-lg">
                            <h1>276</h1>
                            <p>Projekte, zu denen wir Ihre Meinung wissen möchten!</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}

    </div>
    {% for block in self.body %}
        {% if block.block_type == 'call_to_action' %}
            {{ block }}
        {% else %}
        <div class="l-wrapper">
            {{ block }}
        </div>
        {% endif %}
    {% endfor %}


{% endblock %}
