{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %} &mdash; {{ block.super }}{% endblock %}

{% block header_meta %}
    {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="offset-lg-2 col-lg-8">
            <h1>{{ self.title }}</h1>
            {% for block in self.body %}
            <section>{% include_block block %}</section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
