{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with project=moderatorinvite.project.name %}Invitation to {{ project }}{% endblocktrans %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="offset-lg-3 col-lg-6">
            <h1>{% blocktrans with project=moderatorinvite.project.name %}Moderation invitation for {{ project }}{% endblocktrans %}</h1>

            {% if form.non_field_errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <p>
                {% translate "Please login to procceed. If you do not have an account, register and revisit the invitation link." %}
            </p>
            <a class="btn btn--primary" href="{% url 'account_login' %}?next={% url 'project-moderator-invite-detail' invite_token=moderatorinvite.token %}">{% translate "Proceed to login" %}</a>
            <a class="btn btn--light" href="{% url 'account_signup' %}">{% translate "Register" %}</a>
        </div>
    </div>
{% endblock %}
