{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with project=moderatorinvite.project.name %}Invitation to {{ project }}{% endblocktrans %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="offset-lg-3 col-lg-6">
            <h1>{% blocktrans with project=moderatorinvite.project.name %}Moderation invitation for {{ project }}{% endblocktrans %}</h1>

            {% if form.non_field_errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <p>
                {% translate "You were invited by the initiator of the project. If you accept you will be able to moderate the project." %}
            </p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="accept" class="btn btn--primary">{% translate 'Accept' %}</button>
                <button type="submit" name="reject" class="btn btn--light">{% translate 'Decline' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
