{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with project=participantinvite.project.name %}Project: {{ project }}{% endblocktrans %}{% endblock %}
{% block content %}
    <div class="l-wrapper">
        <div class="l-center-6">
            <h1>{% blocktrans with project=participantinvite.project.name %}Do you want to take part in "{{ project }}"?{% endblocktrans %}</h1>
            {{ form.non_field_errors }}
            <p>
                {% trans "For this you need an account. Please login with your account or register."%}
            </p>
            <a class="btn btn--primary" href="{% url 'account_login' %}?next={% url 'project-participant-invite-detail' invite_token=participantinvite.token %}">{% trans "Proceed to login" %}</a>
            <a class="btn btn--light" href="{% url 'account_signup' %}?next={% url 'project-participant-invite-detail' invite_token=participantinvite.token %}">{% trans "Register" %}</a>
        </div>
    </div>
{% endblock %}
