{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% translate 'Moderators' %} &mdash; {{ block.super }}{% endblock%}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% translate 'Edit Moderators' %}</h1>
    {% include 'meinberlin_projects/includes/users_from_email_form.html' %}

    <h2>{% translate 'Pending Invitations' %}</h2>
    {% include 'meinberlin_projects/includes/removeable_invite_list.html' with invites=project.moderatorinvite_set.all %}
    <h2>{% translate 'Moderators' %}</h2>
    {% include 'meinberlin_projects/includes/removeable_user_list.html' with users=project.moderators.all %}
{% endblock %}
