{% extends 'base.html' %}
{% load contrib_tags i18n %}

{% block title %}{% trans 'Projects' %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="l-wrapper">
        {% include "meinberlin_contrib/includes/filter_and_sort.html" with filter=view.filter %}

        {% filter_has_perm 'a4projects.view_project' request.user project_list as filtered_projects %}
        {% if filtered_projects|length > 0 %}
            <ul class="l-tiles-4">
                {% for project in filtered_projects %}
                    {% include "meinberlin_projects/includes/project_list_tile.html" with project=project %}
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'We could not find any projects.' %}</p>
        {% endif %}

        {% include "meinberlin_contrib/includes/pagination.html" %}
    </div>
{% endblock %}
