{% extends "base.html" %}
{% load i18n rules react_follows thumbnail wagtailcore_tags meinberlin_project_tags offlineevent_tags contrib_tags ckeditor_tags static %}

{% block extra_css %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'dsgvo_video_embed.css' %}" />
{% endblock %}

{% block extra_js %}
  {{ block.super }}
    <script type="text/javascript" src="{% static 'dsgvo_video_embed.js' %}"></script>
{% endblock %}

{% block title %}{{project.name}} &mdash; {{ block.super }}{% endblock %}

{% block extra_messages %}
    {{ block.super }}

    {% if project.is_draft %}
        <ul class="messages">
            <li class="alert alert--warning" role="alert">
                <div class="container">
                    {% translate 'This project is not published yet.' %}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div
        class="project-header{% if project.image %} project-header--image{% endif %}"
        {% if view.project.image %}
            style="background-image: url({{ project.image |thumbnail_url:'heroimage' }});"
            role="img"
            aria-label="{% if project.image_alt_text %}{{ project.image_alt_text }}{% else %}{% translate 'Here you can find a decorative picture.' %}{% endif %}"
        {% endif %}
    >
        <div class="container">
            <div class="offset-lg-3 col-lg-6">
                <h1 class="project-header__title">{{ project.name }}</h1>
                <p class="project-header__description">{{ project.description }}</p>
                <div class="project-header__follow">
                    {% react_follows project %}
                </div>
            </div>
        </div>
        {% if view.project.image %}
            <p class="project-header__copyright copyright">
                {% if project.image_copyright %}
                    © {{ project.image_copyright }}
                {% else %}
                    {% translate 'copyright missing' %}
                {% endif %}
            </p>
        {% endif %}
    </div>

    <div class="tablist tablist--left">
        <div class="container">
            <div class="tablist--right">
                {% has_perm 'a4projects.change_project' request.user view.project as user_may_change %}
                {% if user_may_change %}
                    <a
                        href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}"
                        class="btn btn--light btn--small"
                        data-embed-target="external">
                        {% translate 'Edit' %}
                    </a>
                {% endif %}
            </div>

            <nav class="nav" role="tablist">
                <a
                    id="tab-project-{{ project.pk }}-information"
                    class="tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-project-{{ project.pk }}-information"
                    role="tab"
                    aria-controls="tabpanel-project-{{ project.pk }}-information"
                    aria-expanded="false">
                    {% translate 'About the Project' %}
                </a>
                <a
                    id="tab-project-{{ project.pk }}-participation"
                    class="tab active"
                    data-bs-toggle="tab"
                    href="#tabpanel-project-{{ project.pk }}-participation"
                    role="tab"
                    aria-controls="tabpanel-project-{{ project.pk }}-participation"
                    aria-expanded="true">
                    {% translate 'Participation' %}
                </a>
                <a
                    id="tab-project-{{ project.pk }}-result"
                    class="tab"
                    data-bs-toggle="tab"
                    href="#tabpanel-project-{{ project.pk }}-result"
                    role="tab"
                    aria-controls="tabpanel-project-{{ project.pk }}-result"
                    aria-expanded="false">
                    {% translate 'Result' %}
                </a>
            </nav>
        </div>
    </div>

    <div
    class="tabpanel"
    id="tabpanel-project-{{ project.pk }}-information"
    role="tabpanel"
    aria-labelledby="tab-project-{{ project.pk }}-information"
    aria-expanded="false">
        <section class="container">
            <div class="offset-lg-2 col-lg-8">
                {{ project.information | transform_collapsibles | disable_iframes | richtext }}
                {% if project.contact_name or project.contact_address_text or project.contact_email or project.contact_phone or project.contact_url or project.organisation.address or project.organisation.url %}
                    <div class="l-tiles-2 u-top-divider">
                    {% if project.contact_name or project.contact_address_text or project.contact_email or project.contact_phone or project.contact_url %}
                        <div>
                            <h3>{% translate 'Contact for questions' %}</h3>
                            <address>
                                {% if project.contact_name %}
                                <p>{{ project.contact_name }}</p>
                                {% endif %}
                                {% if project.contact_address_text %}
                                <p>{{ project.contact_address_text|linebreaks }}</p>
                                {% endif %}
                                {% if project.contact_phone %}
                                <p><strong>{% translate 'Telephone' %}: </strong>{{ project.contact_phone }}</p>
                                {% endif %}
                                {% if project.contact_email %}
                                <a class="btn btn--secondary" href="mailto:{{ project.contact_email }}">
                                    {% translate 'Email' %}
                                </a>
                                {% endif %}
                                {% if project.contact_url %}
                                <a class="btn btn--secondary" target="_blank" href="{{ project.contact_url }}">
                                    {% translate 'Website' %}
                                </a>
                                {% endif %}
                            </address>
                        </div>
                    {% endif %}

                    {% if project.organisation.address or project.organisation.url %}
                        <div>
                            <h3>{% translate 'Responsible body' %}</h3>
                            <address>
                                {% if project.organisation.address %}
                                <p>{{ project.organisation.name }}</p>
                                <p>{{ project.organisation.address|linebreaks }}</p>
                                {% endif %}
                                {% if project.organisation.url %}
                                <a class="btn btn--secondary" target="_blank" href="{{ project.organisation.url }}">
                                    {% translate 'Website' %}
                                </a>
                                {% endif %}
                            </address>
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
    <div
    class="tabpanel active u-overflow-visible"
    id="tabpanel-project-{{ project.pk }}-participation"
    role="tabpanel"
    aria-labelledby="tab-project-{{ project.pk }}-participation"
    aria-expanded="true">
        <section>
            <div class="container">
            {% if project.display_timeline %}
                <div class="timeline-carousel__wrapper">
                    {% include "meinberlin_projects/includes/project_timeline-carousel.html" with dates=project.participation_dates project=project %}
                </div>
            {% endif %}
            {% if event %}
                <article class="offset-lg-3 col-lg-6">
                    <h2>{{ event.name }}</h2>
                    <div class="phase-info__item__subtitle">
                    {% html_date event.date 'DATETIME_FORMAT' %}
                    </div>
                    <p>{{ event.description | safe | transform_collapsibles | richtext }}</p>
                </article>
            {% elif view.is_project_view %}
                <div class="participation-tile__wrapper">
                    <div class="participation-tile__list-container">
                        <ul class="u-list-reset participation-tile__list">
                        {% for module in modules %}
                            {% include "meinberlin_projects/includes/project_module_tile.html" with project=project module=module %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %} <!-- if just one module and no phase view to dispatch to -->
            {% include "a4modules/includes/module_detail_phase.html" %}
            {% endif %}
            <!-- these blocks are only filled when in phase view -->
                <div class="offset-lg-3 col-lg-6">
                    {% block project_action %}{% endblock %}
                </div>
            </div>
            {% block phase_content %}{% endblock %}
        </section>
    </div>
    <div
    class="tabpanel"
    id="tabpanel-project-{{ project.pk }}-result"
    role="tabpanel"
    aria-labelledby="tab-project-{{ project.pk }}-result"
    aria-expanded="false">
        <section class="container">
            <div class="offset-lg-2 col-lg-8">
                {% if project.result %}
                    {{ project.result | transform_collapsibles | richtext }}
                {% else %}
                    {% translate 'No results yet.' %}
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
