.block {
    @include clearfix;
    margin-bottom: 2.8em;
}

.block--cta {
    padding: 2.8em 0;

    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    text-align: center;

    .rich-text > :first-child {
        margin-top: 0;
    }
}

.block--bordered {
    padding: 1em;
    border: 1px solid $border-color;

    @media (max-width: $breakpoint - 0.1em) {
        margin: 0;
        width: 100%;
    }

    h2 {
        margin-top: 0;
    }
}

.block__actions {
    text-align: center;
}
