.block {
    @include clearfix;
    margin-bottom: 2.8em;
    page-break-inside: avoid;
}

.block--cta {
    padding: 2.8em 0;

    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    text-align: center;

    .rich-text > :first-child {
        margin-top: 0;
    }

    @media print {
        background-color: transparent;
        color: $print-black;
    }
}

.block--bordered {
    padding: 1em;
    border: 1px solid $border-color;

    @media (max-width: $breakpoint-down) {
        margin: 0;
        width: 100%;
    }

    h2 {
        margin-top: 0;
    }
}

.block__actions {
    text-align: center;
}

.block--image-cta {
    border: 1px solid $border-color;
}

.block--image-cta__img {
    display: block;
    position: relative;
    min-height: 11.8em;
    background-size: stretch;
    background-position: center;
    margin-bottom: $spacer;
}

.block--image-cta__body {
    padding: $padding;
    text-align: center;
}

.block--image-cta__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.block__homepage .rich-text {
    p,
    h2 {
        text-align: center;
    }

    h2 {
        color: $brand-secondary;
        font-size: $font-size-xxxl;
    }
}
