.block {
    @include clearfix;
    margin-bottom: 2.8em;
}

.block--cta {
    padding: 2.8em 0;

    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    text-align: center;

    .rich-text > :first-child {
        margin-top: 0;
    }
}

.block__actions {
    text-align: center;
}
