@mixin button-color($color, $color-active) {
    $color-focus: mix($color, $color-active, 50%);
    $color-contrast: contrast-color($color);

    border-color: $color;
    background-color: $color;
    color: $color-contrast;

    &:hover,
    &:focus {
        border-color: $color-focus;
        background-color: $color-focus;
        color: contrast-color($color-focus);
    }

    &:active {
        border-color: $color-active;
        background-color: $color-active;
        color: contrast-color($color-active);
    }

    &:disabled {
        border-color: mix($color, $color-contrast, 50%);
        background-color: mix($color, $color-contrast, 50%);
        color: mix($color, $color-contrast, 10%);
        cursor: not-allowed;
    }
}

%buttonBase {
    @extend %inputBase;
    border-radius: 0.3em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.button,
.submit-button,
[type="submit"] {
    @extend %buttonBase;
    @include button-color($link-color, $link-hover-color);
}

.button--huge {
    font-size: $font-size-lg;
    display: block;
    line-height: 2.5;
}

.cancel-button {
    @extend %buttonBase;
    @include button-color($body-bg, $bg-secondary);
}

.button--as-link {
    background: none;
    color: $link-color;
    border: 0;
    text-decoration: underline;
    display: inline;
    padding: 0;
    line-height: inherit;
    margin: 0;

    &:hover,
    &:focus {
        background: none;
        color: $link-hover-color;
    }
}

.button--full {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
}

.buttonGroup {
    > :not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > :not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
