@mixin button-color($color, $color-active) {
    $color-focus: mix($color, $color-active, 50%);
    $color-contrast: contrast-color($color);

    border-color: $color;
    background-color: $color;
    color: $color-contrast;

    &:hover,
    &:focus {
        border-color: $color-focus;
        background-color: $color-focus;
        color: contrast-color($color-focus);
    }

    &:active {
        border-color: $color-active;
        background-color: $color-active;
        color: contrast-color($color-active);
    }

    &:disabled {
        border-color: mix($color, $color-contrast, 50%);
        background-color: mix($color, $color-contrast, 50%);
        color: mix($color, $color-contrast, 10%);
        cursor: not-allowed;
    }
}

%button-base {
    @extend %input-base;
    border-radius: 0.3em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    vertical-align: middle;
}

.button {
    @extend %button-base;
    @include button-color($link-color, $link-hover-color);
}

.button--light {
    @include button-color($body-bg, $bg-secondary);

    &,
    &:focus,
    &:hover,
    &:active {
        border-color: $border-color;
    }
}

.button--primary {
    @include button-color($brand-primary, darken($brand-primary, 15%));
}

.button--secondary {
    @include button-color($brand-secondary, darken($brand-secondary, 15%));
}

.button--select {
    @include text-truncate;
    max-width: 15em;

    // leave space for caret
    padding-right: 2.2em;
    position: relative;

    i {
        position: absolute;
        top: 0.4em;
        right: 0.7em;
    }
}

.button--huge {
    padding: 0.8em 2em;
}

.button--full {
    display: block;
    width: 100%;
    margin-bottom: $spacer;
}

.button--attached-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button-group {
    > :not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > :not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
