@mixin button-color($color, $color-active) {
    $color-focus: mix($color, $color-active, 50%);
    $color-contrast: contrast-color($color);

    border-color: $color;
    background-color: $color;
    color: $color-contrast;

    &:hover,
    &:focus {
        border-color: $color-focus;
        background-color: $color-focus;
        color: contrast-color($color-focus);
    }

    &:active {
        border-color: $color-active;
        background-color: $color-active;
        color: contrast-color($color-active);
    }

    &.is-disabled,
    &:disabled {
        // $is-light: luma($color) > luma($color-contrast);
        // $weight-bg: if($is-light, 95%, 50%);
        // $weight-fg: if($is-light, 60%, 10%);

        // border-color: mix($color, $color-contrast, $weight-bg);
        // background-color: mix($color, $color-contrast, $weight-bg);
        // color: mix($color, $color-contrast, $weight-fg);
        cursor: not-allowed;
        pointer-events: none;
    }
}

%button-base {
    @extend %input-base;
    border-radius: 0.3em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    vertical-align: middle;
}

// .btn {
//     @extend %button-base;
//     @include button-color($link-color-btn, $link-hover-color-btn);
// }

.btn--flex {
    @extend %button-base;
    @include button-color($link-color-btn, $link-hover-color-btn);
    flex: 1 0 auto;
    height: 100%;

    &.bottom {
        align-self: flex-end;
    }
}

.btn--light {
    font-weight: inherit;

    @include button-color($body-bg, $bg-secondary);

    &,
    &:disabled,
    &.is-disabled {
        border-color: $border-color;
    }

    &:focus,
    &:hover,
    &:active {
        border-color: $idea-remark-color;
    }
}

.btn--transparent {
    @include button-color(transparent, transparent);

    &,
    &:focus,
    &:hover,
    &:active,
    &:disabled,
    &.is-disabled {
        border-color: $border-color;
    }
}

.btn--primary {
    @include button-color($primary, darken($primary, 15%));
}

.btn--secondary {
    @include button-color($secondary, darken($secondary, 15%));
}

.btn--danger {
    @include button-color($danger, darken($danger, 15%));
}

.btn--link {
    padding-left: 0; // horizontal paddings would make the button look off on mobile
    padding-right: 0;
    border-color: transparent;
    background-color: transparent;

    color: $link-color;
    text-decoration: underline !important;
    font-weight: normal;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $link-hover-color !important;
        border-color: transparent;
        background-color: transparent;
    }

    &.is-disabled {
        color: $text-color !important;
        border-color: transparent;
        background-color: transparent;
        cursor: not-allowed;
    }

    &.collapsible {
        .link--less {
            display: none;
        }

        .link--more {
            display: block;
        }
    }

    .show + &.collapsible {
        .link--less {
            display: block;
        }

        .link--more {
            display: none;
        }
    }
}

.btn--none {
    @include button-color(transparent, transparent);
}

.btn--select {
    @include text-truncate;
    max-width: 15em;

    // leave space for caret
    padding-right: 2.2em;
    position: relative;

    i {
        position: absolute;
        top: 0.4em;
        right: 0.7em;
    }
}

.btn--small {
    padding: 0.3em 0.6em;
    font-weight: inherit;
}

.btn--huge {
    padding: 0.8em 2em;
}

.btn--full {
    display: block;
    width: 100%;

    // margin-bottom: $spacer;
}

.btn--attached-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-group {
    .dropdown {
        display: inline-block;
    }

    > *,
    .dropdown-toggle {
        border-radius: 0;
        margin-left: -1px;

        &:focus {
            // highlighted border should be on top
            z-index: 1;
            position: relative;
        }
    }

    > :first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
        margin-left: 0;
    }

    > :last-child,
    > :last-child .dropdown-toggle {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
}

@media print {
    .btn {
        background-color: contrast-color($print-black);
        color: $print-black;
        border-color: $border-color;
    }
}

.btn--icon {
    i {
        padding-right: 0.5rem;
    }
}

.btn--align-left {
    padding-left: 0;
}

.btn--close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: 0.5;
    margin-left: auto;
}
