.category {
    display: inline-block;
    padding: 0.4em 0.6em;
    font-size: $font-size-sm;
    background-color: $bg-tertiary;
    color: contrast-color($bg-tertiary);
    border-radius: 0.3em;
}
