.black-divider {
    padding: $padding;
    margin: 4em 0 2.5em;
    background-color: $text-color;
    color: contrast-color($text-color);
    page-break-before: always;

    @media print {
        padding: 0;
        margin-bottom: 0.2em;
        background-color: transparent;
        color: $print-black;
        font-size: 1.2em;
    }
}

.comment-box {
    textarea {
        width: 100%;
    }

    .general-form {
        margin-bottom: $spacer * 2;
    }

    .action-bar {
        margin-bottom: 0.5em;
    }

    // SHAME: this is styling the adhocracy4 comments which are using different classes
    // Note this should be in _shame.scss but as the whole comment markup has to be styled shamefully it was decided
    // to keep it in one place for better readability.
    .nav {
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
        }
    }

    .navbar {
        @include clearfix;

        > * {
            display: inline-block;
            margin-right: 0.5em;
        }
    }

    .rating-button {
        @extend .btn--small;
        vertical-align: baseline;
        line-height: inherit;
    }

    .dropdown-toggle {
        @extend %button-base;
        @extend .btn--light;
        @extend .btn--small;
        vertical-align: baseline;
        line-height: inherit;
    }

    .comment-answer-button {
        @extend .btn--light;
        @extend .btn--small;
        vertical-align: baseline;
        line-height: inherit;
    }
}

.comment {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 3;

    @media print {
        margin-bottom: 1em;
    }
}

.comment-text {
    margin: 0.5em 0 0.8em;
    white-space: pre-line;
}

.comment-deleted-author,
.comment-author {
    display: inline;
    margin-right: 0.4em;
    font-size: inherit;
    font-weight: bold;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .label {
        margin-left: 0.2em;
        font-weight: normal;
    }
}

.comment-submission-date {
    margin-left: 0.2em;
}

.comment-child-list {
    padding-left: 1.5em;
    margin-top: $spacer * 2;
    border-left: 1px solid $brand-primary;

    .comment {
        margin-bottom: $spacer * 2;
    }
}

.comments_login {
    text-align: center;
    margin-bottom: 3em;
}

.comment-reply-button {
    font-weight: bold;

    i {
        margin-right: 0.5em;
    }
}
