.black-divider {
    padding: $padding;
    margin: 4em 0 2.5em;
    background-color: $text-color;
    color: contrast-color($text-color);
}

.comment-box {
    @extend .l-center-6;

    textarea {
        width: 100%;
    }

    .general-form {
        margin-bottom: $spacer * 2;
    }

    .nav {
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
        }
    }

    .navbar {
        @include pie-clearfix;
    }

    .navbar-nav {
        float: left;
    }

    .navbar-right {
        float: right;
    }
}

.comment {
    margin-bottom: $spacer * 2;
}

.comment-text {
    margin: 0.5em 0;
}

.comment-author {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.comment-submission-date {
    margin-left: 0.2em;
}

.comment-child-list {
    margin-left: 1em;
    margin-top: $spacer * 2;
}

.comments_login {
    text-align: center;
    margin-bottom: 3em;
}
