.commenting {
    margin-bottom: $spacer;
}

.commenting__content {
    padding-right: $padding;
    border-right: 1px solid $brand-primary;
}

.commenting__content--border {
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: ($padding / 2);
}

.commenting__actions {
    text-align: right;
}

.commenting__title {
    margin-top: 0;
    font-size: 100%;
}

@media (min-width: $breakpoint) {
    .commenting {
        @include clearfix;
    }

    .commenting__content {
        @include grid-span(9, 0);
    }

    .commenting__actions {
        @include grid-span(3, 9);
        text-align: left;
    }
}
