.commenting {
    display: block;
    margin-bottom: $em-spacer;

    @extend .row;
}

.commenting__content--border {
    margin-bottom: $em-spacer * 0.5;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: ($padding * 0.5);
}

.commenting--toc__button {
    // FIXME: This class should either not add styling or not be combined with .btn
    // see: https://github.com/liqd/a4-meinberlin/pull/555#discussion_r122957403
    display: block;
    width: 100%;
    text-align: left;

    &.active {
        color: $primary;
        background-color: $gray-lightest;
    }
}

.commenting__content {
    @extend .col-lg-9;
}

.commenting__actions {
    @extend .col-lg-3;
    text-align: right;
}

@media (min-width: $breakpoint) {
    .commenting {
        @include clearfix;
    }

    .commenting__actions {
        text-align: left;
    }
}
