.black-divider {
    padding: $padding;
    margin: 4em 0 2.5em;
    background-color: $text-color;
    color: contrast-color($text-color);
}

.comment-box {
    textarea {
        width: 100%;
    }

    .general-form {
        margin-bottom: $spacer * 2;
    }

    .nav {
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
        }
    }

    .navbar {
        @include clearfix;

        > * {
            display: inline-block;
        }
    }

    .action-bar {
        margin-bottom: 0.5em;
    }

    .dropdown {
        margin-left: 0.5em;
    }

    .navbar-right {
        float: right;
    }
}

.comment {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 3;
}

.comment-text {
    margin: 0.5em 0 0.8em;
    white-space: pre-line;
}

.comment-author {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;

    .label {
        margin-left: 0.2em;
    }
}

.comment-submission-date {
    margin-left: 0.2em;
}

.comment-child-list {
    padding-left: 1.5em;
    margin-top: $spacer * 2;
    border-left: 1px solid $brand-secondary;

    .comment {
        margin-bottom: $spacer * 2;
    }
}

.comments_login {
    text-align: center;
    margin-bottom: 3em;
}

.comment-reply-button {
    font-weight: bold;

    i {
        margin-right: 0.5em;
    }
}
