.control-bar {
    @include clearfix;

    select,
    .dropdown,
    .btn-group__container {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    }

    @media (max-width: $breakpoint) {
        > * {
            @include grid-same-width(2);
        }

        > :last-child {
            float: right;
            margin-right: 0;
        }

        .dropdown,
        .btn-group__container {
            display: block;
            margin-bottom: ($em-spacer / 2);
        }

        .dropdown-toggle {
            width: 100%;
            max-width: none;
        }
    }

    @media (max-width: $breakpoint-xs) {
        > * {
            @include grid-same-width(1);
        }

        .btn-group {
            float: right;
        }
    }

    .control-bar__right {
        float: right;

        @media (max-width: $breakpoint) {
            // push to the right
            // NOTE: needs to overwrite grid-tiles

            @include grid-cell;
            @include grid-position(6);
        }

        @media (max-width: $breakpoint-xs) {
            margin-left: 0;
        }
    }

    // firfox workaround for not shrinking felx item
    .input-group__input {
        min-width: 0;
    }
}

.control-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}
