.control-bar {
    @include clearfix;

    select,
    .control-bar__item,
    .btn-group__container {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;

        & > button,
        & > div.btn-group,
        & > form > input {
            margin-bottom: $spacer;
        }
    }

    @media (min-width: $breakpoint) {
        select,
        .control-bar__item,
        .btn-group__container {
            margin-right: 0.5 * $spacer;
        }

        .control-bar__item:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: $breakpoint) {
        > * {
            // @include grid-same-width(2);
        }

        .dropdown-toggle,
        .control-bar__item,
        .control-bar__item button {
            width: 100%;
            max-width: none;
        }
    }

    @media (max-width: $breakpoint-xs) {
        > * {
            // @include grid-same-width(1);
        }

        .btn-group {
            float: right;
        }
    }

    .control-bar__right {
        float: right;

        @media (max-width: $breakpoint) {
            // push to the right
            // NOTE: needs to overwrite grid-tiles

            // @include grid-cell;
            // @include grid-position(6);
        }

        @media (max-width: $breakpoint-xs) {
            margin-left: 0;
        }
    }

    // firfox workaround for not shrinking felx item
    .input-group__input {
        min-width: 0;
    }
}

.control-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}
