.dashboard-nav {
    border: 1px solid $border-color;
    border-radius: 0.3em 0.3em 0 0;
    overflow: hidden;
}

.dashboard-nav__dropdown {
    background-color: $bg-secondary;
}

.dashboard-nav__pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard-nav__page {
    border-top: 1px solid $border-color;
}

.dashboard-nav__item {
    display: block;
    padding: 0.7em;
    border-left: 0.3em solid transparent;
    color: $text-color;
    text-decoration: none;
}

.dashboard-nav__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.dashboard-nav__breadcrumb {
    padding-top: 1.5*$padding;
    padding-bottom: 1.5*$padding;
}

.dashboard-nav__icon {
    margin-right: 1.4*$spacer;
}

.dashboard-nav__dropdown-icon {
    margin-right: 0.5*$spacer;
}

.dashboard-nav__item--interactive {
    &:hover,
    &:focus {
        color: $brand-primary;
    }

    &.is-active {
        color: $brand-primary;
        border-left-color: $brand-primary;
    }

    i {
        float: right;
        line-height: inherit;
    }
}

.dashboard-nav__collapsible-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard-nav__collapsible-menu {
    a {
        display: block;
    }

    label {
        display: block;
        cursor: pointer;
        margin: 0;
    }

    input {
        display: none;
    }
}

.dashboard-nav__menu-content {
    max-height: 0;
    overflow: hidden;
}

/* Toggle Effect */
input:checked ~ .dashboard-nav__menu-content {
    max-height: 100%;
}

.dashboard-nav__module-control {
    display: flex;
    margin: 0 0 $spacer 0;
}

.dashboard_nav__form--project {
    flex-grow: 1;
}

.dashboard_nav__btn--project {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dashboard_nav__btn--delete {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 48px;

    i {
        font-size: 1rem;
    }
}

//delete btn positioned under project btn
@media screen and (min-width: $breakpoint) and (max-width: $breakpoint-lg-down) {
    .dashboard_nav__btn--project {
        border-bottom-left-radius: 0;
    }

    .dashboard_nav__btn--delete {
        max-width: 100%;
        border-bottom-left-radius: 0.3em;
    }

    .dashboard_nav__form--delete,
    .dashboard_nav__form--project {
        width: 100%;
    }
}
