.dropdown {
    position: relative;
    text-align: left;
    margin-bottom: $spacer / 2;
}

.dropdown--right {
    text-align: right;

    .dropdown-menu {
        left: auto;
        right: 0;
    }
}

.dropdown-toggle {
    display: inline-block;
    min-width: 1.4em;
    text-align: center;

    i {
        font-size: 1.25em;
    }
}

.dropdown-menu {
    display: none;

    position: absolute;
    left: 0;
    min-width: 10em;
    max-width: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: $body-bg;
    color: contrast-color($body-bg);
    border: 1px solid $text-color;
    border-radius: 2px;
    text-align: left;
    box-shadow: 0 0 1em $shadow;

    li {
        display: block;
    }

    a,
    button {
        display: block;
        width: 100%;
        padding: 0.5em;
        color: inherit;
        border-bottom: 1px solid $text-color;
        white-space: nowrap;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $bg-secondary;
            color: $brand-secondary;
        }

        i {
            display: inline-block;
            width: 1.5em;
        }
    }

    li:last-child > a,
    li:last-child > button {
        border-bottom: 0;
    }

    .dropdown.show & {
        display: block;
    }

    @media print {
        display: none;
    }
}
