.dropdown {
    position: relative;
    text-align: left;
    margin-bottom: $em-spacer * 0.5;
}

.dropdown-toggle {
    i {
        font-size: 1.25em;
        vertical-align: middle;
    }

    .dropdown-item__icon {
        display: none;
    }
}

.dropdown-menu {
    min-width: 100%;
    padding: 0;
    border: 1px solid $text-color;
    border-radius: 2px;
    box-shadow: $spacer $spacer 40px $shadow, -$spacer $spacer 40px $shadow;

    a,
    button {
        // FIXME: can be removed once filter and sort has dropdown-item added to the links
        display: block;
        width: 100%;
        padding: 0.5em;
        color: inherit;
        border-bottom: 1px solid $text-color;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
            color: $primary;
        }

        &:focus {
            color: $text-color-inverted;
        }

        i {
            display: inline-block;
            width: 1.5em;
        }
    }

    li:last-child > a,
    li:last-child > button {
        border-bottom: 0;
    }

    .dropdown.show & {
        display: block;
    }

    img {
        display: inline-block;
        height: 1.6em;
        width: auto;
        vertical-align: middle;
        margin-right: 0.6em;
    }

    @media print {
        display: none;
    }
}
