.filter-bar {
    @include clearfix;
    font-size: $font-size-sm;

    .dropdown {
        display: inline-block;
    }

    @media (max-width: $breakpoint) {
        > * {
            @include grid-same-width(2);
        }

        .dropdown {
            display: block;
        }

        .dropdown-toggle {
            width: 100%;
            max-width: none;
        }
    }

    .filter-bar__ordering {
        float: right;

        @media (max-width: $breakpoint) {
            float: none;
            // push to the right
            // NOTE: needs to overwrite grid-tiles
            @include grid-position(6);
        }
    }
}

.filter-bar__top-overlap {
    position: relative;
    z-index: 1;
    bottom: -1.3em;
}

.filter-bar__bottom-overlap {
    position: relative;
    z-index: 1;
    top: -1em;
}
