.filter-bar-spacer {
    margin-left: 4*$r-spacer;
    margin-right: 4*$r-spacer;
    margin-bottom: 2*$r-spacer;
}

.filter-bar {
    box-shadow: 0 0 20px 0 $shadow;
    display: flex;

    @media screen and (min-width: $breakpoint-xs) {
        padding: 2*$padding 4*$padding $padding 4*$padding;
        font-size: $font-size-lg;
        line-height: 2.5;
        flex-direction: row;
        justify-content: center;
    }
}

.filter-bar__dropdown {
    margin-left: $r-spacer;
    margin-right: $r-spacer;
}

.filter-bar__dropdown-btn {
    color: $gray-lighter;
    font-style: italic;
    font-weight: normal;
    padding-bottom: inherit;
    vertical-align: initial;
    border-bottom: 1px dotted $border-color;
}

.filter-bar__dropdown-selected {
    color: $text-color;
    font-weight: normal;
    border-radius: inherit;
    border: 1px solid $border-color;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 2rem;

    i {
        font-size: 1rem;
        line-height: 1.7;
    }
}

.filter-bar__btn-light {
    margin-left: 2 * $r-spacer;
}

.filter-bar__dropdown-menu {
    margin-top: $spacer;
    box-shadow: 0 0 20px 0 $shadow;

    @media screen and (min-width: $breakpoint-xs) {
        padding: 2*$padding 4*$padding $padding 4*$padding;
    }
}

.filter-bar__options {
    display: flex;
    flex-wrap: wrap;
}

.filter-bar__option {
    width: 33%;
}
