.filter-bar-container {
    margin-left: 4*$r-spacer;
    margin-right: 4*$r-spacer;
    margin-bottom: 2*$r-spacer;
}

.filter-bar {
    background-color: $brand-secondary;
    color: $white;
    font-size: $font-size-lg;
    line-height: 2.5;
}

.filter-bar--horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 2*$padding 4*$padding;
}

.filter-bar--stacked {
    padding: $padding 2*$padding;
    margin-bottom: $r-spacer;
}

.filter-bar__btn-margin {
    margin-left: $r-spacer;
    margin-right: $r-spacer;
}

.filter-bar__btn {
    color: $white;
    font-weight: normal;
    font-style: italic;
    border-radius: 0;

    &:focus,
    &:hover,
    &:active,
    &:disabled {
        color: $white;
    }
}

.filter-bar__btn--truncate {
    @include text-truncate;
    max-width: 12rem;
}

.filter-bar__btn--wide {
    display: block;
    text-align: left;
}

.filter-bar__btn--unselected {
    border-bottom: 1px dotted $white;
    padding-left: 0;

    // leave space for caret
    padding-right: 1.5rem;
    position: relative;

    i {
        position: absolute;
        top: 0.8rem;
        right: 0;
    }
}

.filter-bar__btn--selected {
    border: 1px solid $white;
    font-size: $font-size-base;

    // leave space for caret
    padding-right: 2.2rem;
    position: relative;

    i {
        position: absolute;
        top: 0.6rem;
        right: 0.7rem;
    }
}

.filter-bar__btn--light {
    color: $white;
    margin-left: 2 * $r-spacer;

    &:focus,
    &:hover,
    &:active,
    &:disabled {
        color: $white;
    }
}

.filter-bar__dropdown-menu {
    margin-top: $spacer;
    box-shadow: 0 0 20px 0 $shadow;

    @media screen and (min-width: $breakpoint-xs) {
        padding: 2*$padding 4*$padding $padding 4*$padding;
    }
}

.filter-bar__options {
    display: flex;
    flex-wrap: wrap;
}

.filter-bar__option {
    width: 33%;
}

.filter-bar__accordion {
    border: none;
    background-color: $brand-secondary;
    color: $white;

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $white;
    }

    i {
        color: $white;
    }

    ul {
        list-style: none;
    }
}

.filter_bar__accordion__unselected {
    h2 {
        border-bottom: 1px dotted $white;
        font-weight: normal;
        font-style: italic;
    }
}

.filter_bar__accordion__selected {
    h2 {
        border: 1px solid white;
        padding: 0.5*$spacer;
    }

    i {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
    }
}
