.fixed-side {
    display: none;
    position: fixed;
    right: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    top: 45%;
    z-index: 1;

    @media (min-width: $breakpoint) {
        display: block;
    }
}
