html {
    background-color: $bg-secondary;
}

body {
    background-color: $body-bg;
}

.main-footer {
    @include clearfix;
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 4;
    margin-top: $spacer * 7;

    font-size: $font-size-sm;
    text-align: right;
    background-color: $bg-secondary;
    color: contrast-color($bg-secondary);
}

.footer-nav__link {
    display: inline-block;
    padding: 0.7em;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: inherit;
    }
}

.shariff {
    text-align: left;

    // found this value by experiment
    @media (min-width: 386px) {
        min-width: 386px;
    }

    @media (min-width: $breakpoint) {
        float: left;
    }
}
