.formset__form {
    position: relative;

    input {
        padding-right: 1.5em;
        width: 100%;
    }
}

.formset__template {
    display: none;
}

.formset__delete {
    @include sr-only();

    &:focus ~ .formset__delete-label {
        @include fake-focus;
    }

    & ~ .formset__delete-label {
        position: absolute;
        right: 0.5em;
        top: 0.6em;
        color: $gray;
    }

    &:checked ~ * {
        color: $brand-danger;
    }

    &:checked ~ input {
        text-decoration: line-through;
    }
}
