$header-margin-bottom: 25px;

.main-header {
    position: relative;
    z-index: 1;
    margin-bottom: $header-margin-bottom;
}

.main-nav {
    line-height: 1;
}

// positioned so that the "mein" from "meinBerlin" is on the baseline
.main-nav__logo {
    text-decoration: none;
    margin-right: 1em;

    img {
        margin: 0;
        width: 3em;
        vertical-align: middle;

        @media screen and (min-width: $breakpoint) {
            width: 6em;
            margin-top: -2em;
            margin-bottom: -2.85em;
        }
    }
}

.main-nav__menu-wrapper {
    padding: 0.5em $padding 0;
    border-bottom: 1px solid $border-color;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: $body-bg;

    @media screen and (min-width: $breakpoint) {
        padding: 0;
        border: 0;
        position: static;
        background-color: transparent;

        &.collapse {
            display: inline-block;
        }
    }
}

.main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $breakpoint) {
        display: inline-block;
    }
}

.main-nav__item {
    display: block;
    border-top: 1px solid $border-color;

    &:last-child {
        border-bottom: 1px solid $border-color;
    }

    @media screen and (min-width: $breakpoint) {
        display: inline;
        border: 0;

        &:last-child {
            border: 0;
        }
    }
}

.main-nav__link {
    display: block;
    padding: 0.5em 0;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $bg-secondary;
        color: $brand-secondary;
    }

    @media screen and (min-width: $breakpoint) {
        display: inline;
        padding: 0.2em 0.4em;

        &:hover,
        &:focus {
            text-decoration: underline;
            background-color: transparent;
            color: inherit;
        }
    }
}

.main-nav__toggle {
    float: right;

    @media screen and (min-width: $breakpoint) {
        display: none;
    }
}

.main-header__user {
    @media screen and (min-width: $breakpoint) {
        position: absolute;
        bottom: -1em;
        right: $padding;
    }

    // min-width and max-width can't have the same breakpoint
    @media screen and (max-width: $breakpoint - 0.1em) {
        // overwrite dropdown style on mobile

        .dropdown {
            margin-bottom: 0;
        }

        .dropdown-toggle {
            display: none;
        }

        .dropdown-menu {
            display: block;
            padding: 0;
            border: 0;

            box-shadow: none;

            position: static;
        }

        .dropdown-item {
            padding-left: 0;
            padding-right: 0;
            border-color: $border-color;
        }

        li:last-child button {
            border-bottom: 0;
        }
    }
}

.dialogue-box {
    display: flex;

    > div {
        height: 43px;
    }
}

.dialogue-box__left,
.dialogue-box__right {
    flex: 1 0 auto;
    background-position: left center;
    background-image: url('/static/images/dialoguebox_border.png');
    background-repeat: repeat-x;
}

.dialogue-box__center {
    flex: 0 1 70rem;
    background-position: right -250px center;
    background-image: url('/static/images/dialoguebox.png');
    background-repeat: no-repeat;

    @media screen and (min-width: $breakpoint) {
        background-position: right -150px center;
    }
}

.beberlin-logo {
    margin-right: 1.5em;
    vertical-align: middle;

    @media screen and (min-width: $breakpoint) {
        // set type on baseline
        vertical-align: -0.3em;
    }
}

// compensate for generic margin-bottom on header and move those elements
// underneath the "dialograhmen"
$header-overlap: -35px;

.messages,
.hero-unit,
.resource-header {
    &:first-child {
        margin-top: $header-overlap - $header-margin-bottom;
    }
}
