.mainHeader {
    position: relative;
    background: url('images/bg-amplitude-blue.png') bottom right no-repeat;
    padding-bottom: 68px;
    padding-right: 260px;
}

.mainHeader-user {
    position: absolute;
    top: 0;
    right: 0;
}

.mainNav {
    font-size: 120%;
    line-height: 1;

    ul,
    li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul {
        display: inline-block;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.mainNav-item,
.mainNav-logo {
    margin-right: 1em;
}

.mainNav-logo {
    img {
        width: 7em;
        margin-top: -3em;
        margin-bottom: -3em;
    }
}

.mainNav-item {
    padding: 0.2em 0.4em;
}
