.main-header {
    position: relative;
}

.main-header__user {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-header__toggle {
    padding: 0.5em 1.5em;
    border: solid 1px $border-color;
    border-radius: 50px;
}

.main-nav {
    font-size: $font-size-lg;
    line-height: 1;

    ul,
    li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul {
        display: inline-block;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.main-nav__item,
.main-nav__logo {
    margin-right: 1em;
}

.main-nav__logo {
    img {
        width: 6em;
        margin-top: -2em;
        margin-bottom: -2em;
    }
}

.main-nav__item {
    padding: 0.2em 0.4em;
}

.dialogue-box {
    display: flex;
    margin-top: -10px;

    > div {
        height: 43px;
        background-image: url('/static/images/dialoguebox.png');
        background-repeat: no-repeat;
    }
}

.dialogue-box__left,
.dialogue-box__right {
    flex-grow: 1;
    background-position: left center;
}

.dialogue-box__center {
    flex: 70rem 0 1;
    background-position: right -150px center;
}
