.main-header {
    position: relative;
}

.main-header__user {
    position: absolute;
    bottom: -0.5em;
    right: $padding;
}

.main-nav {
    font-size: $font-size-lg;
    line-height: 1;

    ul,
    li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    ul {
        display: inline-block;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.main-nav__item,
.main-nav__logo {
    margin-right: 1em;
}

.main-nav__logo {
    img {
        width: 6em;
        margin-top: -2em;
        margin-bottom: -2.85em;
    }
}

.main-nav__item {
    padding: 0.2em 0.4em;
}

.dialogue-box {
    display: flex;

    > div {
        height: 43px;
    }
}

.dialogue-box__left,
.dialogue-box__right {
    flex: 1 0 auto;
    background-position: left center;
    background-image: url('/static/images/dialoguebox_border.png');
    background-repeat: repeat-x;
}

.dialogue-box__center {
    flex: 70rem 0 1;
    background-position: right -150px center;
    background-image: url('/static/images/dialoguebox.png');
    background-repeat: no-repeat;
}
