.hero-unit {
    min-height: $hero-height-mobile;
    font-size: $font-size-lg;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: $brand-secondary;

    // after dialogue box
    &:first-child {
        padding-top: 16px;
    }

    @media (min-width: $breakpoint) {
        // HACK: We would prefer to use min-height to allow extremly long
        // content.  However, in IE, flex is buggy when used with min-height.
        // We expect the content to be short, so this should be fine.
        height: ($hero-height-mobile + $hero-height) / 2;
        font-size: ($font-size-lg + 3.5rem) / 2;
    }

    @media (min-width: $breakpoint-md) {
        height: $hero-height;
        font-size: 3.5rem;
    }
}

.hero-unit__wrapper {
    width: 45%;
    padding: 1em 1.5em;
    text-align: center;
    line-height: 1.2;
}

.hero-unit__copyright {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media print {
    .hero-unit {
        background-image: none !important;
        color: $print-black;

        &:before {
            content: none;
        }
    }
}
