// FIXME: this only works with buttons if it is included *afterwards*

.input-group {
    display: flex;
}

.input-group__input {
    flex: 1 1 auto;
}

.input-group__before,
.input-group__after {
    flex: 0 1 0%;
}

.input-group__input,
.input-group__before,
.input-group__after {
    border-radius: 0;
}

.input-group__before {
    margin-right: -1px;

    &:first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
    }
}

.input-group__after {
    margin-left: -1px;

    &:last-child {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
}

.input-group__input:focus,
.input-group__before:focus,
.input-group__after:focus {
    // highlighted border should be on top
    z-index: 1;
}

.addon {
    @extend %input-base;
    background-color: $body-bg;
    color: contrast-color($body-bg);
    min-width: 2.4em;
    text-align: center;
}
