.item-detail {
    margin-bottom: $spacer;
}

.item-detail__title {
    font-size: $font-size-xl;
}

.item-detail__smalltitle {
    font-weight: bold;
    font-size: $font-size-lg;
    margin: 1em 0 0 0;
}

.item-detail__labels {
    margin-bottom: 1em;
}

.item-detail__labels .label {
    display: inline-block;
    margin-bottom: 0.4em;
}

.item-detail__meta {
    padding-bottom: 0.6em;
    font-size: $font-size-sm;
}

.item-detail__actions {
    padding-top: 0.6em;
    border-top: 2px solid $border-color;
}

.item-detail__creator {
    margin-right: 0.5em;
}

.item-detail__content {
    margin-bottom: 1em;
}

.item-detail__basic-content {
    @include clearfix;
    margin-bottom: 1em;
}

.item-detail__image {
    margin-bottom: 0.5em;
    width: 100%;

    @media screen and (min-width: $breakpoint-xs) {
        display: inline-block;
        float: right;
        margin-left: 0.5em;
        width: auto;
    }
}

.item-detail__factsheet {
    display: table;
    padding-left: 0;

    dl {
        display: table-row;
    }

    dt {
        display: table-cell;
        border-right: 2em solid transparent;
    }

    dd {
        display: table-cell;
    }
}
