.item__labels {
    margin-bottom: 1em;
}

.item__labels .label {
    display: inline-block;
    margin-bottom: 0.4em;
}

.item__meta {
    padding-bottom: 0.6em;
    border-bottom: 2px solid $border-color;
    margin-bottom: 0.6em;
}

.item__content {
    margin-bottom: 1em;
}
