.item-detail {
    margin-bottom: $spacer;
}

.item-detail__title {
    font-size: $font-size-xl;
}

.item-detail__labels {
    margin-bottom: 1em;
}

.item-detail__labels .label {
    display: inline-block;
    margin-bottom: 0.4em;
}

.item-detail__meta {
    padding-bottom: 0.6em;
}

.item-detail__actions {
    padding-top: 0.6em;
    border-top: 2px solid $border-color;
}

.item-detail__creator {
    margin-right: 0.5em;
}

.item-detail__content {
    margin-bottom: 1em;
}
