.label {
    display: inline-block;
    background-color: $bg-tertiary;
    color: contrast-color($bg-tertiary);
    font-size: $font-size-xs;
    font-weight: normal;
    border-radius: 0.4em;
    padding: 0.2em 0.7em;
}

.label--big {
    padding: 0.4em 0.6em;
    font-size: $font-size-sm;
    border-radius: 0.3em;
}

.label--primary {
    background-color: $primary;
    color: contrast-color($primary);
}

.label--secondary {
    background-color: $secondary;
    color: contrast-color($secondary);
}

.label--active {
    color: $primary;
    background-color: contrast-color($primary);
    font-weight: bold;
}

.label--consideration {
    background-color: $feedback-color-consideration;
    color: contrast-color($feedback-color-consideration);
}

.label--rejected {
    background-color: $feedback-color-rejected;
    color: contrast-color($feedback-color-rejected);
}

.label--accepted {
    background-color: $feedback-color-accepted;
    color: contrast-color($feedback-color-accepted);
}

@media print {
    .label {
        color: $print-black;
        background-color: contrast-color($print-black);
        border: 1px solid $border-color;
    }
}
