.label {
    display: inline-block;
    background-color: $bg-tertiary;
    color: contrast-color($bg-tertiary);
    font-size: $font-size-xs;
    font-weight: normal;
    border-radius: 0.4em;
    padding: 0.2em 0.7em;
}

.label--big {
    padding: 0.4em 0.6em;
    font-size: $font-size-sm;
    border-radius: 0.3em;
}

.label--primary {
    background-color: $brand-primary;
    color: contrast-color($brand-primary);
}

.label--secondary {
    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
}

.label--CONSIDERATION {
    background-color: $feedback-color-consideration;
    color: contrast-color($feedback-color-consideration);
}

.label--REJECTED {
    background-color: $feedback-color-rejected;
    color: contrast-color($feedback-color-rejected);
}

.label--ACCEPTED {
    background-color: $feedback-color-accepted;
    color: contrast-color($feedback-color-accepted);
}
