.listItem {
    padding: $padding;
    display: block;
    position: relative;
    border: 1px solid $border-color;
    margin-bottom: $spacer;
}

.listItem--squashed {
    border-top: 0;
    margin-bottom: 0;

    &:first-child {
        border-top: 1px solid $border-color;
    }
}

.listItem-author,
.listItem-stats,
.listItem-title {
    margin: 0 0 0.8rem;
}

.listItem-title {
    font-size: $font-size-lg;
}

.listItem-author {
    font-size: $font-size-sm;
    font-weight: bold;
}

.listItem-date {
    font-size: $font-size-xs;
}

.listItem-actions,
.listItem-stats {
    font-size: $font-size-sm;
    float: right;
}
