.list-item {
    padding: 0.7em $padding;
    display: block;
    position: relative;
    border: 1px solid $border-color;
    background-color: $body-bg;
    margin-bottom: $spacer;
}

.list-item--squashed {
    border: 0;
    margin-bottom: 2px;

    &:first-child {
        border-top: 1px solid $border-color;
    }
}

.list-item__title {
    margin: 0 0 0.4rem;
    font-size: $font-size-lg;

    a {
        color: inherit;
        text-decoration: none;

        &:focus,
        &:hover {
            color: $brand-secondary;
        }
    }
}

.list-item__badges {
    margin: 0 0 0.4rem;
}

.list-item__author {
    margin-right: 0.3em;
}

.list-item__actions,
.list-item__stats {
    float: right;
}

.list-item__comments {
    margin-left: 0.7em;
}
