.list-item {
    padding: 0.7em $padding;
    display: block;
    position: relative;
    border: 1px solid $border-color;
    background-color: $body-bg;
    margin-bottom: $spacer;
}

.list-item--squashed {
    border: 0;
    margin-bottom: 2px;
}

.list-item__title {
    margin: 0 0 0.5rem;
    font-size: $font-size-lg;

    a {
        color: inherit;
        text-decoration: none;

        &:focus,
        &:hover {
            color: $brand-secondary;
        }
    }
}

.list-item__subtitle {
    margin-bottom: 0.5em;

    @include secondary-text;
    color: contrast-color($body-bg, lighten($text-color, 25%));
    font-size: $font-size-sm;
}

.list-item__labels {
    @include clearfix;
    margin: 0 0 0.4rem;
}

.list-item__label--moderator-feedback {
    float: right;
    margin-left: 0.5em;
}

.list-item__author {
    margin-right: 0.3em;
}

.list-item__stats {
    float: right;
    margin-left: 0.5em;
}

.list-item__action {
    display: inline;
}

.list-item .is-read-only {
    padding: 0;
}

.list-item__comments {
    margin-left: 0.7em;
}
