.maplist-list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.maplist-item__vertical,
.maplist-item__horizontal {
    border: 1px solid $border-color;
    position: relative;
    width: 100%;
    margin: 0 $r-spacer $r-spacer $r-spacer;
}

.maplist-item__plan {
    padding: $padding;
}

.maplist-item__proj {
    display: flex;
}

.maplist-item__img {
    position: relative;
    flex-basis: 250px;
}

.maplist-item__img-copyright {
    position: absolute;
    bottom: 0;
}

.maplist-item__content {
    padding: $padding;
}

.maplist-item__roofline {
    font-size: $font-size-sm;
    color: $gray;
}

.maplist-item__title {
    margin-top: 0;
    color: $brand-secondary;
}

.maplist-item__stats {
    position: absolute;
    bottom: $padding;
}

.maplist-item__proj-count,
.maplist-item__status {
    color: $text-color;

    i {
        padding-right: $padding;
        color: $brand-secondary;
    }
}

.maplist-item__status-active {
    color: $brand-primary;
}

.maplist-item__status-inactive {
    color: $gray;
}

//vertical tile structure
.maplist-item__vertical {
    min-height: 250px;

    .maplist-item__proj {
        flex-direction: column;
    }

    .maplist-item__label-spacer {
        margin-bottom: 1.5*$r-spacer;
    }

    .maplist-item__label {
        position: absolute;
        top: $r-spacer;
    }

    @media screen and (min-width: $breakpoint-xs) {
        width: 45%;
    }

    @media screen and (min-width: $breakpoint-md) {
        width: 30%;
    }
}

//horizontal tile structure
.maplist-item__horizontal {
    .maplist-item__proj {
        flex-direction: row;
    }

    .maplist-item__content {
        position: relative;
        flex: 1;
    }
}
