@media (min-width: $breakpoint) {
    .menu-layout {
        @include clearfix;
        margin-top: 2em;
    }

    .menu-layout__menu {
        @include grid-span(3, 0);
    }

    .menu-layout__content {
        @include grid-span(9, 3);
    }
}
