.menu-layout__menu,
.menu-layout__content {
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (min-width: $breakpoint) {
    .menu-layout {
        @include clearfix;
    }

    .menu-layout__menu {
        @include grid-span(3, 0);
    }

    .menu-layout__content {
        @include grid-span(9, 3);
    }
}
