.pagination {
    @include clearfix;
    display: inline-block;
    padding: 0;
    padding-right: 1px;
    background-color: $body-bg;
}

.pagination-item {
    float: left;
    display: inline-block;
    border: 1px solid $border-color;

    a,
    button {
        display: inline-block;
        margin-right: -1px;
        padding: 0.5 * $spacer 0.87 * $spacer;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: $bg-secondary;
            color: $primary;
        }

        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            color: $border-color;
        }
    }

    &.active {
        background-color: $link-color;
        color: $text-color-inverted;
        border-color: $link-color;

        & a,
        & button {
            background-color: $link-color;
            border-color: $link-color;
            color: $text-color-inverted;
        }

        & a:hover,
        & a:focus,
        & button:hover,
        & button:focus {
            color: $primary;
        }
    }
}
