.paragraph {
    padding: $padding;
    display: block;
    position: relative;
    margin-bottom: $spacer;
}

.paragraph-title {
    font-size: $font-size-lg;
}

.paragraph-comments {
    margin: 0 0 0.8rem;
    font-size: $font-size-sm;
    float: right;
}
