$circle-size: 0.6em;

.timeline {
    text-align: center;
    color: $link-color;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-bottom: 1em + $circle-size;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: "";
            height: 1px;
            margin: auto;

            position: absolute;
            left: -15px;
            right: -15px;
            bottom: -$circle-size;

            background-color: $border-color;
        }

        &:first-child:before {
            left: 50%;
        }

        &:last-child:before {
            right: 50%;
        }
    }
}

.timeline__button {
    font-size: $font-size-sm;

    &:after {
        content: "";
        width: $circle-size;
        height: $circle-size;

        position: absolute;
        bottom: (-$circle-size * 1.5);
        left: 50%;
        margin-left: -($circle-size / 2);

        background-color: $body-bg;
        border: 1px solid $border-color;
        border-radius: 50%;
        box-shadow: 0 0 0 0.2em $body-bg;
    }

    &.is-active {
        &:after {
            border-color: $link-color;
        }
    }

    &.is-selected {
        @include button-color($link-color, $link-hover-color);

        &:after {
            @include button-color($link-color, $link-hover-color);
        }
    }
}

.phase-info {
    margin-bottom: $spacer * 2;
    padding: $padding;
    border-left: 0.3em solid transparent;
}

.phase-info--active {
    background-color: $bg-tertiary;
    border-left-color: $brand-primary;
}

.phase-info__title {
    font-size: $font-size-xl;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.phase-info__subtitle {
    margin-bottom: 0.5rem;
}
