.phase-list {
    text-align: center;
    color: $link-color;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-bottom: 0.5em;

        &:after {
            content: "";
            height: 1px;
            margin: auto;

            position: absolute;
            left: 100%;
            right: -15px;
            top: 0;
            bottom: 0;

            background-color: $brand-secondary;
        }

        &:last-child {
            margin-right: 0;
        }

        &:last-child:after {
            content: none;
        }
    }
}

.phase-list__button {
    @extend %button-base;
    padding: 0.1em 0.7em;
    font-weight: normal;
    font-size: $font-size-sm;
    border-radius: 1.3em;
    margin-bottom: 0;
    vertical-align: middle;

    background-color: contrast-color($link-color);
    color: $link-color;
    border-color: $link-color;

    &:hover,
    &:focus {
        color: $link-hover-color;
        border-color: $link-hover-color;
    }

    &.is-active {
        @include button-color($link-color, $link-hover-color);
    }
}

.phase-info {
    margin-bottom: $spacer * 2;
}

.phase-info__title {
    font-size: $font-size-xl;
    margin-bottom: 0.5rem;
}

.phase-info__subtitle {
    margin-bottom: 0.5rem;
}
