.poll {
    padding: 1.5em;
    margin-bottom: $em-spacer;

    background-color: $body-bg;

    h2 {
        margin-top: 0;
    }
}

.poll__actions > :last-child {
    margin-top: 0.5em;
    display: block;

    @media (min-width: $breakpoint) {
        display: inline-block;
    }
}

.poll__help-text {
    color: $gray-lighter;
    margin-top: -0.7em;
    margin-bottom: 0.5em;
}

.poll-row__container {
    position: relative;
}

.poll__rows {
    margin-bottom: 1em;
}

.poll-row {
    position: relative;
    z-index: 1;
    padding: 0.2em 0;
    margin-bottom: 0.5em;

    @include clearfix;

    &--answered {
        left: 2rem;
    }
}

.poll-row__chosen {
    color: $gray-lighter;
    border: 3px solid $gray-lighter;
    border-radius: 1rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    position: absolute;
    top: 0.2rem;
}

.poll-row__radio,
.poll-row__number,
.poll-row__label {
    display: inline-block;
    margin: 0;
    margin-right: 0.2em;
}

.poll-row__number {
    padding-left: 0.5em;
    min-width: 5em;
    font-weight: bold;
}

.poll-row__bar {
    background-color: $bg-tertiary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.3em;
    z-index: -1;
    width: 0;
    min-width: 0.4em;

    transition: width 0.3s;

    @media print {
        border: 1px solid $border-color;
    }
}

.poll-row__bar--highlight {
    background-color: $brand-primary-tint;
    max-width: 96% !important;
}

// additional new poll module style classes
.pollmanagement-actions-container {
    display: flex;
    flex-direction: column;
}

.pollmanagement-actions-button-container {
    margin: 0.25rem 0;

    & > * {
        width: 100%;
    }
}

.pollmanagement-questionform-container {
    font-size: 0.875rem;
}

.questionform {
    display: block;
    margin-bottom: $spacer;
}

.questionform__content--border {
    margin-bottom: $spacer / 2;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: ($padding / 2);
}

.questionform__actions {
    text-align: right;
}

.questionform-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.questionform-button-wrapper {
    margin: 0.5rem 0;
}

.submenu-item__first {
    border-color: $brand-secondary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
        border-color: $brand-secondary;
        background-color: $bg-secondary;
    }
}

.submenu-item__last {
    border-top: 0;
    border-color: $brand-secondary;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
        border-color: $brand-secondary;
        background-color: $bg-secondary;
    }
}

.pollmanagement-menu-container-override {
    margin: 0 1rem;
}

@media (min-width: $breakpoint) {
    .questionform {
        @include clearfix;
    }

    .questionform__content {
        @include grid-span(9, 0);
    }

    .questionform__actions {
        @include grid-span(3, 9);
    }

    .pollmanagement-actions-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .pollmanagement-actions-button-container > * {
        width: inherit;
    }

    .pollmanagement-menu-container-override {
        margin: 0;
    }

    .questionform-buttons-container {
        flex-direction: row;
    }

    .questionform-button-wrapper {
        margin: 0;
        margin-right: 0.5rem;
    }
}

.pollmanagement-actions-button-container {
    margin: 0.25rem 0;

    & > * {
        width: 100%;
    }
}

.pollmanagement-questionform-container {
    font-size: 0.875rem;
}

.questionform {
    display: block;
    margin-bottom: $spacer;
}

.questionform__content--border {
    margin-bottom: $spacer / 2;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: ($padding / 2);
}

.questionform__actions {
    text-align: right;
}

.submenu-item__first {
    border-color: $brand-secondary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
        border-color: $brand-secondary;
        background-color: $bg-secondary;
    }
}

.submenu-item__last {
    border-top: 0;
    border-color: $brand-secondary;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
        border-color: $brand-secondary;
        background-color: $bg-secondary;
    }
}

.pollmanagement-menu-container-override {
    margin: 0 1rem;
}

@media (min-width: $breakpoint) {
    .questionform {
        @include clearfix;
    }

    .questionform__content {
        @include grid-span(9, 0);
    }

    .questionform__actions {
        @include grid-span(3, 9);
    }

    .pollmanagement-actions-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .pollmanagement-actions-button-container > * {
        width: inherit;
    }

    .pollmanagement-menu-container-override {
        margin: 0;
    }
}
