.popover-content {
    background-color: $popover-remark-bg;
    font-style: italic;
    padding: 15px;
    color: $popover-remark-color;
    box-shadow: 0 0 40px 0 $shadow;
}

.popover__hint .fa {
    margin-right: 5px;
}

.popover__input textarea {
    background-color: $popover-remark-bg;
    border: 0;
    font-style: italic;
    color: $popover-remark-color;

    &:focus {
        outline: none;
    }
}

.popover__btn {
    position: relative;
    margin-right: 5px;
}

.popover__btn__notify {
    color: $brand-primary;
    position: absolute;
    top: -8px;
    right: -5px;
}
