.popover {
    box-shadow: 0 0 1em $shadow;
}

.popover-title {
    font-size: $font-size-lg;
    background: none;
    border: 0;
    margin-top: 0;
}

.popover__subtitle {
    font-size: $font-size-sm;
    margin-bottom: $spacer;
}
