.popover-content {
    background-color: #faf5d1;
    font-style: italic;
    padding: 15px;
    color: #999;
    box-shadow: 0px 0px 40px 0px #999;
}

.popover__hint .fa {
    margin-right: 5px;
}

#idea--popover__input {
    background-color: #faf5d1;
    border: 0;
    font-style: italic;
    color: #999;
}
