.progress-line {
    list-style: none;
    padding: $padding 0 $padding 2*$padding;

    &__entry {
        position: relative;
        color: $text-color-gray;
        padding-top: 4*$padding;
    }

    &__entry.active {
        color: $text-color;
    }
}

.progress-line__line {
    position: absolute;
    left: 7px;
    top: 0;
    height: 4*$padding;
    border-left: 2px solid $text-color-gray;
}

.progress__check-unpublished {
    fill: $bg-tertiary;
}
