
.radio__input {
    @include sr-only;
}

$checkbox-size: 20px;

.radio__text {
    display: block;
    padding-left: $checkbox-size + 7px;

    position: relative;

    &:before,
    &:after {
        content: "";
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: $checkbox-size;
        height: $checkbox-size;

        background-color: $bg-secondary;
        border: 1px solid $border-color;
        border-radius: $checkbox-size / 2;
    }

    &:after {
        transition: transform 0.3s, opacity 0.3s;
        transform: scale(1.3);
        opacity: 0;
    }
}

.radio__input:checked + .radio__text:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: contrast-color($brand-secondary);
    text-align: center;
    font-size: $font-size-sm;

    width: $checkbox-size;
    height: $checkbox-size;
    padding-top: 2px;

    position: absolute;
    left: 0;
    top: 0;

    background-color: $brand-secondary;
    border-radius: $checkbox-size / 2;

    transform: scale(1);
    opacity: 1;
}
