.resource-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.3em 0;
    position: relative;
    margin-bottom: 1em;

    text-align: center;

    @media (min-width: $breakpoint) {
        padding: 3em 0 4em;
    }
}

.resource-header--image {
    min-height: $hero-height-mobile;
    background-size: cover;
    color: contrast-color($brand-primary);

    @media (min-width: $breakpoint) {
        min-height: $hero-height-secondary;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(#000, 0.5);
    }
}

.resource-header__meta,
.resource-header__action {
    margin-bottom: 1.5rem;
}

.resource-header__title {
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
    font-size: $font-size-lg;

    @media (min-width: $breakpoint) {
        font-size: $font-size-xxl;
    }
}

.resource-header__type {
    @include secondary-text;
    margin-bottom: 0.9em;
}
