.resource-header {
    padding: 3em 0 4em;
    position: relative;
    margin-bottom: 1em;

    text-align: center;
}

.resource-header--image {
    min-height: 30em;

    -webkit-background-size: cover;
    background-size: cover;

    color: $text-color-inverted;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(37, 51, 119, 0.8);
    }
}

.resource-header__category,
.resource-header__meta,
.resource-header__action {
    margin-bottom: 1.5rem;
}

.resource-header__title {
    margin-bottom: 1.2rem;
    font-size: $font-size-xxl;
}

.resource-navigation {
    @include pie-clearfix;
}

.resource-navigation__breadcrumbs {
    display: inline-block;
}

.resource-navigation__actions {
    float: right;
}

.resource-header__category {
    font-weight: bold;
}
