.resource-header {
    padding: 3em 0 4em;
    position: relative;
    margin-bottom: 1em;
    text-align: center;
}

.resource-header-meta,
.resource-header-action {
    margin-bottom: 1.5rem;
}

.resource-header-title {
    margin-bottom: 1.2rem;
    font-size: $font-size-xxl;
}

.resource-navigation {
    @include pie-clearfix;
}

.resource-navigation-breadcrumbs {
    display: inline-block;
}

.resource-navigation-actions {
    float: right;
}
