.resource-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0 4em;
    position: relative;
    margin-bottom: 1em;

    text-align: center;

    @media (max-width: $breakpoint) {
        padding: 1.3em 0;
    }
}

.resource-header--image {
    min-height: $hero-height-mobile;
    background-size: cover;
    color: contrast-color($brand-primary);

    @media (min-width: $breakpoint) {
        min-height: $hero-height-secondary;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba($brand-primary, 0.8);
    }
}

.resource-header__meta,
.resource-header__action {
    margin-bottom: 1.5rem;
}

.resource-header__title {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: $font-size-xxl;

    @media (max-width: $breakpoint) {
        font-size: $font-size-lg;
    }
}

.resource-navigation {
    @include pie-clearfix;
}

.resource-navigation__breadcrumbs {
    display: inline-block;
}

.resource-navigation__actions {
    float: right;
}
