.status-item {
    position: absolute;
    bottom: 2*$padding;
    right: 2*$padding;
    left: 2*$padding;
    text-align: left;
}

.status-bar__active {
    position: relative;
    height: 5px;
    background-color: $bg-tertiary;
    margin-bottom: 0.5*$r-spacer;
}

.status-bar__active-fill {
    background-color: $brand-primary;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.status-bar__past {
    padding: $padding;
    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    text-align: center;
}

.status-bar__status {
    color: $text-color;

    i {
        padding-right: 0.5*$padding;
        color: $brand-secondary;
    }
}
