.status-item {
    margin-top: 2*$r-spacer;
}

.status-bar__active {
    position: relative;
    height: 5px;
    background-color: $bg-tertiary;
    margin-bottom: $r-spacer;
}

.status-bar__active-fill {
    background-color: $brand-primary;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.status-bar__past {
    padding: $padding;
    background-color: $brand-secondary;
    color: contrast-color($brand-secondary);
    text-align: center;
}
