
.tile__lg {
    height: 75%;
}

.tile__md {
    height: 50%;
}

.tile__sm {
    height: 25%;
}

.storefront {
    margin-top: 3rem;
    display: flex;
    font-size: $font-size-base;
    padding-bottom: 6*$padding;
}

.storefront__col {
    display: flex;
    flex-direction: column;
    min-height: 600px;

    @media (min-width: $breakpoint) {
        width: 33.3%;
    }
}

.storefront__item {
    margin: $spacer;
    padding: $padding;
    box-shadow: 0 0 20px 0 $shadow;
    flex: 0 1 6rem;
    flex-wrap: wrap;

    h1 {
        margin-top: 0;
    }

    .list-item__stats {
        font-size: $font-size-sm;
        color: $gray;
    }

    .item-detail__labels {
        float: left;
    }

    @media (min-width: $breakpoint) {
        flex: none;
    }
}

.storefront__img {
    color: $white;
}

.storefront__stat-sm {
    background-color: $brand-primary;
    color: $white;
}

.storefront__stat-lg {
    background-color: $brand-secondary;
    color: $white;
}

.storefront__quote {
    text-align: center;

    h2 {
        font-weight: bold;
    }
}

.storefront__proj {
    text-align: center;

    h6 {
        padding-top: 3rem;
    }

    h2 {
        margin-top: 0;
    }
}

.storefront__local {
    text-align: center;
    padding: 3rem 3rem;
}
