
.tile__lg {
    height: 75%;
}

.tile__md {
    height: 50%;
}

.tile__sm {
    height: 25%;
}

//mobile
// @media (min-width: $breakpoint) {
//     .storefront__img,
//     .storefront__stat-sm,
//     .storefront__proj,
//     .storefront__quote, {
//         display: none;
//     }
//
// }
// //tablet
// @media (min-width: $breakpoint) {
// }

.storefront {
    margin-top: 3rem;
    display: flex;
    font-size: $font-size-base;
    padding-bottom: 6*$padding;
}

.storefront__col {
    display: flex;
    flex-direction: column;
    min-height: 632px;

    @media (min-width: $breakpoint) {
        width: 33.3%;
    }
}

.storefront__item {
    margin: $spacer 0;
    padding: $padding;
    box-shadow: 0 0 20px 0 $shadow;
    flex: 0 1 6rem;
    flex-wrap: wrap;

    .list-item__stats {
        font-size: $font-size-sm;
        color: $gray;
    }

    .item-detail__labels {
        float: left;
    }

    @media (min-width: $breakpoint) {
        flex: none;
    }
}

.storefront__sm-text {
    padding-top: 3rem;
}

.storefront__md-text {
    margin-top: 0;
}

.storefront__lg-text {
    margin-top: 0;
    color: $white;
    text-shadow: 0 0 3px $shadow;
}

.storefront__xl-text {
    font-size: 2*$font-size-xxl;
    line-height: 1.8*$font-size-xxl;
}

.storefront__quote-text {
    font-weight: bold;
    font-style: italic;
}

.storefront__stat-sm {
    font-size: $font-size-lg;
    background-color: $brand-primary;
    color: $white;
}

.storefront__stat-lg {
    font-size: $font-size-lg;
    background-color: $brand-secondary;
    color: $white;
}

.storefront__stat-text {
    width: 66%;
    margin-top: 0.8rem;
}

.storefront__quote,
.storefront__proj,
.storefront__district,
.storefront__proj-quote {
    text-align: center;
}

.storefront__district {
    padding: 3*$padding 3*$padding;
}
