.tile__lg {
    height: 75%;
}

.tile__md {
    height: 75%;

    @media screen and (min-width: $breakpoint-xs) {
        height: 50%;
    }
}

.tile__sm {
    height: 25%;
}

.storefront {
    display: flex;
    font-size: $font-size-base;
    padding-bottom: 3*$padding;

    @media screen and (min-width: $breakpoint-xs) {
        padding-bottom: 6*$padding;
    }
}

.storefront__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;

    @media screen and (min-width: $breakpoint-md) {
        width: 33.3%;
    }

    @media screen and (min-width: $breakpoint-xs) {
        width: 50%;
        min-height: 632px;
    }
}

.storefront__first-col {
    margin-right: $r-spacer;
}

.storefront__mid-col {
    margin-left: $r-spacer;
    margin-right: $r-spacer;

    @media screen and (min-width: $breakpoint-xs) {
        margin-right: 0;
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-right: $r-spacer;
    }
}

.storefront__last-col {
    margin-left: $r-spacer;

    @media screen and (max-width: $breakpoint-xs) {
        margin: auto;
    }
}

.storefront__item {
    margin: $r-spacer 0;
    padding: $padding;
    flex: 0 1 6rem;
    flex-wrap: wrap;
    position: relative;
    background-color: $body-bg;
    overflow-wrap: break-word;

    .list-item__stats {
        font-size: $font-size-sm;
        color: $gray;
    }

    .item-detail__labels {
        float: left;
    }

    @media screen and (min-width: $breakpoint-xs) {
        flex: none;
    }
}

.storefront__sm-text {
    margin-bottom: 0;
    padding-top: 3*$padding;
    color: $gray;
}

.storefront__lg-text {
    margin-top: 0;
    color: $white;
    text-shadow: 0 0 3px $shadow;
    width: 75%;
}

.storefront__xl-text {
    font-size: 2*$font-size-xxl;
    line-height: 1.8*$font-size-xxl;
}

.storefront__quote-text {
    font-size: $font-size-lg;
    font-weight: bold;
    font-style: italic;
    padding: $padding 0;
    margin: auto;

    @media screen and (min-width: $breakpoint-xs) {
        padding: 2*$padding 0;
    }
}

.storefront__proj-text {
    margin-top: 0;
}

.storefront__district-text {
    padding: $padding 0;
}

@media screen and (max-width: $breakpoint-xs-down) {
    .storefront__quote-text,
    .storefront__district-text {
        margin-top: 0;
    }
}

.storefront__stat-sm {
    font-size: $font-size-lg;
    background-color: $brand-primary;
    color: $white;
}

.storefront__stat-lg {
    font-size: $font-size-lg;
    background-color: $brand-secondary;
    color: $white;
}

.storefront__stat-text {
    width: 75%;
    margin-top: 0.8rem;
}

.storefront__proj {
    min-height: 250px;
}

.storefront__quote,
.storefront__proj,
.storefront__district,
.storefront__proj-quote {
    text-align: center;
    box-shadow: 0 0 20px 0 $shadow;
}

.storefront__district {
    padding: 2*$padding 2*$padding;
    color: $brand-secondary;

    @media screen and (min-width: $breakpoint-xs) {
        padding: 3*$padding 3*$padding;
    }
}

.storefront__ending-icon {
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.storefront__ending-icon-spacer {
    padding-bottom: $padding;
}
