.switch-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: $r-spacer;

    .btn--transparent {
        color: $brand-secondary;
        margin: 0 $r-spacer $r-spacer 0;

        &:hover,
        &:focus {
            color: $brand-primary;
        }
    }

    @media screen and (min-width: $breakpoint-xs) {
        margin-bottom: 0;
    }
}

.switch-label > .switch-input[type="checkbox"] {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: -1;
}

.switch-label {
    cursor: pointer;
    position: relative;
}

.switch-label__text {
    vertical-align: super;
}

.switch__toggle:before,
.switch__toggle:after {
    content: '';
    margin-left: 0.5*$r-spacer;
    display: inline-block;
    border-radius: 16px;
}

.switch__toggle:before {
    display: inline-block;
    height: 32px;
    width: 50px;
    background: $brand-secondary;
    transition: all 0.4s ease-in-out;
}

.switch__toggle:after {
    position: absolute;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease-in-out;
    height: 24px;
    width: 24px;
    background: $body-bg;
}

.switch-input[type="checkbox"]:checked {
    & + .switch__toggle:before {
        background: inherit;
        border: 1px solid $gray-lighter;
    }

    & + .switch__toggle:after {
        background: inherit;
        top: 4px;
        right: 22px;
        border: 1px solid $gray-lighter;
    }
}

.switch-group {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.switch--btn {
    color: $brand-secondary;

    &:active,
    &:hover,
    &:focus {
        color: $body-bg;
        background-color: $brand-secondary;
        border-color: $brand-secondary;
    }
}

.switch--btn.active {
    color: $body-bg;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

.switch-btn-group-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media screen and (max-width: $breakpoint-xs-down) {
        width: 100%;
    }
}

.switch-filter__label {
    width: 100%;
    padding-bottom: 0.5*$padding;
}

.switch-filter__btn-group {
    min-width: 1px; //stop mapswitch swapping sides
}
