.switch > input[type="checkbox"] {
    display: none;
}

.switch {
    label {
        cursor: pointer;
        height: 0;
        position: relative;
        top: 2px;
        width: 40px;
    }

    label:before {
        background: $brand-secondary;
        border-radius: 16px;
        content: '';
        height: 30px;
        margin-top: -15px;
        position: absolute;
        transition: all 0.4s ease-in-out;
        width: 47px;
        border: 1px solid $brand-secondary;
    }

    label:after {
        background: $body-bg;
        border-radius: 16px;
        content: '';
        height: 24px;
        left: 2px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
        border: 1px solid $brand-secondary;
    }

    input[type="checkbox"]:checked {
        & + label:before {
            background: inherit;
            // opacity: 0.5;
        }

        & + label:after {
            background: inherit;
            left: 20px;
        }
    }
}

.switch-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: $spacer;
}

.switch-label {
    width: 6rem;
    margin-top: -0.5rem;
}
