.switch-label > .switch-input[type="checkbox"] {
    display: none;
}

.switch-label {
    cursor: pointer;
    position: relative;
}

.switch-label__text {
    vertical-align: super;
}

.switch__toggle:before,
.switch__toggle:after {
    content: '';
    margin-left: 0.5*$r-spacer;
    display: inline-block;
    border-radius: 16px;
}

.switch__toggle:before {
    display: inline-block;
    height: 32px;
    width: 50px;
    background: $brand-secondary;
    transition: all 0.4s ease-in-out;
}

.switch__toggle:after {
    position: absolute;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease-in-out;
    height: 24px;
    width: 24px;
    background: $body-bg;
}

.switch-input[type="checkbox"]:checked {
    & + .switch__toggle:before {
        background: inherit;
        border: 1px solid $gray-lighter;
    }

    & + .switch__toggle:after {
        background: inherit;
        top: 4px;
        right: 22px;
        border: 1px solid $gray-lighter;
    }
}

.switch-group {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: $spacer;
}

.switch--btn {
    color: $brand-secondary;

    &:hover,
    &:focus {
        color: $brand-primary;
    }

    &:active {
        color: $body-bg;
        background-color: $brand-secondary;
        border-color: $brand-secondary;
    }
}

.switch--btn.active {
    color: $body-bg;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}
