.tabpanel {
    display: none;

    &.active {
        display: block;
    }
}

.tablist {
    border-bottom: 2px solid $border-color;
    text-align: center;
    margin-bottom: $spacer * 2;
}

.tab {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    padding: 0.4em 0.6em;
    margin-right: 0.5em;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus,
    &.active {
        color: $link-color;
    }

    &.active:after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -2px;
        background-color: $link-color;
    }
}

.tab-errorcount {
    color: $brand-danger;
}
