.tile {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    margin-bottom: $padding;
}

.tile__head {
    position: relative;
}

.tile__image {
    display: block;
    min-height: 11.8em;

    background-size: cover;
    background-color: $brand-primary;
}

.tile__image--shadowed {
    &:before {
        content: ' ';
        width: 100%;
        height: 6em;

        position: absolute;
        bottom: 0;

        // add an additional step for a smoother gradient
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.8));
    }
}

.tile__body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: $padding;

    > :last-child {
        margin-bottom: 0;
    }
}

.tile__text {
    flex: 1 0 auto;
}

.tile__title {
    font-size: $font-size-lg;
    margin-top: 0;
}

.tile__badge {
    height: 3.4em;
    width: 3.4em;

    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
}

.tile__label {
    position: absolute;
    bottom: 0.8em;
    left: 0.8em;
}

.tile__hint {
    color: $brand-danger;
    font-size: $font-size-sm;
}
