{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading mt-0">{% translate 'Export' %}</h1>

    <p class="form-hint">{% blocktranslate %}You can export the results of your participation project as an excel file.{% endblocktranslate %}</p>
<table class="export-table">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
  <tbody>
    {% if export %}
    <tr>
        <td class="export-table__txt-cell" id="id-export-hint">
            {% translate "here you can export all ideas" %}
        </td>
        <td class="export-table__btn-cell">
            <a class="btn btn--secondary" aria-labelledby="id-export-hint" href="{{ export }}">
                {% translate "Export" %}
            </a>
        </td>
    </tr>
    {% endif %}
    {% if subject_export %}
    <tr>
        <td class="export-table__txt-cell" id="id-subject-export-hint">
            {% translate "here you can export all subjects" %}
        </td>
        <td class="export-table__btn-cell">
            <a class="btn btn--secondary" aria-labelledby="id-export-hint" href="{{ subject_export }}">
                {% translate "Export" %}
            </a>
        </td>
    </tr>
    {% endif %}
    {% if poll_export %}
    <tr>
        <td class="export-table__txt-cell" id="id-export-poll-hint">
            {% translate "here you can export all answers" %}
        </td>
        <td class="export-table__btn-cell">
            <a class="btn btn--secondary" aria-labelledby="id-export-comment-hint" href="{{ poll_export }}">
                {% translate "Export" %}
            </a>
        </td>
    </tr>
    {% endif %}
    {% if comment_export %}
    <tr>
        <td class="export-table__txt-cell" id="id-export-comment-hint">
            {% translate "here you can export all comments" %}
        </td>
        <td class="export-table__btn-cell">
            <a class="btn btn--secondary" aria-labelledby="id-export-comment-hint" href="{{ comment_export }}">
                {% translate "Export" %}
            </a>
        </td>
    </tr>
    {% endif %}
</table>
</tbody>
{% endblock %}
