{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n widget_tweaks %}

{% block title %}{% trans 'Email Addresses' %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
<h1 class="u-first-heading">{% trans 'Email Addresses' %}</h1>

<form class="multiform" action="{% url 'account_email' %}?next={{ request.path|urlencode }}" method="post">
    {% csrf_token %}
    {% for emailaddress in user.emailaddress_set.all %}
    <div class="form-check">
        <label class="form-check__label">
            <input type="radio" name="email"
                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {% endif %}
                   value="{{emailaddress.email}}">
            {{ emailaddress.email }}
            {% if emailaddress.primary %}
            <span class="label">{% trans "Primary" %}</span>
            {% endif %}
            {% if emailaddress.verified %}
            <span class="label">{% trans "Verified" %}</span>
            {% else %}
            <span class="label">{% trans "Unverified" %}</span>
            {% endif %}
        </label>
    </div>
    {% endfor %}

    <div class="u-spacer-bottom">
        <button class="btn btn--primary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
        <button class="btn btn--secondary" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
        <button class="btn btn--secondary" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
    </div>
</form>

<form class="multiform" method="post" action="{% url 'account_email' %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <ul class="errorlist" aria-live="assertive" aria-atomic="true">
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="form-group">
        <label class="control-label" for="{{ form.email.id_for_label }}">{% trans "Add another Email" %}</label>
        {% if form.email.errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.email.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {{ form.email|add_class:"form-control"|add_error_attr:"aria-invalid:true" }}
    </div>
    <div class="u-spacer-bottom">
        <input class="btn btn--primary" name="action_add" type="submit" value="{% trans 'Add Email' %}"/>
    </div>
</form>
{% endblock %}
