{% extends "account/base.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% translate "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <h1>{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktranslate %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktranslate %}
    </p>
{% endblock content %}
