{% extends "meinberlin_account/account_dashboard.html" %}

{% load i18n widget_tweaks %}

{% block title %}{% trans "Change password" %} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <h1 class="u-first-heading">{% trans 'Change your password' %}</h1>

    <form name="PasswordChangeForm" action="{% url 'account_change_password' %}" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul class="errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="form-group">
            <label for="{{ form.oldpassword.id_for_label }}">{% trans "Password" %}</label>
            {% if form.oldpassword.errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.oldpassword.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {{ form.oldpassword|add_error_attr:"aria-invalid:true" }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
            {% if form.password1.errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.password1.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {{ form.password1|add_error_attr:"aria-invalid:true" }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">{% trans "Repeat password" %}</label>
            {% if form.password2.errors %}
                <ul class="errorlist" aria-live="assertive" aria-atomic="true">
                {% for error in form.password2.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {{ form.password2|add_error_attr:"aria-invalid:true" }}
        </div>

        <div class="u-spacer-bottom">
            <button type="submit" value="reset" class="btn btn--primary">{% trans "Change password" %}</button>
        </div>
    </form>
{% endblock %}
