<div class="listItem">
    <div class="listItem-stats">
        <span class="rating-up is-read-only">
            {{ idea.positive_rating_count }}
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </span>
        <span class="rating-down is-read-only">
            {{ idea.negative_rating_count }}
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </span>
        <span>
            {{ idea.comment_count }}
            <i class="fa fa-comment-o" aria-hidden="true"></i>
        </span>
    </div>
    <h3 class="listItem-title">
        <a href="{% url 'idea-detail' idea.slug %}">
        {{ idea.name }}
        </a>
    </h3>
    <span class="listItem-author">
        {{ idea.creator.username }}
    </span>
    <span class="listItem-date">
        {{ idea.created | date }}
    </span>
</div>
