{% extends "base.html" %}
{% load widget_tweaks i18n thumbnail %}

{% block content %}
<div class="container">
    <div class="offset-lg-3 col-lg-6 mb-5">
        <h2>{% translate 'Here you can ask your question'%}</h2>
        <div>
            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {% include 'meinberlin_contrib/includes/form_field.html' with field=field %}
                {% endfor %}

                <div class="row">
                    <div class="col-12 col-sm-2">
                        <button type="submit" class="btn btn--primary btn-block">{% translate 'post'%}</button>
                    </div>
                </div>
            </form>
        </div>

        {% block extra_js %}
            {{ block.super }}
            {{ form.media.js }}
        {% endblock %}
        {% block extra_css %}
            {{ block.super }}
            {{ form.media.css }}
        {% endblock %}
    </div>
</div>
{% endblock %}
