{% extends extends %}
{% load static i18n discovery_tags react_questions ckeditor_tags wagtailcore_tags %}

{% block phase_content %}
    {% if url_name == 'module-detail' %}
        {% react_questions view.module %}
        {% block other_modules %}{% endblock other_modules %}
    {% else %}
    <div class="bg--light">
        <div class="container">
            <div class="offset-lg-3 col-lg-6 u-bg-body">
                <h3>{{ module.name }}</h3>
                <div class="alert u-spacer-bottom" role="alert">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                {% translate "During this event you can hand in questions with your smartphone" %}
                </div>
                <div class="u-spacer-bottom">
                    {{ module.description }}
                </div>
                <a class="btn btn--secondary" href="{% url 'module-detail' module.slug %}">{% translate "Go to event" %}</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock phase_content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'live_questions.js' %}"></script>
    {{ block.super }}
{% endblock extra_js %}
