{% extends extends %}
{% load i18n discovery_tags react_questions ckeditor_tags wagtailcore_tags %}

{% block module_description %}
    <h1 class="project-header__title">{{ module.name }}</h1>
    {% if module.active_phase %}
    <span><div class="label label--big label--active"><i class="fas fa-circle text-danger" aria-hidden="true"></i> {% trans 'is live' %}</div></span>
    {% endif %}
{% endblock %}

{% block phase_info %}{% endblock %}

{% block module_nav %}{% endblock %}

{% block phase_content %}
    {% if url_name == 'module-detail' %}
        {% react_questions view.module %}
        {% block other_modules %}{% endblock %}
    {% else %}
    <div class="bg--light">
        <div class="container">
            <div class="col-lg-10 offset-lg-1 u-bg-body">
                <h3>{{ module.name }}</h3>
                <div class="alert" role="alert">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                {% trans 'During this event you can hand in questions with your smartphone' %}
                </div>
                <div class="mb-3">
                    {{ module.description | transform_collapsibles | richtext }}
                </div>
                <a class="btn btn--primary" href="{% url 'module-detail' module.project.organisation.slug module.slug %}">{% trans 'Go to event' %}</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
