{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n react_comments wagtailcore_tags %}

{% block phase_content %}

    {% if chapter_list|length > 1 %}
        <div class="control-bar__top-overlap">
            {% include 'meinberlin_documents/includes/nextprev.html' %}
        </div>
    {% endif %}

    <article class="module-content">
        <div class="l-wrapper">
            <div class="l-center-8">
                {% if chapter_list|length > 1 %}
                    <nav class="doc-toc" aria-label="{% trans 'Table of Contents' %}">
                        <ol>
                            {% for chapter in chapter_list %}
                                <li>
                                    <a href="{% url 'meinberlin_documents:chapter-detail' chapter.pk %}" {% if chapter.pk == object.pk %}class="active"{% endif %}>
                                        {{ chapter.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                {% endif %}

                <h1 class="chapter-title">{{ object.name }}</h1>

                {% for paragraph in object.paragraphs.all %}

                    <section class="paragraph" id="paragraph-{{ object.pk }}-{{ paragraph.pk }}">
                        <div class="paragraph__content">
                            <h2 class="paragraph__title">
                                {{ paragraph.name }}
                            </h2>
                            {{ paragraph.text|richtext }}
                        </div>
                        <div class="paragraph__actions">
                            <a
                                    class="button"
                                    href="{% url 'meinberlin_documents:paragraph-detail' paragraph.pk %}"
                            >
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                {% blocktrans count count=paragraph.comments.all|length %}{{ count }} Comment{% plural %}{{ count }} Comments{% endblocktrans %}
                            </a>
                        </div>
                    </section>

                {% endfor %}
            </div>
        </div>
    </article>

    {% if chapter_list|length > 1 %}
        <div class="control-bar__bottom-overlap">
            {% include 'meinberlin_documents/includes/nextprev.html' %}
        </div>
    {% endif %}


    <div class="l-wrapper">
        <div class="l-center-6">
            {% react_comments object %}
        </div>
    </div>
{% endblock %}
