{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n react_comments %}

{% block phase_content %}
<div class="document">
    <article>
        <h1>{{ object.name }}</h1>

        {% for paragraph in object.paragraphs.all %}

        <section class="commenting">
            <div class="commenting-content">
                <h2 class="commenting-title">
                    {{ paragraph.name }}
                </h2>
                <div class="paragraph-body">
                    {{ paragraph.text|safe }}
                </div>
            </div>
            <div class="commenting-actions">
                <a
                    class="button"
                    title="{% trans 'Comments for this Paragraph' %}"
                    href="{% url 'paragraph-detail' paragraph.pk %}"
                >
                    {{ paragraph.comments.all|length }}
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </a>
            </div>
        </section>

        {% endfor %}
    </article>

    {% react_comments object %}

</div>
{% endblock %}
