{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n react_comments %}

{% block phase_content %}
<div class="document">
    <article>
        <header>
            <h1>{{ object.name }}</h1>
        </header>

        {% for paragraph in object.paragraphs.all %}

        <section class="paragraph">
            <h3 class="paragraph-title">
                {{ paragraph.name }}
            </h3>
            <div class="paragraph-comments">
                <a
                    title="{% trans 'Comments for Paragraph' %}"
                    href="{% url 'paragraph-detail' paragraph.pk %}"
                >
                    {{ paragraph.comments.all|length }}
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                </a>
            </div>
            <p>
                {{ paragraph.text|safe }}
            </p>

            <a href="{% url 'paragraph-detail' paragraph.pk %}">{% trans 'Comments for Paragraph' %}</a>
        </section>

        {% endfor %}
    </article>

    {% react_comments object %}

</div>
{% endblock %}
