{% extends 'meinberlin_projects/project_detail.html' %}
{% load i18n react_comments wagtailcore_tags %}

{% block phase_content %}
    <div class="l-wrapper">
        <article>
            <h1>{{ object.name }}</h1>

            {% for paragraph in object.paragraphs.all %}

                <section class="commenting" id="paragraph-{{ object.pk }}-{{ paragraph.pk }}">
                    <div class="commenting__content">
                        <h2 class="commenting__title">
                            {{ paragraph.name }}
                        </h2>
                        {{ paragraph.text|richtext }}
                    </div>
                    <div class="commenting__actions">
                        <a
                                class="button"
                                title="{% trans 'Comments for this Paragraph' %}"
                                href="{% url 'meinberlin_documents:paragraph-detail' paragraph.pk %}"
                        >
                            {{ paragraph.comments.all|length }}
                            <i class="fa fa-comment-o" aria-label="{% trans 'Comments' %}"></i>
                        </a>
                    </div>
                </section>

            {% endfor %}
        </article>

        <div class="l-center-6">
            {% react_comments object %}
        </div>
    </div>
{% endblock %}
