{% extends "base.html" %}
{% load i18n react_comments react_ratings wagtailcore_tags %}

{% block title %}{{ paragraph.name }} &mdash; {{ paragraph.document.project.name }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="l-center-6">
        <nav class="breadcrumbs" aria-label="{% trans 'breadcrumbs' %}">
            <ul>
                <li>
                    <a href="{% url 'project-detail' paragraph.document.module.project.slug %}">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        {% trans 'back to document' %}</a>
                </li>
            </ul>
        </nav>

        <article class="item-detail">
            <h1 class="item-detail__title">
                {{ paragraph.name }}
            </h1>
            <div class="item-detail__content">
                {{ paragraph.text | richtext }}
            </div>
        </article>
    </div>

    <div class="l-center-6">
        {% react_comments paragraph %}
    </div>
</div>
{% endblock %}
