{% extends "base.html" %}
{% load i18n react_comments react_ratings wagtailcore_tags %}

{% block content %}
<div class="l-wrapper">
    <nav class="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'project-detail' paragraph.document.module.project.slug %}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    {% trans 'back to document' %}</a>
            </li>
        </ul>
    </nav>

    <article class="paragraph">
        <h1 class="paragraph-title">
            {{ paragraph.name }}
        </h1>
        <div class="paragraph-body">
            {{ paragraph.text | richtext }}
        </div>
    </article>

    {% react_comments paragraph %}

</div>
{% endblock %}
