{% load i18n module_tags contrib_tags %}

<li class="list-item list-item--squashed">
    <div class="list-item__stats">
        {% spaceless %}
        {% if object|has_feature:"rate" %}
            <span class="rating">
                <span class="rating-button rating-up is-read-only" title="{% trans 'Positive Ratings' %}">
                    {{ object.positive_rating_count }}
                    <i class="fa fa-chevron-up" aria-label="{% trans 'Positive Ratings' %}"></i>
                </span>
                <span class="rating-button rating-down is-read-only" title="{% trans 'Negative Ratings' %}">
                    {{ object.negative_rating_count }}
                    <i class="fa fa-chevron-down" aria-label="{% trans 'Negative Ratings' %}"></i>
                </span>
            </span>
        {% endif %}
        <span title="{% trans 'Comments' %}">
            {{ object.comment_count }}
            <i class="fa fa-comment-o" aria-label="{% trans 'Comments' %}"></i>
        </span>
        {% endspaceless %}
    </div>
    <h3 class="list-item__title">
        <a href="{{ object.get_absolute_url }}">
        {{ object.name }}
        </a>
    </h3>
    <div class="list-item__labels">
        {% if object.category %}
            <span class="label label--big">{{ object.category }}</span>
        {% endif %}
        {% if object.point_label %}
            <span class="label label--big"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.point_label }}</span>
        {% endif %}
    </div>
    <span class="list-item__author">
        {{ object.creator.username }}
    </span>
    {% html_date object.created class='list-item__date' %}
</li>
